---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="A Petal for Three - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        A Petal for Three
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    instalação site-specific / 2018
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">A Petal for Three</span> 
                    (Uma Pétala para Três) é uma instalação interativa composta por centenas de 
                    espelhos suspensos que são ativados quando três visitantes se posicionam em cada um dos cantos da instalação. 
                    A obra aborda um intenso estado de conexão, que leva à fragmentação de toda a sua estrutura.

                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/q5EyHP6vuBA?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> A Petal for Three</span> vídeo introdução,
                    1 min.
                </div>

                <div class="margin-top-500">
                    Pendurados no teto estão cem espelhos triangulares que formam uma estrutura de 12 metros de largura. 
                    Abaixo dela, um espaço de conexão e interação é criado.
                    <br><br>
                    Por meio de sensores de presença, os triângulos se movem de acordo com a forma em que o público explora 
                    aquele espaço. Quando três pessoas ficam nas extremidades da estrutura, sua presença é reconhecida.
                    <br><br>
                    Isso ativa um sistema invisível de motores, cabos e roldanas que permitem que os espelhos do teto 
                    executem movimentos coreografados em resposta à conexão dos visitantes.                
                </div>

                <div class="margin-top-300">

                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/home/10APetalforThree.webp"
                        class="video-scale margin-top-200"
                    >
                        <source
                            src="/assets/home/10APetalforThree.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/home/10APetalforThree.webm"
                            type="video/webm"
                        />
                    </video>

                    <img class="margin-top-200"
                        src="/assets/pages/a-petal/02.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                       Visitantes interagem com a obra <span class="fstyle-label">A Petal for Three</span>.
                        <br />Fotos por Rafael Socrates.
                    </div>
                </div>

                <div class="fs-eye | margin-top-500">
                    A quantidade de conexões que alguém pode fazer durante a vida só aumentará. 
                    Nunca teremos menos conexões, nossos relacionamentos nunca se tornarão menos complexos.                    
                    - Edson Pavoni
                </div>

                <div class="margin-top-500">
                    Essa complexidade, a mesma presente na estrutura da instalação, é a força motriz de conexões 
                    significativas e intensas. Ao olhar para os fragmentos de espelho suspensos no teto, a imagem 
                    de cada pessoa é vista em constante movimento, mas, ao mesmo tempo, integrando uma única e muito maior imagem.
                </div>

                <img class="margin-top-400"
                        src="/assets/pages/a-petal/04.webp"
                        alt="image"
                        srcset=""
                    />

                <img class="margin-top-200"
                    src="/assets/pages/a-petal/03.webp"
                    alt="image"
                    srcset=""
                />

                <div class="fs-caption text-caption padding-block-caption">
                    Visitantes interagem com a instalação <span class="fstyle-label">A Petal for Three</span>.
                    <br />Fotos por Rafael Socrates.
                </div>



                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni, artista
                    <br /><br />

                    <span class="fs-credits-bold">Em colaboração com</span><br>
                    Lina Lopes & Muti Randolph
                    <br /><br />

                    <span class="fs-credits-bold">Comissionado por</span><br>
                    Youtube
                    <br /><br />

                    <span class="fs-credits-bold">Produção</span><br>
                    Spaces&Creatures - Gui Bullejos, Diego Spinola, Gabriela Veiga, Junior de Gois, Lucas Falcão Artacho, Rafael Neponuceno, Pedro Setubal, Pedro Febrônio, Mari Nagem, Mariana Lacerda & Jonathan Querubina
                    <br /><br />
                    
                    <span class="fs-credits-bold">Cenografia</span><br>
                    Casa Caucaia - Eduardo Marcondes, Sarah Beglionini & Carolina Brandão
                    <br /><br />

                    <span class="fs-credits-bold">Agência Hands</span><br>
                    Marcelo Lenhard, Fernanda Tchernobilsky, Rafael Najm, André Patrício, Fernanda Peltier & Thays Barbosa
                    <br /><br />

                    <span class="fs-credits-bold">Espaço para prototipagem</span><br>
                    Lilo.Zone
                    <br /><br />
                    
                    <span class="fs-credits-bold">Fotografia e Vídeo</span><br>
                    Rafael Socrates

                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
