---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="A Place to Departure - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        A Place to <br>Departure
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    instalação site-specific / 2013, 2015
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">A tecnologia vai nos afastar ou nos aproximar?</span>
                    <br /><br />
                    <span class="fstyle-label">A Place to Departure</span> (Um Lugar para Partir) é uma 
                    instalação interativa que permite que uma pessoa em um local sinta o toque de uma pessoa em outro, 
                    não importa o quão longe elas estejam. Originalmente, conectava Pequim, na China, e São Paulo, no Brasil. 
                    Posteriormente, conectou dois distritos de Dubai, nos Emirados Árabes Unidos.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/9qk6AZvQDyg?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> A Place to Departure</span> vídeo introdução,
                    2 mins.
                </div>

                <div class="margin-top-500">
                    O tato, um dos nossos sentidos mais imediatos e poderosos, é um objeto multidimensional de investigação.
                <br><br>
                 A extensa pesquisa do filósofo Matthew Fulkerson o vê como uma modalidade sensorial 
                única e unificada que desempenha um papel central não apenas na percepção, mas na experiência humana como um todo.                
             </div>

                <div class="fs-eye | margin-top-400">
                    <span class="fstyle-label"> A Place to Departure</span> se aventura nos aspectos simbólicos do toque humano e no papel da tecnologia na criação de instrumentos de conexão.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/01.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div>
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/home/01APlacetoDeparture.webp"
                        class="video-scale margin-top-200"
                    >
                        <source
                            src="/assets/home/01APlacetoDeparture.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/home/01APlacetoDeparture.webm"
                            type="video/webm"
                        />
                  </video>
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> na China, 2014.
                    <br /> Imagens por Pedrinho Fonseca & Jorge Teivelis Neto.
                </div>

                <div class="margin-top-400">
                    Essa instalação específica do local ocorre em dois locais simultaneamente. Em cada local, ela é composta por uma placa de madeira e uma de vidro, 
                    ambas encaixadas transversalmente para criar uma estrutura em forma de V. Quando alguém toca o vidro no Local A e outra pessoa toca o vidro no Local B,
                     ao mesmo tempo, as duas pessoas sentem como se estivessem se tocando através de uma vibração suave no vidro.
                    <br><br>
                    Isso só é possível por meio de uma série de sistemas de feedback háptico que, invisíveis a olho nu, 
                    transmitem informações pela internet.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/02.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> na China, 2014.
                    <br /> Imagens por Pedrinho Fonseca.
                </div>


                <div class="margin-top-400">
                    As tábuas de madeira foram criadas a partir de um algoritmo, desenvolvido por Pavoni e sua equipe, 
                    que utilizou as coordenadas geográficas de cada uma das instalações para construir seu padrão de corte a laser.
                    <br><br>
                    A especificidade de cada localidade, representada por esses padrões, visava também evidenciar seus elementos culturais, históricos e sociais particulares.                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/03.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> na China, 2014.
                    <br /> Fotografia por Pedrinho Fonseca.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Pequim - São Paulo</span>
                    <br /><br />
                    Criada originalmente em 2014, a obra conectou a galeria de arte Coletivo Amor de Madre, em São Paulo, Brasil, 
                    ao Caochangdi Art District, em Pequim, na China.
                </div>

                <div class="fs-bigEye | margin-top-500">
                    "Uma janela <br>na Parede"
                </div>

                <div class="artwork | margin-top-400">
                    Foi assim que a jornalista francesa Anne-France Berthelon descreveu a obra, 
                    referenciando a combinação de ações legislativas e tecnologias conhecidas como o Grande Firewall (parede de fogo) da China, 
                    que monitora e controla o acesso à internet no país. Neste contexto, A Place to Departure adquiriu maior significado geopolítico. 
                    A obra de arte não apenas desafiou tais restrições, mas conseguiu romper as fronteiras intangíveis impostas pelo governo.
                    <br><br>
                    O artista e ativista 
                    <a href="https://www.aiweiwei.com/">Ai Weiwei</a>
                    (Pequim, 1957-) visitou a obra durante a sua montagem em Pequim. Ai, na época, passou 81 dias preso sem acusações, 
                    uma prisão que muitos consideram uma perseguição política ilegal motivada por suas posições críticas ao governo chinês. 
                    Ainda sob tutela do Estado, Ai teve seus movimentos restritos e não pôde deixar o país.

                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/04.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                 O artista Ai Weiwei visita a obra <span class="fstyle-label">A Place to Departure</span> na China, 2014.
                    <br /> Fotografia por Pedrinho Fonseca.
                </div>

                <div class="fs-eye | margin-top-500">
                    "<span class="fstyle-label">A Place to Departure</span> oferece uma oportunidade de conhecer o outro lado do mundo, naturalmente atraente para um artista privado de um passaporte pelas autoridades".
                </div>

                <div class="artwork | margin-top-200">
                    Anne-France Berthelon,<br> sobre o encontro com Ai Weiwei com a obra <span class="fstyle-label">A Place to Departure</span> em 2014.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Al Fahid, Dubai - New District, Dubai</span>
                    <br /><br />
                    Em 2015, encomendada pelo Dubai Design Days, a instalação A Place to Departure foi montada novamente. 
                    Desta vez, conectou o bairro histórico de Al Fahid com o New District de Dubai.                
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/05.webp"
                        alt="image"
                        srcset=""
                    />
                    <img
                        class="margin-top-200"
                        src="/assets/pages/a-place/06.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> fotografada por Edson Pavoni em Dubai, 2015.
                </div>

                <div class="margin-top-400">
                    Conectar dois lugares na mesma cidade trouxe uma dinâmica diferente da instalação anterior. 
                    Ao invés de conectar os participantes com um lugar exterior e desconhecido, eles foram convidados a olhar para dentro, 
                    a reavaliar seu próprio território. Isso gerou reações particularmente esclarecedoras, revelando como o ato de tocar, 
                    em sua magnitude, exerce diferentes papéis em nossas vidas.                
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/07.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> fotografado por Edson Pavoni em Dubai, 2015.
                </div>

                <div class="margin-top-400">
                    Nos Emirados Árabes Unidos, existe um entendimento comum de que o toque é uma ação sagrada e restrita. 
                    É um símbolo poderoso. Espera-se que as mulheres, nesse contexto, geralmente toquem apenas em seus maridos ou familiares.
                </div>
                <div class="margin-top-300">
                    Este código de conduta cultural criou conflitos em alguns participantes. Durante a exposição, quando algumas participantes 
                    entenderam que o envolvimento com a obra significava que estariam tocando um estranho, mesmo que de forma remota e simbólica, 
                    elas optaram por não tocar no vidro.
                </div>
                <div class="fs-quote margin-top-300">
                    "Testemunhar tal reação a esta obra de arte me fez pensar que seus aspectos simbólicos estavam sendo reconhecidos por uma 
                    instância superior. A recusa em tocar a obra e, portanto, tocar remotamente um estranho, foi como se o próprio Deus tivesse 
                    validado aquele gesto como verdadeiro." Edson Pavoni
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni, artista
                    <br /><br />

                    <span class="fs-credits-bold">Curadoria</span><br>
                    Olivia Yassudo
                    <br /><br />

                    <span class="fs-credits-bold">Galeria</span><br>
                    Coletivo Amor de Madre
                    <br /><br />

                    <span class="fs-credits-bold">Produção Executiva</span><br>
                    João Marcos de Souza, Olimpia Pavoni & Nana Janus
                    <br /><br />
                    
                    <span class="fs-credits-bold">Produção & Design</span><br>
                    Pagu Senna & Mari Ventura
                    <br /><br />

                    <span class="fs-credits-bold">Design</span><br>
                    Felipe Minuti, Carolina Anselmo, Vitor Reis, Zeh Fernandes, Junior Magalhães & Raphael Fagundes
                    <br /><br />

                    <span class="fs-credits-bold">Eletrônica</span><br>
                    André Biagioni & Diego Spinola
                    <br /><br />
                    
                    <span class="fs-credits-bold">Fotografia & Vídeo</span><br>
                    Pedrinho Fonseca, Ju Matos & Isabela Herig

                    <br /><br /><br /><br />
                </div>

                
            </div>
        </section>
    </main>
</Layout>
