---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="About - Edson Pavoni">

  <main>
    <section>
      <div class="container">
        <div class="welcome-tile margin-top-900">
          <h1 class="fs-display fw-bold text-positive margin-top-600">
            Sobre
          </h1>
        </div>
      </div>
    </section>

  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fw-bold">Edson Pavoni</span> (São Paulo, 1984) 
        é um artista e tecnologista que propõe imaginários sensíveis 
        para nossas ideias compartilhadas de conexão.
        <br><br>
        Sua prática, que inclui instalações em escala arquitetônica, 
        algoritmos e fabricações digitais, imagens geradas por IA, poesia, 
        fotografia, plataformas digitais e até tecnologia de satélite, 
        visa investigar a intimidade humana em sua interseção com a tecnologia.
        <br><br>
        Através de métodos colaborativos, as obras de Pavoni criam experiências 
        interativas que têm como centro a participação do público. Como é o caso do 
        "Memorial Inumeráveis", uma plataforma de voluntariado que contribui para a 
        humanização da cobertura midiática sobre a pandemia no Brasil, seus trabalhos 
        conseguem engajar milhares de pessoas e já foram destaque nos principais veículos de comunicação e em 
        canais como CNN, Al Jazeera, O Estado de São Paulo, Globo, El País, entre outros.
        <br><br>
        Seu trabalho também se desdobrou em cursos e palestras educativas, como 
        "Construindo a memória pela escrita - o Método Inumeráveis", 
        ministrado pelo artista e pelos voluntários do projeto, promovido pela UNICAMP.
        <br><br>
        Nos últimos anos, a produção de Pavoni conseguiu atingir a estimativa de 1 em cada 34 brasileiros. 
        Já expôs em Bienais, entre elas a 13ª Bienal do Mercosul em Porto Alegre, no Brasil, e a IX Bienal Internacional 
        de Arte Contemporânea em Tashkent, no Uzbequistão.
        <br><br>
        Seus trabalhos já foram exibidos em Nova York, Pequim, Cingapura, Dubai, Lisboa e Rio de Janeiro, 
        entre outras cidades, e foram apresentados em instituições como no Ludwig Museum of Contemporary Art em Budapeste, 
        Hungria; Instituto Inhotim, Brasil; e no Museu do Design e da Moda de Lisboa, Portugal. Suas obras foram encomendadas 
        por empresas como Google, Klabin, NuBank e Accenture.
        <br><br>
        Com mais de 20 anos de experiência ajudando criadores a usar novas tecnologias para suas propostas em arte, 
        comunicação e arquitetura, Pavoni fez parte de equipes criativas que lideraram projetos comissionados por 
        empresas como as Olimpíadas do Rio 2016 e o Banco Interamericano de Desenvolvimento (BID).        
        <br><br>
        Pavoni foi reconhecido como um dos 50 profissionais brasileiros mais inovadores pela Revista Proxxima em 2016
         e recebeu dois IF Design Awards consecutivos em 2017 e 2018. Ainda contribui com projetos selecionados e 
         tecnologicamente inovadores por meio do estúdio Spaces&Creatures, fundado por ele em 2010.
        <br><br>
       Ele vive e trabalha em São Paulo.
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">CV</span><br><br>
        <span class="fw-bold">Exposições individuais</span>
        <br><br>
        <span class="fw-bold">2023</span>
        <br>
        O que não podemos esquecer, 
        curadoria por Carollina Lauriano, 
        Casa Cósmica, São Paulo, Brasil
        <br><br>
        <span class="fw-bold">2022</span>
        <br>
        Sagrado em Fluxo, 
        junto a Juliana Freire, 
        Paã Arquitetura, São Paulo, Brasil
        <br><br>
        Landscapes of the Mind, 
        em colaboração com Lyora Pissarro, 
        Nova Iorque, USA
        <br><br><br>
        <span class="fw-bold">Exposições Coletivas</span>
        <br><br>
        <span class="fw-bold">2022</span>
        <br>
        13a Bienal do Mercosul
        Porto Alegre, Brasil
        <br><br>
        IX International Biennale 
        of Contemporary Art,
        Tashkent, Uzbekistão
        <br><br>
        NTU Global Digital Art Prize 
        Cingapura, Cingapura
        <br><br>
        Maranha, GPA, 
        Rio de Janeiro, Brasil
        <br><br>
        INOVA Klabin, 
        São Paulo, Brasil
        <br><br>
        O tempo das coisas, 
        curadoria por Edmilson Nunes,
        Centro Cultural Correios, Rio de Janeiro, Brasil
        <br><br>
        <span class="fw-bold">2020</span>
        <br>
        Ludwig Museum of Contemporary Art, Budapeste, Hungria
        <br><br>
        <span class="fw-bold">2018</span>
        <br>
        Galeria Baró, São Paulo, Brasil
        <br><br>
        Coletivo Amor de Madre, 
        na SP Arte, 
        São Paulo, Brasil
        <br><br>
        <span class="fw-bold">2017</span>
        <br>
        Como se Pronuncia Design 
        em Português: Brasil hoje, 
        Museu do Design e da Moda, 
        Lisboa, Portugal
        <br><br>
        Festival Meca, Inhotim, 
        Brumadinho, Brasil
        <br><br>
        <span class="fw-bold">2016</span>
        <br>
        Dubai Design District, Dubai, Emirados Árabes Unidos
        <br><br>
        <span class="fw-bold">2015</span>
        <br>
        The Love Project: Histórias de Amor Esculpindo Objetos de Design, Galeria Baró, 
        São Paulo, Brasil
        <br><br>
        Dubai Design Days, Dubai, Emirados Árabes Unidos
        <br><br>
        <span class="fw-bold">2014</span>
        <br>
        A Place to Departure, simultaneamente
        na Galeria Coletivo Amor de Madre, 
        São Paulo, Brasil; e em Caochangdi Art District, Pequim, China.
        <br><br><br>
        <span class="fw-bold margin-top-300">Exposição Permanente</span>
        <br><br>
        <span class="fw-bold">2019</span>
        <br>
        Over the Face of New Waters, 
        Accenture, São Paulo, Brasil.
        <br><br>
        <span class="fw-bold">2017</span>
        <br>
        The White Mirror, 
        Nubank, São Paulo, Brasil.
      </div>
    </div>
  </section>



  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Prêmios</span><br><br>
        <span class="fw-bold">2022</span><br>
        <span class="fstyle-label">Templo Orbital</span>
        <br>
        <a href="https://www.lumenprize.com/2022-futures-award-longlist/orbital-temple">Lumen Prize </a> - Finalista Futures Award
        <br>
        <a href="https://ebook.ntu.edu.sg/ntu-gdap-2022.html">NTU Global Digital Art Prize</a> - Finalista
        
        <br><br>
        <span class="fw-bold">2021</span><br>
        <span class="fstyle-label">Templo Orbital</span>
        <br>
        Prêmio CubeDesign, promovido pelo INPE - Vencedor Categoria ArtSat

        <br><br>
        <span class="fw-bold">2018</span><br>
        <span class="fstyle-label">Aura</span>
        <br>
        <a href="https://en.di-award.org/collections/detail/297.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - DIA Gold
        <br><br>

        <span class="fstyle-label">The Love Project</span>
        <br>
        <a href="https://en.di-award.org/collections/detail/314.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - Categoria Dia Innovation
        <br><br>

        <span class="fstyle-label">The Dancing Pavilion</span>
        <br>
        <a href="https://ifdesign.com/en/winner-ranking/project/the-dancing-pavilion/229598">IF Design Award</a> - Medalha de Ouro
        <br><br>

        <span class="fstyle-label">The Love Project</span>
        <br>
        <a href="https://ifdesign.com/en/winner-ranking/project/love-project/200752">IF Design Award</a>
        <br><br>

        <span class="fstyle-label">The Dancing Pavilion</span>
        <br>
        <a href="https://www.whatdesigncando.com/stories/coda-award-guto-requenas-dancing-pavilion/">CODAwards</a>
        <br><br>
        <br>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Assista</span><br><br>
        <span class="fw-bold">Em português</span>
        <br><br>
        Arte no espaço
        <a href="https://www.youtube.com/watch?v=_8EwJmg8ASQ&t=319s ">Fork Podcast #57</a>
        <br><br>
        <a href="https://www.youtube.com/watch?v=u-2XlN2wdEM">Babu Santana "Dá o Papo" com artista Edson Pavoni sobre "Memorial Inumeráveis"</a>
        <br><br>
        <a href="https://www.instagram.com/p/CAaVkJ9nDd5/">Atrás de cada número, tem uma história</a> - GloboNews
        <br><br>
        <a href="https://www.youtube.com/watch?v=PB_MGbwxgBo&t=39s">Entrevista com Edson Pavoni, do "Inumeráveis"</a> - El País TV
        <br><br>
        <a href="https://www.youtube.com/watch?v=c24DUTdGLcg&ab_channel=CanalArte1">Arte e Tecnologia - Ep. 5 with Edson Pavoni</a> - Canal Arte1
        <br><br>
        <a href="https://www.youtube.com/watch?v=6oGZQZV6R_M">Arte e Tecnologia, grandes aliados. Uma entrevista com artista Edson Pavoni</a> - Casa Tegra 
        <br><br>
        <a href="https://www.instagram.com/p/Cdy3M1SJfm5/">Pode a arte nos curar?</a>
        <br><br>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Saiba Mais</span><br><br>
        <span class="fw-bold">Em Português</span>
        <br><br>
        <a href="https://www1.folha.uol.com.br/ilustrada/2023/06/mostra-em-sp-quer-manter-viva-a-memoria-das-vitimas-da-pandemia-de-covid-19.shtml?pwgt=krizgsvitrl2c7lsl6yv9qzsbuxc8m5y12v6vf7lq0siu41u&utm_source=whatsapp&utm_medium=social&utm_campaign=compwagift">Mostra em SP quer manter viva a memória das vítimas da pandemia de Covid-19 </a>- Folha de São Paulo, 2023
        <br><br>
        <a href="https://www.estadao.com.br/link/cultura-digital/satelite-brasileiro-lancado-pela-spacex-vai-homenagear-pessoas-que-ja-morreram/ ">Satélite brasileiro vai homenagear pessoas que já morreram </a>- O Estado de São Paulo, 2022 
        <br><br>
        <a href="https://gauchazh.clicrbs.com.br/colunistas/juliana-bublitz/noticia/2022/09/satelite-em-exposicao-na-bienal-do-mercosul-ja-tem-27-mil-nomes-para-levar-ao-espaco-cl8kg6ii3001f016rqzags48i.html">Satélite na Bienal do Mercosul já tem 2,7 mil nomes para levar ao espaço</a> - Zero Hora , 2022 
        <br><br>
        <a href="https://gq.globo.com/Noticias/noticia/2020/05/conheca-historia-do-memorial-online-que-relembra-vitimas-da-pandemia.html">Conheça a história do memorial online que relembra vítimas da pandemia</a> - GQ Brasil, 2020
        <br><br>
        <a href="https://www.cnnbrasil.com.br/saude/as-vidas-por-tras-dos-numeros-da-covid-19-projetos-reunem-historias-da-pandemia/">A vida por trás dos números da Covid-19</a> - CNN Brasil, 2020
        <br><br>
        <a href="https://www.projetodraft.com/entenda-por-que-precisamos-erguer-ja-um-memorial-dedicado-as-vitimas-da-pandemia/">Entenda porquê precisamos já erguer um memorial dedicado às vítimas da pandemia</a> - DRAFT, 2022
        <br><br>
        <a href="https://guia.folha.uol.com.br/exposicoes/2014/10/1525315-designers-paulistanos-criam-obra-interativa-que-conecta-sao-paulo-a-china.shtml">Designers paulistanos criam obra interativa que conecta São Paulo à China</a> - Folha de São Paulo, 2014
        <br><br>
        <br><br>
        <span class="fw-bold">In English</span>
        <br><br>
        <a href="https://www.archdaily.com/793754/rio-2016-olympic-the-dancing-pavilion-estudio-guto-requena">Rio 2016 Olympics The Dancing Pavilion</a> - ArchDaily, 2016

        <br><br>
        <a href="http://www.lindahollier.com/blog/2015/11/2/a-place-to-departure.html">A Place to Departure</a> - Linda Hollier, 2015

        <br><br>
        <a href="https://www.damnmagazine.net/wordpress/2015/11/12/learning-from-dubai/">Learning from Dubai…</a> - Damn Magazine, 2015

        <br><br>
        <a href="https://www.designboom.com/design/love-project-mandalas-guto-requena-03-13-2015/">Love project by Guto Requena & D3 translates emotional data into 3D objects</a> - designboom, 2015 

        <br><br>
        <a href="https://www.creativeapplications.net/js/circle-of-trust-javascript/">Circle of Trust</a> - Creative Applications, 2011
        <br><br>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Textos</span><br><br>
      </div>
      <a href="/br/texto-carollina">Texto curatorial</a> - por Carollina Lauriano, 2023
      <br><br>
      <a href="/br/texto-anaclaudia">O que vivemos na pandemia ainda deveria estar no espaço do grito</a> - Ana Claudia Quintana sobre a exposição <span class="fstyle-label">O que não podemos esquecer</span>, 2023
    
    
    </div>
  </section>

  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Palestras e Cursos</span><br><br>
      </div>
      <a href="https://www.unicamp.br/unicamp/noticias/2022/07/28/unicamp-abre-inscricoes-para-curso-sobre-escrita-de-textos-memoriais">Construindo Memória através da Escrita: o Método Inumeráveis</a> - Unicamp, Campinas, Brazil, 2022
      <br><br>
      <a href="https://www.youtube.com/watch?v=hDQnQWLzDiw&t=884s">Arte e Tecnologia para Criamos os Negócios do Futuro</a> - Epicentro
      <br><br>
      <a href="https://www.youtube.com/watch?v=s39qObwm5PA">Arte e Tecnologia</a> - TEDx Mauá
    </div>
  </section>

  <br><br><br><br>
</main>

</Layout>