---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Crown Shyness - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600">Edson Pavoni</span>
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Timidez das Copas
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    instalação / 2022
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title"
                        >E se pudéssemos nos conectar a uma floresta distante por meio da tecnologia?
                        </span
                    >
                    <br /><br />
                    <span class="fstyle-label">Timidez das Copas</span>
                    é uma instalação cinética de 10 metros 
                    de comprimento com mais de 160 esculturas de papel, co-criadas com mais de 500 pessoas.
                    <br /><br />
                    A obra capta em tempo real os movimentos do vento de uma floresta protegida 
                    e os traduz em uma experiência imersiva multissensorial. </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/oQosF_UP0u8?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Timidez das Copas</span> vídeo introdução,
                        1 min.
                    </div>
                </div>

                <div class="fs-eye | margin-top-400">
                    Pretende promover conexões sensíveis com a floresta e sensibilizar as pessoas 
                    para a importância da sua preservação.
                </div>

                <div class="margin-top-400">
                    O título da instalação refere-se a um fenômeno biológico em que as folhas 
                    e os galhos das árvores não se tocam mesmo quando estão muito próximos, 
                    levando à criação de aberturas em forma de canal entre suas copas. 
                    Considerado um mistério científico, muitos pesquisadores supõem que seu desenvolvimento 
                    esteja relacionado a um processo de evolução convergente. Mesmo com uma base fisiológica incerta, 
                    "timidez da coroa" ou "espaçamento entre as coroas" nos apresenta um ponto de partida pungente para
                    reavaliarmos e repensarmos como nos conectamos com os outros, com natureza e com nós mesmos.
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/crown-shyness/01.jpg"
                    class="video-scale margin-top-200">
                    <source
                        src="/assets/pages/crown-shyness/001.mp4"
                        type="video/mp4"/>
                    <source
                        src="/assets/pages/crown-shyness/001.webm"
                        type="video/webm"/>
                </video>
                <div class="fs-caption text-caption padding-block-caption">
                    Um detalhe da instalação <span class="fstyle-label"
                        >Timidez das Copas</span
                    >.<br />Foto por Clara Marques.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">A experiência da preservação</span>
                    <br /><br />
                    A instalação foi encomendada pela maior produtora e exportadora brasileira de papéis, 
                    a Klabin. A essência das atividades da Klabin é a exploração dos recursos naturais. 
                    Esses são os recursos que estão no centro da discussão mais urgente do mundo: 
                    a crise climática. As árvores — que a principal matéria-prima da empresa — são o epicentro simbólico 
                    dessa discussão.
                    <br /><br />
                    Há décadas, porém, a Klabin não mede esforços para desenvolver tecnologias inovadoras para quebrar as 
                    cadeias produtivas do plástico e mineral, rumo a materiais sustentáveis derivados do papel. Presente em 
                    três estados brasileiros – São Paulo, Paraná e Santa Catarina –, a empresa detém mais de 625 mil hectares 
                    de florestas, dos quais 42% são reservas nativas. Seu mais renomado território protegido, o Parque Ecológico 
                    da Fazenda Monte Alegre em Telêmaco Borba tornou-se uma área inestimável e de alto valor de conservação devido
                    à sua significativa concentração de ecossistemas raros, ameaçados ou em perigo de extinção.
                    <br /><br />
                    As iniciativas da Klabin provaram como a tecnologia pode ter impactos significativos na conservação da natureza. 
                    Foi examinando essa relação positiva entre Natureza e Tecnologia que nossa proposta foi fundada.                
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/crown-shyness/002.jpg"
                    class="video-scale margin-top-200">
                    <source
                        src="/assets/pages/crown-shyness/002.mp4"
                        type="video/mp4"/>
                    <source
                        src="/assets/pages/crown-shyness/002.webm"
                        type="video/webm"/>
                </video>
                <div class="fs-caption text-caption padding-block-caption">
                    Floresta protegida em Telêmaco Borba, Paraná - Brasil
                    <br /> Video por Felipe Abreu
                </div>
                <div class="artwork | margin-top-500">
                    Depois que o artista experimentou a floresta protegida em primeira mão e 
                    estudou seu impacto na elevação dos níveis de biodiversidade da região, <span class="fstyle-label"
                    >Timidez das Copas</span tornou-se uma forma de promover conexões sensíveis com a floresta. 
                    Os principais materiais da instalação, o papel craft Eukaliner da Klabin e metal, foram combinados 
                    com instrumentos tecnológicos customizados que coletam informações geradas por satélite sobre os ventos 
                    da floresta protegida para criar um painel cinético de grande escala. As esculturas de papel nele se comportam
                    como as copas das árvores - respirando como seres vivos e mal se tocando. 
                    
                    <br /><br />
                    
                    O software e o movimento, desenhados por Dimitre Lima, deram vida às esculturas de papel. 
                    Cada uma dessas esculturas, parametrizadas digitalmente mas dobradas manualmente, foi criada exclusivamente 
                    pela artista especialista em papel Gabriela Castro. Elas comportaram como as copas das árvores – respirando 
                    como seres vivos e quase não se tocando.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/crown-shyness/03.jpg"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/04.jpg"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/05.jpg"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/06.jpg"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        Making of do processo de criação da instalação <span class="fstyle-label">Timidez das Copas </span>.
                        <br /> Fotos por Clara Marques
                    </div>
                </div>


                <div class="artwork | margin-top-400">
                    Inaugurada no evento INOVA Klabin, realizado no Pavilhão da Bienal de São Paulo, 
                    em São Paulo, a obra foi montada pela primeira vez com os mais de 500 convidados 
                    que estiveram presentes no evento. Em parceria com Pavoni, a artista Isabella Nardini 
                    desenhou a experiência do evento                    <br><br>
                    Lá, os participantes foram inicialmente divididos em grupos de três e receberam uma 
                    das esculturas de papel que mais tarde fariam parte do trabalho final. Distribuídos 
                    de acordo com as habilidades com as quais mais se identificaram, os grupos foram se 
                    familiarizando com o tema da obra e foram convidados a se conectar com os materiais, 
                    sentindo sua maciez e maleabilidade, entendendo mais como o papel se comporta.                    <br><br>
                    Em seguida, foram orientados a fixar as esculturas no painel. 
                    Para isso, porém, os grupos precisavam aprender com as árvores, assumindo sua capacidade 
                    de trabalhar como um único indivíduo. 
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/crown-shyness/07.jpg"
                        alt="image"
                        srcset=""
                    />
                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/08.jpg"
                        alt="image"
                        srcset=""
                    />
                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/09.jpg"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        Making of do processo de construção da instalação <span class="fstyle-label">Timidez das Copas </span>.
                        <br /> Foto por Clara Marques
                    </div>
                </div>


                <div class="artwork | margin-top-400">
                    Depois de montadas todas as esculturas de papel, 
                    os participantes foram convidados a tomar um chá especialmente elaborado pelo sommelier de chás
                    <a href="https://www.instagram.com/deusadocha/"> Dani Lieuthier</a>.
                    Cada pessoa recebeu um cartão no qual era feita uma pergunta sobre sua relação com 
                    a floresta. A experiência terminou quando todos os participantes puderam ver o trabalho concluído 
                    e em movimento.
                </div>


                <div class="fs-quote margin-top-400">
                    "Este é um espaço de conexão com a arte e a floresta. O convite da Klabin para este evento de sustentabilidade está ligado ao que é mais importante do meu trabalho como artista: como podemos criar imagens positivas para o futuro usando a tecnologia."
                    <br />
                    - Edson Pavoni
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni, artista
                    <br /><br />

                    <span class="fs-credits-bold">Comissionado por</span><br>
                    Klabin
                    <br /><br />

                    <span class="fs-credits-bold">Design de Experiência</span><br>
                    Isabella Nardini
                    <br /><br />

                    <span class="fs-credits-bold">Produção</span><br>
                    Clara Marques & Junior De Gois
                    <br /><br />
                    
                    <span class="fs-credits-bold">Design</span><br>
                    Guilherme Bullejos
                    <br /><br />

                    <span class="fs-credits-bold">Especialista em Papel</span><br>
                    Gabriela Castro
                    <br /><br />

                    <span class="fs-credits-bold">Software & Eletrônica</span><br>
                    Dimitre Lima & Rodrigo Echer 
                    <br /><br />
                    
                    <span class="fs-credits-bold">Assistentes de Produção</span><br>
                    Gustavo Freitas, Milena Veloso, Ligia Jeon, Ana Lopes, Raquel Diógenes, Lucia Farias, Vinícius Telles 
                    <br /><br />

                    <span class="fs-credits-bold">Produção do Evento</span><br>
                    Sabrina Homrich
                    <br /><br />
                    
                    <span class="fs-credits-bold">Mediadores</span><br>
                    Jaqueline Cerdeiro & Rafael Americo
                    <br /><br />

                    <span class="fs-credits-bold">Figurino</span><br>
                    Flavia Aranha
                    <br /><br />

                    <span class="fs-credits-bold">Fotografia de Making Of</span><br>
                    Clara Marques
                    <br /><br />

                    <span class="fs-credits-bold">Fotografia</span><br> 
                    Matheus Matta
                    <br /><br />
                    
                    <span class="fs-credits-bold">Video</span><br>
                    Piero Davila

                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
