---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="First Sense - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        First Sense
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    série fotográfica / 2015-
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">First Sense</span> (Primeiro Sentido) é uma série fotográfica em andamento na qual 
                    o artista pesquisa as respostas humanas ao toque e a qualidade das conexões que surgem a partir desse ato.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/bu5suNFf3rw?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">First Sense</span> vídeo introdução,
                    1 min.
                </div>

                <div class="fs-quote margin-top-500">
                    "Como membros da sociedade humana, talvez a tarefa mais difícil que enfrentamos diariamente seja tocar uns aos outros - 
                    seja o toque físico, moral, emocional ou imaginário. O contato é uma crise. Como dizem os antropólogos, 
                    "Todo toque é um golpe modificado." A dificuldade apresentada por qualquer instância de contato é a de violar um limite fixo, 
                    transgredir uma categoria fechada à qual não se pertence."
                    <br />
                    -Anne Carson, Dirt and Desire: The Phenomenology of Female Pollution in Antiquity (1999)
                </div>

                <div class="margin-top-500">
                    <img
                        src="/assets/pages/first-sense/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Queen</span>, 2023. Parte da série de fotografias <span class="fstyle-label">First Sense</span>, de Edson Pavoni.                    </div>
                </div>

                <div class="margin-top-500">
                    A "crise de contato" descrita por Anne Carlson ganhou intensidade à medida que a pandemia de coronavírus se espalhou pelo mundo.
                     <br><br />
                     O toque como uma necessidade básica tornou-se cada vez mais evidente devido à sua ausência. Essa redução extrema em nossa capacidade 
                     de tocar os outros destacou o fato de que todas as pessoas, não importa a idade, precisam ser tocadas para prosperar.                
                    </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/02.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/03.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">I hate Burning Man and I want to go home</span>, 2019, e <span class="fstyle-label">On the poetics of justice</span>. <br/> 
                        Da série de fotografias <span class="fstyle-label">First Sense</span>, de Edson Pavoni.
                    </div>
                </div>

                <div class="margin-top-400">
                    Capaz de transmitir emoções mais rapidamente do que as palavras, até o toque mais sutil pode ter efeitos 
                    profundos no que sentimos, provocando um leque de emoções tão complexo e amplo que consegue definir, pouco a pouco, quem somos.
                    <br><br />
                    É precisamente esse poder do toque que o eliminou de nossas vidas. Uma hipervigilância crescente em relação ao toque social o 
                    transformou em algo sobre o qual devemos ser cautelosos e hesitantes.                
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/04.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/05.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/06.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Could happen</span>, <span class="fstyle-label">We decided on not having the right words</span> e <span class="fstyle-label">Sunday rituals</span>, 2019. <br/> 
                        Da série de fotografias <span class="fstyle-label">First Sense</span>, de Edson Pavoni.
                       </div>
                </div>


                <div class="margin-top-400">
                    <span class="fstyle-label">
                        "Em algum momento da idade adulta, o que era instintivo para nós quando crianças passou a parecer estranho, fora dos limites"
                    </span>
                        , escreve
                            <a href="https://www.theguardian.com/society/2018/mar/07/crisis-touch-hugging-mental-health-strokes-cuddles"> 
                                Paula Cocozza no The Guardian
                            </a>. 
                        <span class="fstyle-label">
                            Ela pergunta: "Quando foi a última vez que você encostou em alguém fora da sua família ou de um relacionamento íntimo?"
                        </span>
                    <br><br />
                    A solidão, um sintoma comum da privação de toque, está mudando radicalmente nossa sociedade. Em um mundo tão avesso ao toque, 
                    ainda não está claro o que perderemos se continuarmos nos afastando do toque e da conexão física uns com os outros.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/07.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/08.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/09.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">I keep dreaming this</span>, 2019, <span class="fstyle-label">On the verge of carnaval</span> e <span class="fstyle-label">You're welcome</span>. <br/> 
                        Da série de fotografias <span class="fstyle-label">First Sense</span>, de Edson Pavoni.
                    </div>
                </div>


                <div class="margin-top-400">
                    Romper com essa hesitação foi o que levou Pavoni a desenvolver a série <span class="fstyle-label">First Sense</span>. 
                    O projeto começou enquanto o artista caminhava na Parada LGBTQIIA+ em São Paulo. A sensação de solidão, mesmo caminhando 
                    entre milhões de pessoas, desapareceu quando ele olhou nos olhos de um completo estranho.                    
                    <br><br />
                    Quando Pavoni pediu para tirar seu retrato, o artista foi movido por um súbito desejo de tocar o rosto do homem. 
                    Com esse gesto, Pavoni pretendia captar o potencial que o toque físico tem em nos afetar. Além disso, pretendia nos 
                    impulsionar a lembrar de seu poder social.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/10.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/11.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/12.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Olhos de cigana oblíqua e dissimulada</span>, 2019, <span class="fstyle-label">The dancer</span>, 2019 e <span class="fstyle-label">I answer to no one</span>. <br/> 
                        Da série de fotografias <span class="fstyle-label">First Sense</span>, de Edson Pavoni.
                    </div>
                </div>

                <div class="margin-top-400">
                Os retratos que fazem parte desta série foram feitos registrando o primeiro toque do artista em rostos de estranhos e amigos.                    
                <br><br />
                Como parte de sua investigação sobre conexão, é um conto de deslizamento entre mundos, imaginando uma realidade diferente com fronteiras e regras porosas.
            </div>

                <div class="fs-eye | margin-top-400">
                    O toque é o primeiro sentido que desenvolvemos no ventre de nossa mãe e sinto que é nossa ferramenta de conexão mais primária.
                    - Edson Pavoni
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni, artista
                    <br /><br />

                    <span class="fs-credits-bold">Agradecimentos especiais para</span>
                    todas as pessoas que me permitiram expandir seus limites e fotografá-los
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>