---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Edson Pavoni">
	<main>
		<section>
			<div class="container">
				<div class="welcome-tile margin-top-900">
					<h1 class="fs-display fw-bold text-positive margin-top-600">
						A tecnologia vai nos separar ou nos aproximar?
					</h1>
				</div>
				<div class="bio-text | margin-top-300">
					<span class="fw-bold">Edson Pavoni</span> é um artista e tecnologista 
					que investiga a intimidade humana em sua intersecção com a tecnologia.

				</div>
				<div class="videowrapper | margin-top-200">
					<div class="plyr | video-scale" id="player">
						<iframe
							src="https://www.youtube.com/embed/HgCzPN8iEBg?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
							allowfullscreen
							allowtransparency
							allow="autoplay"></iframe>
					</div>
				</div>
				<div class="fs-caption text-caption padding-block-caption">
					Vídeo introdução, 3 min.
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="secundary-title">
					<h1 class="fs-display fw-bold margin-top-600">
						Obras Selecionadas
					</h1>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-400">
							<a href="/br/orbital-temple">Templo Orbital</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						site specific / 2022
					</div>
					<div class="work-text | margin-top-200">
						O primeiro satélite do Sul Global com uma missão artística. 
						Com ele, qualquer pessoa poderá enviar para o céu o nome de alguém que já faleceu.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/orbital-temple">
							<img
								src="/assets/home/23OrbitalTemple.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">Templo Orbital</span> no espaço.<br
						/>Render 3D por RiseNY&Partners.
					</div>

					<div class="work-video | margin-top-200">
						<a href="/br/orbital-temple">
							<img
								src="/assets/home/22OrbitalTemple.webp"
								alt="video"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">Templo Orbital</span> na Bienal do Mercosul <br />
						em Porto Alegre, Brasil.
						Foto por Clara Marques.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/landscapes-of-the-mind"
								>Landscapes of the Mind</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação performática / 2022
					</div>
					<div class="work-text | margin-top-200">
						Uma instalação feita com monitores cerebrais capazes 
						de ler a atividade neural de dois participantes enquanto 
						se olham. Os dados coletados são então usados para criar 
						um desenho generativo que é projetado sobre uma pintura a óleo de Lyora Pissarro.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/landscapes-of-the-mind">
							<img
								src="/assets/home/21LandscapesoftheMindQuadrado.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						Duas pessoas participam da instalação <span class="fstyle-label"
							>Landscapes of the Mind</span
						><br />em Nova Iorque, USA. Foto dos artistas.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/sacred-in-flux">Sacred in Flux</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						exposição / 2022
					</div>
					<div class="work-text | margin-top-200">
						Uma coleção de pinturas digitais geradas por IA 
						que reinterpretam o que consideramos sagrado. Junto com 
						a artista Juliana Freire, as obras foram cocriadas com 
						um software que analisou mais de 14 milhões de imagens de 
						representações multiculturais do que pensamos ser sagrado.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/sacred-in-flux">
							<img
								src="/assets/home/20SagradoemFluxo.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label"> Sacred in Flux</span> exibido em
						São Paulo, Brasil.<br />Fotos por Filipe Berndt.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/crown-shyness">Timidez das Copas</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação cinética / 2022
					</div>
					<div class="work-text | margin-top-200">
						Uma instalação que capta em tempo real os movimentos 
						dos ventos de uma floresta protegida no Sul do Brasil 
						e os traduz em um painel cinético de 10 metros de comprimento 
						com cerca de 160 esculturas de papel, montado em um dia por 
						mais de 500 participantes.

					</div>
					<a href="/br/crown-shyness">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/19TimidezdasCopas.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/19TimidezdasCopas.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/19TimidezdasCopas.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						A instalação <span class="fstyle-label"
							>Timidez das Copas</span
						><br />Videos por Clara Marques e Piero Davila.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/inumeraveis"
								>Memorial Inumeráveis</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						arquitetura e plataforma digital / 2020-
					</div>
					<div class="work-text | margin-top-200">
						Uma plataforma digital e um projeto para um monumento 
						físico dedicado a contar as histórias das vítimas do Coronavírus no Brasil.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/inumeraveis">
							<img
								src="/assets/home/18Inumeraveis.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="work-image | margin-top-200">
						<a href="/br/inumeraveis">
							<img
								src="/assets/home/17AInumeraveis.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/br/inumeraveis">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/17AInumeraveis.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/17AInumeraveis.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/17AInumeraveis.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						Plano para o  <span class="fstyle-label"
							>Memorial Inumeráveis</span
						>.<br />Render 3D Renderings por RiseNY&Partners.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/invisible-blue">Invisible Blue</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação / 2020
					</div>
					<div class="work-text | margin-top-200">
						Uma escultura luminosa de 24 metros de altura que 
						materializa as conexões invisíveis do mundo da arte húngara. 
						Também uma coleção de NFT feita em colaboração com o pioneiro cientista de rede Albert-Laszlo Barabási.
					</div>

					<div class="work-image | margin-top-300">
						<a href="/br/invisible-blue">
							<picture>
								<source
									srcset="/assets/home/16InvisibleBlue.webp"
									type="image/webp"
								/>
								<source
									srcset="/assets/home/16InvisibleBlue.webp"
									type="image/jpeg"
								/>
								<img
									src="/assets/home/16InvisibleBlue_.webp"
									alt=""
								/>
							</picture>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">Invisible Blue</span> no Ludwig
						Museum of Contemporary Art.<br />Fotografia por Bálint
						Jaska.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/over-the-face-of-new-waters"
								>Over the Face of New Waters</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação cinética / 2019
					</div>
					<div class="work-text | margin-top-200">
						Uma instalação composta por seis jardins suspensos auto-irrigáveis 
						que se movem, através de um mecanismo especializado, de acordo com 
						as necessidades das plantas. Quando visitantes humanos se aproximam, 
						o jardim se coloca ao nível de seus olhos.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/over-the-face-of-new-waters">
							<img
								src="/assets/home/15OvertheFaceofNewWaters.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>

					<a href="/br/over-the-face-of-new-waters">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/14OvertheFaceofNewWaters.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/14OvertheFaceofNewWaters.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/14OvertheFaceofNewWaters.webm"
								type="video/webm"
							/>
						</video>
					</a>

					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label"
							>Over the Face of New Waters</span
						>. Foto por Gee Galvão.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/the-waters-are-breaking"
								>The Waters are Breaking</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						cenografia / 2019
					</div>
					<div class="work-text | margin-top-200">
						Uma experiência imersiva na interseção entre teatro e performance. 
						Escrita e protagonizada por Gabriela Veiga, a peça usa projeções visuais 
						generativas para explorar temas de dor, beleza, luto e vida após a morte.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/the-waters-are-breaking">
							<img
								src="/assets/home/13TheWatersareBreaking.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/br/the-waters-are-breaking">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/12TheWatersareBreaking.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/12TheWatersareBreaking.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/12TheWatersareBreaking.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						Gabriela Veiga interage com projeções feitas com tecnologia<br /> generativa. Imagens por Rodrigo Rosa & Giorgio
						D'Onofrio.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/a-petal-for-three">A Petal for Three</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação site-specific / 2018
					</div>
					<div class="work-text | margin-top-200">
						Uma instalação espelhada interativa que é ativada 
						quando três visitantes param em cada um dos seus cantos. 
						Aborda um intenso estado de conexão em que seu resultado 
						leva à fragmentação de toda a sua estrutura.

					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/a-petal-for-three">
							<img
								src="/assets/home/11APetalforThree.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div>
						<a href="/br/a-petal-for-three">
							<video
								autoplay
								muted
								playsinline
								loop
								poster="/assets/home/10APetalforThree.webp"
								class="video-scale margin-top-200"
							>
								<source
									src="/assets/home/10APetalforThree.mp4"
									type="video/mp4"
								/>
								<source
									src="/assets/home/10APetalforThree.webm"
									type="video/webm"
								/>
							</video>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						Participantes interagem com <span class="fstyle-label"
							>A Petal for Three</span
						> em São Paulo.<br />Foto por Rafael Socrates.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/white-mirror">White Mirror</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação cinética / 2017
					</div>
					<div class="work-text | margin-top-200">
						Um painel de 22 metros que reflete seus transeuntes através de imagens que se assemelham a criaturas, 
						geradas por algoritmos que reagem aos seus movimentos.
					</div>

					<div class="work-image | margin-top-300">
						<a href="/br/white-mirror">
							<img
								src="/assets/home/09WhiteMirror.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div>
						<a href="/br/white-mirror">
							<video
								autoplay
								muted
								playsinline
								loop
								poster="/assets/home/08WhiteMirror.webp"
								class="video-scale margin-top-200"
							>
								<source
									src="/assets/home/08WhiteMirror.mp4"
									type="video/mp4"
								/>
								<source
									src="/assets/home/08WhiteMirror.webm"
									type="video/webm"
								/>
							</video>
						</a>
					</div>

					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">The White Mirror</span>, painel é ativado quando pessoas passam por ele.<br />Imagens por
						Rafael Socrates.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/first-sense">First Sense</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						série fotográfica / 2015-
					</div>
					<div class="work-text | margin-top-200">
						Uma série fotográfica em andamento na qual o artista 
						pesquisa as respostas humanas ao toque e a qualidade 
						das conexões que surgem desse ato.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/first-sense">
							<img
								src="/assets/home/07FirstSense.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="work-image | margin-top-200">
						<a href="/br/first-sense">
							<img
								src="/assets/home/06FirstSense.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">First Sense</span> é uma série de fotografias em andamento <br />por Edson Pavoni.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/the-love-project">The Love Project</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação performática / 2013
					</div>
					<div class="work-text | margin-top-200">
						Uma instalação performática que transforma 
						as histórias de amor dos participantes em 
						esculturas únicas impressas em 3D.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/the-love-project">
							<img
								src="/assets/home/05TheLoveProject.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/br/the-love-project">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/04TheLoveProject.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/04TheLoveProject.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/04TheLoveProject.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">The Love Project</span> foi uma instalação performática.<br />Imagens por Jorge Teivelis
						Neto.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/br/a-place-to-departure"
								>A Place to Departure</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						instalação site-specific / 2013, 2015
					</div>
					<div class="work-text | margin-top-200">
						Uma ponte sensorial instalada pela primeira vez entre a China e o Brasil. 
						Quando uma pessoa tocou no vidro da instalação em Pequim e outra no vidro em São Paulo, 
						as duas sentiram fisicamente como se tivessem se tocado. Em 2015, também foi apresentado 
						em dois bairros diferentes de Dubai.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/br/a-place-to-departure">
							<img
								src="/assets/home/03APlacetoDeparture.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="work-image | margin-top-200">
						<a href="/br/a-place-to-departure">
							<img
								src="/assets/home/02APlacetoDeparture.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/br/a-place-to-departure">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/01APlacetoDeparture.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/01APlacetoDeparture.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/01APlacetoDeparture.webm"
								type="video/webm"
							/>
						</video>
					</a>

					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">A Place to Departure</span> na China, fotografado por Pedrinho <br />Fonseca. Imagens da
						instalação em Dubai por Edson Pavoni.
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="selected-works">
					<div class="secundary-title">
						<h1 class="fs-display fw-bold margin-top-600">
							Poesia
						</h1>
					</div>

					<div class="artwork">
						<div class="work-title">
							<h3 class="fs-title fw-bold margin-top-400">
								In Honor of the Land
							</h3>
						</div>
						<div class="fstyle-label | fs-label margin-top-100">
							2022
						</div>
						<div class="work-text | margin-top-200">
							in honor of the land<br />
							I pledge my attention<br />
							to the mountains of colored minerals<br />
							that raised themselves<br />
							before there were any eyes to see<br />
							how the sky painted them with light<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the green fields that spoon<br />
							the gray line of the horizon<br />
							were the last wild horses run<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the ocean of green trees<br />
							the forest being protect by my ancestors<br />
							and the xapiripë spirits<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the rivers from below<br />
							painted in gold by the nearest star<br />
							drawing themselves<br />
							in curved unproductive lines<br />
							in no hurry to find the ocean<br />
							<br />
							in honor of the land<br />
							I also pledge my attention<br />
							to the rivers of above<br />
							swimming in the sky before being rain<br />
							<br />
							and the rain, my friend,<br />
							way before touching anything<br />
							will seduce you with its perfume<br />
							as Oxum, the Orixá of seduction does<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the best roommates on this planet<br />
							the other sentient beings<br />
							having the best time when we are not around<br />
							<br />
							in honor of the land<br />
							I pledge my attention to outer space<br />
							our environment above the sky<br />
							with the lights from the past<br />
							and the technology of the present<br />
							helping me see our world as finite as I am<br />
							<br />
							in honor of the land<br />
							I pledge my attention.<br />
						</div>

						<div class="videowrapper | margin-top-300">
							<div class="video-scale" id="player-in-honor">
								<iframe
									src="https://www.youtube.com/embed/nNmEZFtWXPs?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
									allowfullscreen
									allowtransparency
									allow="autoplay"></iframe>
							</div>
						</div>
						<div
							class="fs-caption text-caption padding-block-caption"
						>
							Video poetry, 2 min.
						</div>
					</div>

					<div class="artwork">
						<div class="work-title">
							<h3 class="fs-title fw-bold margin-top-400">
								Half Oxum
							</h3>
						</div>
						<div class="fstyle-label | fs-label margin-top-100">
							2019
						</div>
						<div class="work-text | margin-top-200">
							behind the curtain of a waterfall<br />
							standing half Oxum half mirror<br />
							a woman showing no fear of being naked<br />
							opens her eyes looking exactly into mine<br />
							and without moving anything but her arm<br />
							takes a rose crystal egg from<br />
							the place in her body that bleeds<br />
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<section>
		<div class="container-negative | f-style-negative margin-top-600">
			<div class="container padding-block-200">
				<div class="secundary-title">
					<h1 class="fs-display fw-bold margin-top-600">
						Uma ideia multiplanetária para um futuro não distópico
					</h1>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-400">
							A Place to Departure em Marte
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						2030?
					</div>
					<div class="work-text | margin-top-200">
						Mais cedo do que esperamos, a humanidade se tornará multiplanetária. 
						Na verdade, Marte parece ser o nosso primeiro destino. Se assim for, 
						significa que os humanos estarão distantes uns dos outros como nunca 
						estivemos em nossa história: ou seja, 290 milhões de quilômetros de distância. 
						Poderemos ver aqueles em Marte, ouviremos as vozes de nossos entes queridos, 
						mas provavelmente nunca mais os poderemos tocar.
						<br /><br />
						<span class="fstyle-label">
							A missão de A Place to Departure</span
						> é tornar possível o contato humano interplanetário. 
						Pretende ser uma ponte duradoura para que nunca percamos o contato.

					</div>
					<div class="work-image | margin-top-300">
						<img
							src="/assets/home/00APlacetoDepartureMars.webp"
							alt="image"
							srcset=""
						/>
					</div>
					<div class="work-image | margin-top-200">
						<img
							src="/assets/home/00APlacetoDepartureMars2.webp"
							alt="image"
							srcset=""
						/>
					</div>
					<div class="work-image | margin-top-200">
						<img
							src="/assets/home/00APlacetoDepartureMars3.webp"
							alt="image"
							srcset=""
						/>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						Planos para <span class="fstyle-label"
							>A Place to Departure</span
						> em abrigos humanos em Marte<br /> Render 3D por Guilherme
						Bullejos.
					</div>
					<br /><br /><br /><br />
				</div>
			</div>
		</div>
	</section>
</Layout>