---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Inumeraveis Memorial - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600">Edson Pavoni</span>
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Memorial Inumeráveis 
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    arquitetura e plataforma digital / 2020-
                </div>

                <div class="artwork | margin-top-500">
                    O <span class="fstyle-label">Memorial Inumeráveis </span>
                    é uma obra de arte apresentada em diferentes plataformas digitais e um monumento físico. 
                    <br /><br />
                    Ainda em andamento, é um conjunto de histórias de vida das vítimas fatais da Covid-19 no Brasil, escrito por centenas de voluntários que entrevistam milhares de familiares, amigos e entes queridos. 
                    O monumento físico ao ar livre espera contar as histórias das vítimas da Covid como uma jornada de cura combinando arquitetura, tecnologia e memória.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/z3FoA8zFcUs?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label"> Memorial Inumeráveis</span> vídeo introdução,
                        1 min.
                    </div>
                </div>

                <div class="fs-eye | margin-top-500">
                    "Ninguém gosta de ser número, gente merece existir em prosa."
                    <br>- Edson Pavoni
                </div>

                <div class="margin-top-500">
                    Entre 2020 e 2022, o Brasil se tornou um dos países mais impactados pelo novo coronavírus. 
                    Em 2021, o Brasil tinha 2,7% da população mundial, mas foi responsável por 13% das mortes 
                    por Covid-19 em todo o mundo. Isso aconteceu enquanto o mundo testemunhava como o governo 
                    de Jair Bolsonaro falhava em implementar estratégias nacionais de saúde.
                     <br><br>
                     Houve um alto custo pelo desrespeito sistemático do governo a métodos eficazes e cientificamente 
                     comprovados para impedir a propagação do vírus. O auxílio do governo à proliferação de redes organizadas 
                     que promoveram a desinformação sobre o vírus; às aglomerações públicas patrocinadas; à propaganda e à prescrição, 
                     por médicos ideologicamente aliados ao governo, de medicamentos comprovadamente ineficazes contra a COVID-19; 
                     a subnotificação de dados epidemiológicos; e o adiamento, em meio a denúncias de corrupção, da compra de vacinas, 
                     custou a vida de centenas de milhares de cidadãos.
                     <br><br>
                     Enquanto o número de mortos aumentava exponencialmente, era raro encontrar um nome na cobertura jornalística. 
                     Mas há tanto poder em um nome. David, Abdias, Carolina... Nomes evocam imagens, memórias, conexões. As vítimas da 
                     Covid-19 logo se tornaram estatísticas, números ocos e frios. Mas ninguém quer ser reduzido a um número - as pessoas
                      merecem existir em prosa.                
                    </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/01.webp"
                        alt="image"
                        srcset=""
                    />

                    <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/inumeraveis/002.jpg"
                    class="video-scale margin-top-200"
                >
                    <source
                        src="/assets/pages/inumeraveis/002.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/inumeraveis/002.webm"
                        type="video/webm"
                    />
                </video>

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Memorial Inumeráveis </span>website and architectural plan.
                        <br /> 3D rendering by Guilherme Bullejos.
                    </div>
                </div>


                <div class="margin-top-400">
                    <span class="fstyle-label">“Fundar o Memorial dos Inumeráveis, em 2020, foi uma forma de atuar, como artista, sobre a pandemia no Brasil”</span>
                    , explica Pavoni. Nos últimos dois anos, ele se comprometeu com a força dessa iniciativa, um esforço coletivo para construir memória, afeto, respeito e um futuro diferente.
                    <br /><br />
                    Com destaque nos principais jornais do Brasil e do exterior, o Memorail Inumeráveis se mostrou uma ferramenta poderosa para a humanização da cobertura da mídia. O projeto impactou cerca de 1 em cada 6 adultos no país, num total de cerca de 31 milhões de pessoas.
                    <br /><br />

                    <div class="fs-quote margin-top-200">
                        "Ao ouvir as mais de mil histórias que coletamos, entendi que o processo de lembrar tem um poder curativo para o indivíduo e protetivo para a sociedade. Devemos lembrar. Os mesmos erros serão cometidos se esquecermos aqueles que se foram - e porquê eles nos deixaram."
                        <br> - Edson Pavoni
                    </div>

                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">O monumento físico: uma jornada de cura</span>
                </div> 

                <div class="artwork | margin-top-300">
                    Projetado para o parque Villa Lobos, em São Paulo, o monumento físico do 
                    Inumeráveis visa integrar natureza e tecnologia, criando um espaço meditativo de 
                    contemplação. O local foi escolhido devido à sua acessibilidade e popularidade entre 
                    os moradores da cidade. Além disso, está de acordo com o planejamento e os objetivos urbanísticos de São Paulo:
                </div> 

                <div class="fs-quote margin-top-300">
                    "O projeto [do monumento] pretende ligar-se às propostas de requalificação urbana da região e apoiar outras práticas culturais e artísticas já existentes no local. Para que não impacte negativamente a paisagem ou as dinâmicas já presentes, a implantação partirá do estudo aprofundado da integração com o entorno. Espaços de cultura e lazer como este são fundamentais para estender o alcance da informação e da memória a quem os usufrui."
                    <div class="margin-top-100">
                    - Maria Luiza Barros, Arquiteta, Urbanista e integrante da equipe Inumeráveis.
                    </div>
                </div>



                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/02.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label"> Memorial Inumeráveis </span>, plano arquitetônico.
                        <br /> Render 3D por Guilherme Bullejos.
                    </div>
                </div>



                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Começando a jornada</span>
                </div> 

                <div class="artwork | margin-top-300">
                    Ao se aproximarem do monumento, os visitantes encontram, escondido entre as árvores do parque, 
                    uma construção em forma de curva. À sua entrada, existe um muro que corta o memorial ao meio. 
                    Nessa parede, há um texto sobre o novo coronavírus e a resposta histórica a ele.
                 </div> 
                
                <div class="image-container">
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/pages/inumeraveis/03.webp"
                        class="video-scale-wide margin-top-200"
                    >
                        <source
                            src="/assets/pages/inumeraveis/003.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/pages/inumeraveis/003.webm"
                            type="video/webm"
                        />
                    </video>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Memorial Inumeráveis</span>, plano arquitetônico.
                        <br /> Render 3D por RiseNY&Partners.
                    </div>
                </div>
                <div class="artwork | margin-top-400">
                    Esse texto destaca a velocidade com que essa ameaça invisível atingiu o mundo inteiro. 
                    Ressaltando a importância da ciência, bem como a descrença nela que se manifestou ao longo da crise,
                    o texto traz à tona aspectos cruciais sobre o isolamento social que marcou esse período, além do avanço 
                    da tecnologia que visava fazer as pessoas se sentirem mais próximas uma das outras.                
                </div> 

                <div class="artwork | margin-top-200">
                    Também destaca como nosso relacionamento desequilibrado com os animais estava na raiz dessa pandemia 
                    e como os líderes que trocaram milhares de vidas humanas por seu próprio poder - e sobre aqueles que 
                    os desafiaram.                
                </div> 
                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/04.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/05.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Memorial Inumeráveis</span>plano arquitetônico.
                        <br /> Render 3D por Guilherme Bullejos.
                    </div>
                </div>


                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Tecnologia no coração da memória</span>
                </div> 
                <div class="artwork | margin-top-200">
                Um pouco mais à frente encontram-se duas rampas, devendo o visitante optar por uma delas. 
                Os primeiros nomes de todas as vítimas do coronavírus no Brasil serão gravados em metal ao
                longo do corrimão da rampa. Um espaço amplo, vazio e silencioso separa os visitantes, lembrando 
                o isolamento social e a solidão do luto.                   </div> 
                <div class="artwork | margin-top-200">
                Ao apontar o celular para um dos nomes, o visitante será automaticamente direcionado para a história 
                dessa pessoa no site do Memorial. Nesse momento, a luz individual daquele nome gravado no metal se acenderá
                com muito mais intensidade - como se estivesse sentindo a conexão.                
            </div> 
                <div class="artwork | margin-top-200">
                    Sempre que alguém acessar o site, mesmo que do outro lado do mundo, 
                    fará uma luz brilhar fisicamente no memorial. Tal gesto pretende ser um lembrete de suas vidas, 
                    como se os visitantes pudessem ver as memórias acontecendo diante de seus olhos.
                </div> 

                <div class="image-container">

                    <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/inumeraveis/03.webp"
                    class="video-scale-wide margin-top-300"
                >
                    <source
                        src="/assets/pages/inumeraveis/007.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/inumeraveis/007.webm"
                        type="video/webm"
                    />
                </video>

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/06.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/07.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Memorial Inumeráveis</span>, plano arquitônico.
                        <br /> Render 3D por Guilherme Bullejos e RiseNY&Partners.
                    </div>
                </div>



                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title"> A saudade do toque</span>
                </div> 
                <div class="artwork | margin-top-200">
                    Ao final da rampa, o visitante verá uma instalação artística composta por duas vidraças que parecem dividir o espaço.
                </div> 
                <div class="artwork | margin-top-200">
                    Essa instalação criará uma ponte sensorial entre as duas rampas. Quando alguém toca o vidro de um dos lados e outra 
                    pessoa toca o vidro do outro lado – no mesmo lugar e ao mesmo tempo -, ambos sentirão fisicamente que se tocaram através
                    de uma suave vibração.               
                 </div> 

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/08.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/09.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Memorial Inumeráveis</span>, plano arquitetônico.
                        <br /> Render 3D rendering por Guilherme Bullejos.
                    </div>
                </div>
                

                <div class="fs-eye | margin-top-400">
                    "Nada que pareça distante resiste à decisão de um encontro. Simbólica ou real, a vida do amor perdido continua dentro de nós."
                </div>
                <div class="artwork | margin-top-300">
                    - Ana Claudia Quintana Arantes, médica, cuidadora paliativa e integrante da equipe Inumeráveis.
                </div> 



                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">A nova era</span>
                </div> 
                <div class="artwork | margin-top-200">
                    O espaço da instalação artística no Memorial marca o fim da crise e o início de uma nova era. 
                    A descida da escada, passo a passo, significa os vários passos necessários para retomar as relações
                    face a face até que a sociedade encontre um terreno comum.
                </div> 
                <div class="artwork | margin-top-200">
                    Comemorando o fim do isolamento social, a escada neste momento também vira arquibancada para receber
                    encontros e conversas presenciais.
                </div> 
                <div class="artwork | margin-top-200">
                    Sentir a terra e a grama juntas novamente simboliza esse reencontro e abre caminho para algumas conversas 
                    fundamentais sobre o que aprendemos e sobre como a sociedade mudou.
                </div> 

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/10.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/11.webp"
                        alt="image"
                        srcset=""
                    />

                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/pages/inumeraveis/12.webp"
                        class="video-scale-wide margin-top-200"
                    >
                        <source
                            src="/assets/pages/inumeraveis/012.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/pages/inumeraveis/012.webm"
                            type="video/webm"
                        />
                    </video>

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Memorial Inumeráveis Memorial </span>, plano arquitetônico.
                        <br /> Render 3D por Guilherme Bullejos e RiseNY&Partners.
                    </div>
                </div>




                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Se reconectando com a natureza</span>
                </div> 
                <div class="artwork | margin-top-200">
                    A árvore, centralizada em frente à arquibancada, é a parte mais alta do Memorial, 
                    e é ao redor dela que nos sentamos para relembrar nossa relação desequilibrada com a natureza e os animais. 
                    Um fator crítico para o surgimento do vírus que deu início a toda essa crise. É também em torno dessa mesma 
                    árvore que podemos nos reunir para discutir e projetar um futuro mais harmonioso entre a natureza e o ser 
                    humano.                </div> 
                <div class="fs-quote margin-top-300">
                        "A vida insiste em se mostrar sob o sol, sob o tempo, revelando o 
                        que mais precisamos aprender neste momento de luto: aprender a recriar 
                        o que fomos sob o olhar do amor daqueles que perdemos. O amor não morre. 
                        O amor não morre, renasce todos os dias, sob o céu, junto aos muros, rumo às árvores, 
                        rumo à vida. Mesmo que precise de silêncio, vale a pena"
                        <div class="margin-top-100">
                        -Ana Claudia Quintana Arantes, médica, cuidadora paliativa e integrante da equipe Inumeráveis.
                        </div>
                </div>
                <div class="artwork | margin-top-300">
                    A cada pôr do sol, um novo ritual interativo de luz e conexão. Todos os dias junto com o pôr do sol, 
                    o memorial acenderá suas luzes que iluminarão cada nome registrado.
                </div> 

                <div class="fs-quote margin-top-300">
                    "O luto é o abrigo para a dor da perda. Ele preserva em nós as marcas que registraram a experiência do vínculo. 
                    Ele habita em nossa memória pelo acesso constante às memórias que ficam, protege os afetos que sentimos e é o 
                    guardião da vida que antes pulsava e agora é silêncio. Por isso, o luto demanda um lugar de expressão. 
                    Precisa de voz e de ser compartilhado, e a saudade é sua manifestação."
                    <div class="margin-top-100">
                    -Silvana Aquino, psicóloga, cuidadora paliativa e integrante da equipe Inumeráveis.
                    </div>
                </div> 

                <div class="artwork | margin-top-400">
                    Saiba mais em: <a href="https://inumeraveis.com.br/futuro/"> https://inumeraveis.com.br/futuro/</a>
                </div> 

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    O <span class="fstyle-label">Memorial Inumeráveis</span> existe graças ao esforço e dedicação de centenas de voluntários.
                    <br /><br />
                    Ele só possível graças ao trabalho contínuo de Rogério Oliveira, Maria Luiza de Barros, Guilherme Bullejos, 
                    Alana Rizzo, Silvana Aquino, Ana Claudia Quintana Arantes, Gabriela Veiga, Rogério Zé, Rubens Oliveira, 
                    Jonathan Querubina e Giovana Madalosso, entre outros.                    <br /><br />
                    As imagens para o memorial físico foram criadas em colaboração com Guilherme Bullejos e a equipe da RiseNY&Partners.                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
