---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Inumeraveis Memorial - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600">Edson Pavoni</span>
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Inumeráveis Memorial
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    architecture and digital platform / 2020-
                </div>

                <div class="artwork | margin-top-500">
                    The <span class="fstyle-label">Inumeráveis Memorial</span>
                    (Innumerable Memorial) is an artwork presented through different digital platforms and a physical monument. 
                    <br /><br />
                    It is an ongoing collective set of life stories of Covid-19 fatal victims in Brazil, written by hundreds of volunteers that interview thousands of family members, friends and loved ones. 
                    The open air physical monument hopes to recount Covid's victim's stories as a journey of healing combining architecture, technology and memory.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/z3FoA8zFcUs?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial</span> video introduction,
                        1 min.
                    </div>
                </div>

                <div class="fs-eye | margin-top-500">
                    "No one wants to be a number, people deserve to exist in prose."
                    <br>- Edson Pavoni
                </div>

                <div class="margin-top-500">
                    Between 2020 and 2022, Brazil became one of the most impacted countries by the new coronavirus. In 2021, Brazil had 2.7 percent of the world's population, but was responsible for 13 percent of Covid-19 fatalities worldwide. This happened as the globe witnessed how Jair Bolsonaro's government failed to put in place national health strategies. 
                    <br><br>
                    There was a heavy cost for the government's systematic disregard for scientifically proven effective methods to prevent the spread of the virus. Their assistance in the proliferation of organized networks promoting misinformation about the virus; the public sponsored agglomerations; the advertising and prescription, by doctors ideologically allied to the government, of proven ineffective drugs against COVID-19; the underreporting of epidemiological data; and the postponement, amid accusations of corruption, of the purchase of vaccines was paid in hundreds of thousands of citizens' lives.
                    <br><br>
                    As the death tolls rose exponentially, it was rare to find a name in the news coverage. But there's so much power in a name. David, Abdias, Carolina... Names evoke images, memories, connections. Covid-19 victims too soon became statistics, hollow and cold numbers. But no one wants to be reduced to a number - people deserve to exist in prose.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/01.webp"
                        alt="image"
                        srcset=""
                    />

                    <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/inumeraveis/002.jpg"
                    class="video-scale margin-top-200"
                >
                    <source
                        src="/assets/pages/inumeraveis/002.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/inumeraveis/002.webm"
                        type="video/webm"
                    />
                </video>

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial </span>website and architectural plan.
                        <br /> 3D rendering by Guilherme Bullejos.
                    </div>
                </div>


                <div class="margin-top-400">
                    <span class="fstyle-label">"Founding the Inumeráveis Memorial, in 2020, was a way to act, as an artist, on the pandemic in Brazil"</span>
                    , Pavoni has stated. Over the last two years, he has been committed to the power of this initiative, a collective effort to build memory, affection, respect and a different future.
                    <br /><br />
                    Featured in all the major newspapers in Brazil and abroad, the Inumeráveis prove itself to be a powerful tool towards the humanization of the media coverage. The project impacted an estimate of 1 in each 6 adults in the country, a total of circa 31 million people.
                    <br /><br />

                    <div class="fs-quote margin-top-200">
                        "As I listened to the thousand stories we collected, I understood that the process of remembering is healing for the individual and protective for society. We must remember. The same mistakes will be made if we forget those that have passed - and why they left us."
                        <br> - Edson Pavoni
                    </div>

                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">The physical monument: a healing journey</span>
                </div> 

                <div class="artwork | margin-top-300">
                    Designed for the Villa Lobos' park, in São Paulo, the physical Inumeráveis monument aims to integrate nature and technology, creating a meditative space for contemplation. The location was chosen due to its accessibility and popularity amongst the city residents. Not only that, it is in accordance with the city's urban planning and goals:
                </div> 

                <div class="fs-quote margin-top-300">
                    "The project [of the monument] intends to connect with the proposals of urban requalification of the region and to support other cultural and artistic practices that already exist in the place. So that it does not negatively impact the landscape or the dynamics already present, the implementation will start from the in-depth study of the integration with the surroundings. Spaces of culture and leisure like this are fundamental to extend the reach of information and memory to those who enjoy them."
                    <div class="margin-top-100">
                    - Maria Luiza Barros, Architect, Urbanist and member of the Inumeráveis' team.
                    </div>
                </div>



                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/02.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial </span>architectural plan.
                        <br /> 3D rendering by Guilherme Bullejos.
                    </div>
                </div>



                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Starting the journey</span>
                </div> 

                <div class="artwork | margin-top-300">
                    As visitors approach the monument, they find, hidden among the park's trees, a curve-shaped building. At its entrance, there's a wall that cuts the memorial in half. On that wall, there's a text about the new coronavirus and the historical response to it.
                </div> 
                
                <div class="image-container">
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/pages/inumeraveis/03.webp"
                        class="video-scale-wide margin-top-200"
                    >
                        <source
                            src="/assets/pages/inumeraveis/003.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/pages/inumeraveis/003.webm"
                            type="video/webm"
                        />
                    </video>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial </span>architectural plan.
                        <br /> 3D rendering by RiseNY&Partners.
                    </div>
                </div>


                <div class="artwork | margin-top-400">
                    This text highlights the speed in which this invisible threat reached the whole world. Emphasizing the importance of science, as well as the lack of belief in it that was shown throughout the crisis, the text brings up crucial aspects about the social isolation that defined this period, in addition to the advancement of technology that aimed to make people feel closer to one another.
                </div> 

                <div class="artwork | margin-top-200">
                    It also underlines how our unbalanced relationship with animals was at the root of this pandemic and how leaders who exchanged thousands of human lives for their own power - and about those who challenged them.
                </div> 


                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/04.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/05.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial </span>architectural plan.
                        <br /> 3D rendering by Guilherme Bullejos.
                    </div>
                </div>


                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Technology at the heart of memory</span>
                </div> 
                <div class="artwork | margin-top-200">
                    A little ahead are two ramps, and the visitor must choose one. The first names of all the coronavirus' victims in Brazil will be engraved in metal along the railing of the ramp. A wide, empty and silent space separates visitors, reminding us of social isolation and the loneliness of mourning.
                </div> 
                <div class="artwork | margin-top-200">
                    When a visitor points their mobile phone at one of the names, they will be automatically directed to that person's story on the Memorial's website. In this moment, the individual light of that name engraved on the metal will light up much more intensely - as if it is feeling the connection.
                </div> 
                <div class="artwork | margin-top-200">
                    Whenever someone accesses the website, even if on the other side of the world, they will be able to make a light physically shine in the memorial. Such a gesture aims to be a reminder of their lives, as if visitors could see memories happening before their eyes.
                </div> 

                <div class="image-container">

                    <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/inumeraveis/03.webp"
                    class="video-scale-wide margin-top-300"
                >
                    <source
                        src="/assets/pages/inumeraveis/007.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/inumeraveis/007.webm"
                        type="video/webm"
                    />
                </video>

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/06.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/07.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial </span>architectural plan.
                        <br /> 3D rendering by Guilherme Bullejos and RiseNY&Partners.
                    </div>
                </div>



                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">The longing for touch</span>
                </div> 
                <div class="artwork | margin-top-200">
                    At the end of the ramp, visitors will see an artistic installation composed of two panes of glass that seem to divide the space.
                </div> 
                <div class="artwork | margin-top-200">
                    This installation will create a sensory bridge between the two ramps. When someone touches the glass on one of the sides and another person touches the glass on the other side – in the same place and at the same time -, both will feel physically that they have touched each other through a gentle vibration.
                </div> 

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/08.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/09.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial </span>architectural plan.
                        <br /> 3D rendering by Guilherme Bullejos.
                    </div>
                </div>
                

                <div class="fs-eye | margin-top-400">
                    "Nothing that would seem distant can withstand the decision of an encounter. Symbolic or real, the life of lost love continues within us."
                </div>
                <div class="artwork | margin-top-300">
                    - Ana Claudia Quintana Arantes, Doctor, palliative caretaker and member of the Inumeráveis' team.
                </div> 



                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">The new era</span>
                </div> 
                <div class="artwork | margin-top-200">
                    The installation space at the memorial marks the end of the crisis and the beginning of a new era. The descent of the stairs, step by step, signifies the various steps necessary to resume face-to-face relationships until the society finds a common ground.
                </div> 
                <div class="artwork | margin-top-200">
                    Celebrating the end of social isolation, the stairs at this time also become a bleacher to host face-to-face meetings and conversations.
                </div> 
                <div class="artwork | margin-top-200">
                    Feeling the earth and the grass together again symbolizes this re-encounter, and it opens the way for some fundamental conversations about what we have learned and how society has changed.
                </div> 

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/inumeraveis/10.webp"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/inumeraveis/11.webp"
                        alt="image"
                        srcset=""
                    />

                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/pages/inumeraveis/12.webp"
                        class="video-scale-wide margin-top-200"
                    >
                        <source
                            src="/assets/pages/inumeraveis/012.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/pages/inumeraveis/012.webm"
                            type="video/webm"
                        />
                    </video>

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis Memorial </span>architectural plan.
                        <br /> 3D rendering by Guilherme Bullejos and RiseNY&Partners.
                    </div>
                </div>




                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Reconnecting with nature</span>
                </div> 
                <div class="artwork | margin-top-200">
                    The tree, centered in front of the bleachers, is the tallest part of the Memorial, and it is around it that we sit down to remind ourselves about our unbalanced relationship with nature and animals. A critical factor for the emergence of the virus that started this entire crisis. It is also around this same tree that we can come together to discuss and design a more harmonious future between nature and humans.
                </div> 
                <div class="fs-quote margin-top-300">
                        "Life insists on showing itself under the sun, under the time, revealing what we most need to learn in this time of mourning: learning to recreate what we were under the eyes of the love of those we lost. Love does not die. Love is reborn every day, under the sky, beside the walls, towards the trees, towards life. Even if it needs silence, it is worth it"
                        <div class="margin-top-100">
                        -Ana Claudia Quintana Arantes, Doctor, palliative care and member of "the Inumeráveis" team.
                        </div>
                </div>
                <div class="artwork | margin-top-300">
                    At each sunset, a new interactive ritual of light and connection. Every day along with the sunset, the memorial will turn on its lights that will illuminate each recorded name.
                </div> 

                <div class="fs-quote margin-top-300">
                    "Mourning is the shelter for the pain of loss. It preserves within us the marks that recorded the experience of the bond. It dwells in our memory through the constant access of the memories that remain, protects the affections that we feel, and is the guardian of the life that before it pulsed and now is silence. For that reason, mourning demands a place of expression. It needs a voice and to be shared, and longing is its manifest."
                    <div class="margin-top-100">
                    -Silvana Aquino, Psychologist, palliative caretaker and member of Inumeráveis' team.
                    </div>
                </div> 

                <div class="artwork | margin-top-400">
                    Know more at: <a href="https://inumeraveis.com.br/futuro/"> https://inumeraveis.com.br/futuro/</a>
                </div> 

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    The <span class="fstyle-label">Inumeráveis Memorial </span> exists because of the effort and dedication of hundreds of volunteers. 
                    <br /><br />
                    It has been made possible because of the continuous work of Rogério Oliveira, Maria Luiza de Barros, Guilherme Bullejos, Alana Rizzo, Silvana Aquino, Ana Claudia Quintana Arantes, Gabriela Veiga, Rogério Zé, Rubens Oliveira, Jonathan Querubina and Giovana Madalosso, among others. 
                    <br /><br />
                    The images for the physical memorial were created in collaboration with Guilherme Bullejos and the team at RiseNY&Partners. 
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
