---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Landscapes of the Mind - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Lyora Pissarro</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Landscapes<br />of the mind
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    instalação performática / 2022
                </div>

                <div class="artwork | margin-top-500">
                    <br />
                    <span class="fstyle-label">Landscapes of the Mind</span> (Paisagens da Mente) é uma instalação performática
                    feita com monitores cerebrais que são capazes de ler a atividade neural de dois participantes enquanto eles se olham.
                     Os dados coletados são usados para criar um desenho generativo que é projetado sobre uma pintura a óleo de Lyora Pissarro.
                    <br /><br />
                    Apresentado ao vivo em Brooklyn, Nova Iorque, em 2022, <span
                        class="fstyle-label">Landscapes of the Mind</span
                    > foi envisionado junto à artista
                    <a href="http://www.lyorapissarro.com/"> Lyora Pissarro</a>
                    como uma experiência de profunda conexão entre as pessoas e a arte.
                </div>

                <div class="artwork | margin-top-300">
                    <img
                        src="/assets/pages/landscapes-of-the-mind/01.jpg"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        Participantes experimentam <span class="fstyle-label"
                            >Landscapes of the Mind</span
                        > em Nova Iorque, 2022.
                        <br />Foto cortesia dos artistas.
                    </div>

                    <div class="fs-quote margin-top-400">
                        “Em um mundo onde o tempo médio de atenção dado a uma pintura
                         em um museu é inferior a cinco segundos, a tecnologia foi usada 
                         não como uma força de distração, mas como uma ferramenta fundamental 
                         para ampliar nossa atenção e nossa consciência sobre as conexões que 
                         podemos promover, não só com a arte, mas com as pessoas que as vivenciam conosco”
                        <br />
                        - Edson Pavoni
                    </div>

                    <div class="margin-top-500">
                        Os sistemas implementados para este trabalho foram baseados 
                        na funcionalidade do nosso sistema neural. "Nossos neurônios, na verdade,
                        não se tocam. Ao contrário, eles se conectam por meio da eletricidade", 
                        explica Pavoni. Os dois aparelhos usados na instalação analisavam exatamente 
                        isso: eram capazes de medir o potencial elétrico criado pelo cérebro.
                        <br /><br />
                        O software customizado, desenvolvido especialmente para esta obra, conseguia
                        captar a atividade do cérebro e reconhecer sinais de calma e de estados de meditação. 
                        Durante a apresentação, as ondas cerebrais de dois participantes foram registradas 
                        por um minuto. Essa atividade gerou partículas com forças gravitacionais que se atraíram. 
                        Isto é: as partículas do usuário 1 foram atraídas pelas partículas do usuário 2. O rastro 
                        dessas partículas criou o desenho generativo sobre a pintura de Pissarro, que estava entre os participantes.

                    </div>
                    <div class="margin-top-300">
                        <img
                            src="/assets/pages/landscapes-of-the-mind/02.jpg"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        Participantes experimentam <span class="fstyle-label"
                            >Landscapes of the Mind</span
                        > em Nova Iorque, 2022.
                        <br />Cortesia dos artistas.
                    </div>


                    <div class="margin-top-500">
                        Para entender o que está sendo mostrado, decodificameos que a linha azul representa o alinhamento das ondas cerebrais dos participantes durante o momento da captura. Uma linha reta representa um grande alinhamento.
                        <br /><br />
                        Este protótipo de conceito rápido foi feito em seis dias pelos artistas 
                        e apresentado para um grupo de amigos como um experimento inicial de uma visão maior, 
                        uma exposição completa sobre as conexões da consciência humana e a experiência da arte.                    </div>
                    <div class="margin-top-300">
                        <img
                            src="/assets/pages/landscapes-of-the-mind/03.jpg"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div>
                        <video
                            autoplay
                            muted
                            playsinline
                            loop
                            poster="/assets/pages/landscapes-of-the-mind/02.jpg"
                            class="video-scale-wide margin-top-200"
                        >
                            <source
                                src="/assets/pages/landscapes-of-the-mind/001.mp4"
                                type="video/mp4"
                            />
                            <source
                                src="/assets/pages/landscapes-of-the-mind/001.webm"
                                type="video/webm"
                            />
                        </video>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        Participantes experimentam <span class="fstyle-label"
                            >Landscapes of the Mind</span
                        > em Nova Iorque, 2022.
                        <br />Foto cortesia dos artistas.
                    </div>
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni & Lyora Pissarro, artistas.
                    <br /><br />

                    <span class="fs-credits-bold">Software</span><br>
                    Johnatan Querubina & Edson Pavoni
                    <br /><br />

                    <span class="fs-credits-bold">Agradecimentos especiais para</span>
                    nosso anfitrião Jony Levin, e pelo apoio de Chris Mewes, Alex Fraenkel, Luana Lima Fox, & Jo.Ke.
                    
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
