---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="O que não podemos esquecer - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        O que não podemos esquecer
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    exposição + performance / 2023
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">O que não podemos esquecer</span> foi a 
                    primeira exposição individual de Edson Pavoni. Com curadoria de Carollina Lauriano, 
                    a exposição foi resultado de três anos que pesquisa do artista sobre temas que envolvem 
                    perda, memória e luto, com ênfase na pandemia do Covid-19. A mostra é, em especial, 
                    um desenvolvimento do projeto Memorial Inumeráveis, que desde 2020 reúne milhares 
                    de histórias das vítimas do coronavírus no Brasil. 
                    <br /><br />
                    A exposição também foi palco para uma performance de mesmo título, protagonizada 
                    por Pavoni e pela artista  Isabella Nardini, no dia de sua inauguração. No dia 
                    seguinte, a mostra contou com uma roda de conversa com a curadora, o artista, 
                    e com a médica especializada em cuidados paliativos Ana Claudia Quintana. A 
                    exposição ficou em cartaz nos dias 17 e 18 de junho de 2023, na Casa Cósmica, 
                    em São Paulo.            
                </div>
                <div class="work-image | margin-top-300">
                    <img
                        src="/assets/pages/naopodemos/gifnovo.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">O que não podemos esquecer</span>, 2023.<br />Fotografia por
                    Estúdio Em Obra.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">O grito, o silêncio e a música </span>
                    <br /><br />
                    <span class="fstyle-label">“Tomando os atravessamentos que 
                    a pandemia impôs ao mundo, mas também apontando questões 
                    de ordem política enfrentadas pelo Brasil diante o 
                    enfrentamento do vírus, Edson Pavoni apresenta um 
                    conjunto de trabalhos que ora denunciam descasos 
                    cometidos por parte da governabilidade, ora opta 
                    por caminhos poéticos que apontam caminhos de elaboração 
                    de futuros, na tentativa de não nos deixar esquecer os 
                    quase sete milhões de vítimas fatais do vírus em todo mundo, 
                    entre elas mais de setecentos mil brasileiros”</span>, 
                    escreve Lauriano. 
                    <br /><br />
                    As três partes da mostra — o grito, o silêncio e a música —  
                    são compreendidas pelo artista como três etapas para elaboração de um luto. 
                    “Se em grito, Pavoni se vale de sentimentos primários — como a raiva — para 
                    lidar com esse primeiro momento de ausência, o silêncio atua como etapa seguinte 
                    de recolhimento e introspecção”, explica a curadora. 
                    <br /><br />
                    Sair desse momento, para o artista, exige um período de contemplação: o silêncio. 
                    Um período de calmaria, de introspecção.  Uma pausa para processar a dor. 
                    Segundo a curadora, quando podemos ultrapassar esses “dois momentos de difícil assimilação”, 
                    é possível ouvir a música que abre novos caminhos. Assim,“Pavoni nos traz à vida. Ou à 
                    possibilidade dela.” Tendo como contexto os longos períodos de isolamento da pandemia, 
                    o momento da música, nesta exposição, traz referenciais ligados ao toque, ao contato físico, 
                    e às nuances das conexões humanas. Em suas obras, Pavoni demonstra “que é possível reativar
                    memórias que nos retiram do estado de isolamento e nos colocam de novo em contato com o mundo”, 
                    como elabora Lauriano.  
                    <br /><br />
                    Leia o texto completo da curadora  <a href="/br/texto-carollina">aqui.</a>               
                </div>
                 <div class="work-image | margin-top-300">
                    <img
                        src="/assets/pages/naopodemos/001.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">O que não podemos esquecer</span>. Vista da exposição.<br />Fotografia por
                    Estúdio Em Obra.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title"> O grito </span>
                    <br /><br />
                    Segundo a médica especialista em cuidados paliativos, 
                    Ana Claudia Quintana, “o que vivemos na pandemia ainda 
                    deveria estar no espaço do grito”. Em seu texto sobre a 
                    exposição, Quintana descreve esse espaço como um lugar <span class="fstyle-label">
                    “do choque, da indignação, da percepção da injustiça de mãos 
                    dadas com a irreversibilidade. Nenhuma morte é menos do que 
                    cem por cento de ausência. De silêncio abismal, profundo, total. 
                    Da voz de quem se foi ao redor da escuta de quem permaneceu. 
                    Esse silêncio ensurdecedor só se quebra pelo som da natureza. 
                    A natureza que revela a cada dia a persistência da vida. 
                    A teimosia da vida. A determinação da vida. Que no seu ritmo, 
                    incansável, persistente, amorosamente vem e nos mostra que o 
                    ritmo da vida segue adiante.”</span>
                    <br /><br />
                    Leia o texto completo de Ana Claudia Quintana <a href="/br/texto-anaclaudia">aqui.</a>
                    <br /><br />
                </div>
                
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/002.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Cloroquina</span>, 2023, parte da série <span class="fstyle-label">Notícias Checadas.</span><br />Fotografia por
                    Estúdio em Obra.
                </div>

                <div class="artwork | margin-top-500">
                    Em Grito, a série <span class="fstyle-label">Notícias Checadas</span> toma como ponto de partida 
                    os escândalos que marcaram o período de maior ápice da pandemia 
                    do Covid-19, denunciando seus efeitos e consequências para a 
                    população brasileira. São três obras: <span class="fstyle-label">Cloroquina</span>, <span class="fstyle-label">Viagra</span> e <span class="fstyle-label">Um dólar</span>, todas de 2023.
                    <br /><br />
                    Nesse período, destacou-se a explosão de desinformação que promovia medicamentos 
                    comprovadamente ineficazes para prevenção e profilaxia da doença. Autoridades médicas, 
                    religiosas e inclusive a instância máxima do governo, disseminaram a promoção do uso 
                    de fármacos como a Cloroquina e a Ivermectina, impactando a vida de milhares de brasileiros 
                    e <a href="https://www.brasildefato.com.br/2021/10/20/leia-a-integra-do-relatorio-final-da-cpi-da-pandemia-apresentado-por-renan-calheiros-no-senado"> gerando resultados desastrosos para o controle do vírus.</a><sup>(1)</sup>
                </div>

                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/003.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Um dólar</span>, 2023, parte da série <span class="fstyle-label">Notícias Checadas.</span><br />Fotografia por
                    Estúdio em Obra.
                </div>
                <div class="artwork | margin-top-500">
                E, enquanto o mundo se engajava em uma corrida pela vacina, 
                eficaz e segura, o governo encontrava-se em meio a delações 
                que demonstravam seus esforços em não assegurar vacinas o mais 
                rápido possível para sua população, mas <a href="https://www1.folha.uol.com.br/poder/2021/06/exclusivo-governo-bolsonaro-pediu-propina-de-us-1-por-dose-diz-vendedor-de-vacina.shtml">em lucrar um dólar por 
                 cada dose comprada da Davati Medical Supply.</a><sup>(2)</sup>
                <br /><br />
                Como se não bastasse, reportagens provaram que as Forças Armadas haviam usado 
                dinheiro público para adquirir mais de 35 mil unidades de sildenafila, 
                medicamento conhecido pelo nome comercial de Viagra, com a inverossímil 
                justificativa de que seria empregado no tratamento de militares com <a href="https://g1.globo.com/df/distrito-federal/noticia/2022/04/12/doenca-usada-como-justificativa-para-compra-de-35-mil-comprimidos-de-viagra-para-as-forcas-armadas-e-rara-e-atinge-mais-mulheres-do-que-homens.ghtml">uma 
                    doença rara e que atinge mais mulheres do que homens.</a><sup>(3)</sup>
                <br /><br />
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/004.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Viagra</span>, 2023, parte da série <span class="fstyle-label">Notícias Checadas.</span><br />Fotografia por
                    Estúdio em Obra.
                </div>
                <div class="artwork | margin-top-500">
                    Outra obra desse primeiro momento é a instalação <span class="fstyle-label">Inumeráveis</span>, 
                    composta por uma impressora matricial que imprime, em ritmo constante, 
                    pelo menos 12 mil histórias de vida das vítimas da Covid-19 no Brasil, 
                    reunidas previamente pelo <span class="fstyle-label">Memorial Inumeráveis</span>, uma plataforma digital 
                    que conta com centenas de voluntários desde 2020. 
                    <br /><br />
                    Acesse as histórias completas clicando <a href="https://inumeraveis.com.br/">aqui.</a>
                </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/005.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis</span>, 2023. A instalação é composta por uma impressora matricial <br />e 12 mil folhas de papel contínuo. Fotografia por
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        Cada nova história que é adicionada à plataforma é 
                        também impressa pela máquina. Utilizando-se de objetos 
                        que remetem a processos burocráticos e administrativos, 
                        aqui empregados de modo ácido como símbolos das instâncias 
                        governamentais teoricamente responsáveis pela proteção da população, 
                        a obra cria impressões frágeis que resguardam, fisicamente, a memória 
                        das pessoas vítimas da Covid-19. 
                        <br /><br />
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/006.webp"
                            alt="image"
                            srcset=""
                        />
                    </div> 
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/007.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        Detalhes da obra<span class="fstyle-label">Inumeráveis</span>, 2023. A instalação é composta por uma impressora matricial <br />e 12 mil folhas de papel contínuo. Fotografia por
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        Essas impressões, que assemelham-se a relatórios cotidianos de uma repartição pública, prontos a serem catalogados e engavetados, entretanto, possuem tamanho volume que seu arquivamento torna-se impossível. Ao estarem coligadas, folha a folha, são indivisíveis. É necessário compreendê-las como um todo, unido, um grupo de histórias interrompidas pelo mesmo ponto final. De norte a sul, leste a oeste, cada história é única, e guarda consigo um pedaço de sabedoria que não só é inestimável, como insubstituível.
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/008.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis</span>, 2023. A instalação é composta por uma impressora matricial <br />e 12 mil folhas de papel contínuo. Fotografia por
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        <span class="fs-sub-title"> O silêncio</span>
                        <br /><br />
                       No contexto da pandemia da Covid-19, o embate entre crenças tornou-se latente. Isto é: a escolha em o que acreditar, em que informação tomar como verdadeira, determinou caminhos individuais, familiares e coletivos, inclusive a nível de Estado.
                       <br /><br />
                    A obra <span class="fstyle-label">Crente</span> postula rumos para compreendermos esse cenário ao transformar em cerâmica um dos maiores ícones do período da pandemia, o equipamento de proteção individual chamado de <span class="fstyle-label">"face shield"</span>, normalmente feito em plástico transparente.  
                        <br /><br />
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/009.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                </div>
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/010.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Crente</span>, 2023. Escultura em cerâmica, produzida por Felipe Corcione. <br /> Fotografia por
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        Ao transformá-lo em cerâmica, um dos materiais pelo qual podemos conhecer detalhes de civilizações que existiram há milhares de anos, o artista busca solidificar a era da pandemia. Com isso, por um lado, eterniza os trabalhadores da saúde que se utilizavam do acessório todos os dias na linha de frente do combate à doença, e cuja prática baseava-se em métodos científicos. 
                        <br /><br />
                        Por outro, a transformação em cerâmica inviabiliza o instrumento de cumprir a sua função original, sendo agora um obstáculo físico à visão. Como antolhos radicais, o objeto questiona o modo pelo qual a fé é construída dentro de cada um. Questiona, mais especificamente, os sentidos que usamos para elaborar nossas concepções sobre o mundo e sobre a verdade.
                    </div>   
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/011.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                    Detalhe da obra <span class="fstyle-label">Crente</span>, 2023. Escultura em cerâmica, produzida por Felipe Corcione. <br /> Fotografia por
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        <span class="fs-sub-title">A música</span>
                        <br /><br />
                        Em <span class="fstyle-label">A Música</span>, Pavoni apresenta duas obras que se relacionam 
                        com essa fase final do processo de luto: <span class="fstyle-label">
                        Templo Orbital</span> e <span class="fstyle-label">Primeiro Sentido</span>. 
                        <br /><br />
                        <span class="fstyle-label">Templo Orbital</span> é o primeiro satélite 
                        orbital artístico do Sul Global. Sua missão é questionar a colonização simbólica 
                        do céu como paraíso; a origem das regras que abrem ou fecham seus portais; e a 
                        influência que essas crenças têm nas decisões que tomamos todos os dias. 
                        <br /><br />  
                    </div> 
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/012.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Templo Orbital</span>. Instalação feita com satélite e escultura dourada.<br />Fotografia por
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        Seu ponto de partida é a aceitação, e toma o céu como lugar máximo de aceitação. A maioria das culturas e religiões que obedecem a alguma ideia de céu e inferno estabelecem diretrizes precisas sobre quem pertence a cada destino da vida após a morte. Essas diretrizes geralmente são rígidas e excludentes. A missão Templo Orbital questiona essas ideias. E se pudéssemos imaginar um paraíso alternativo no qual todos os seres sencientes pudessem ter um lugar? Pelo site, qualquer pessoa pode enviar o nome da pessoa que deseja mandar para o céu, sem nenhum custo. Assim que o satélite estiver em órbita e ocorrer o próximo alinhamento entre ele e a antena, os nomes serão transmitidos para o dispositivo no céu. O satélite o armazenará em sua memória e responderá com uma mensagem confirmando que está registrado no templo.
                        <br /><br />
                    Saiba mais sobre a obra clicando <a href="https://edsonpavoni.art/br/orbital-temple/">aqui.</a>
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/013.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Templo Orbital</span>. Instalação feita com satélite e escultura dourada.<br />Fotografia por
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        A obra <span class="fstyle-label">Primeiro Sentido</span>, 
                        que vem sendo desenvolvida desde 2015, ganhou novos sentidos 
                        em meio à pandemia. O toque como uma necessidade 
                        básica tornou-se cada vez mais evidente devido à 
                        sua ausência. Durante esse período, o toque tornou-se 
                        uma ameaça. O ato de tocar significava algo perigoso, 
                        arriscado, algo a ser temido e evitado. Instaurou-se 
                        uma crise do toque cada vez mais aguda, e cujas 
                        consequências ainda não podemos estimar. Essa 
                        redução extrema em nossa capacidade de tocar os 
                        outros destacou o fato de que todas as pessoas, 
                        não importa a idade, precisam ser tocadas para prosperar. 
                        Por isso, a série fotográfica <span class="fstyle-label">Primeiro Sentido</span> vem ao 
                        encontro da música ao representar as respostas humanas a este temível toque. 
                        </div>
                        <div class="work-image | margin-top-400">
                            <img
                                src="/assets/pages/naopodemos/014.webp"
                                alt="image"
                                srcset=""
                            />
                        </div>
                        <div class="work-image | margin-top-400">
                            <img
                                src="/assets/pages/naopodemos/015.webp"
                                alt="image"
                                srcset=""
                            />
                        </div>
                        <div class="fs-caption text-caption padding-block-caption">
                            <span class="fstyle-label">Cabo Verde Witch</span>, 2019, e <span class="fstyle-label">The Queen</span>, 2023, parte da série <span class="fstyle-label">Primeiro Sentido</span>.<br />Fotografia por
                            Estúdio Em Obra.
                            </div>
                        <div class="artwork | margin-top-500">
                            Buscando investigar a qualidade das conexões que surgem a partir desse ato, 
                            o artista registra fotograficamente o ato de tocar pessoas pela primeira vez, 
                            algumas desconhecidas e outros já familiares. Nesse movimento, Pavoni busca 
                            compreender o espírito do toque, o nosso mais básico instrumento de comunicação. 
                            Capaz de transmitir emoções mais rapidamente do que as palavras, até o toque mais 
                            sutil pode ter efeitos profundos no que sentimos, provocando um leque de emoções 
                            tão complexo e amplo que consegue definir, pouco a pouco, quem somos.
                            <br /><br />
                            Saiba mais sobre as obras clicando <a href="https://edsonpavoni.art/br/first-sense/">aqui.</a>
                            </div>
                            <div class="work-image | margin-top-400">
                                <img
                                    src="/assets/pages/naopodemos/016.webp"
                                    alt="image"
                                    srcset=""
                                />
                            </div>
                            <div class="fs-caption text-caption padding-block-caption">
                                <span class="fstyle-label">A música</span>, seção na exposição 
                                <span class="fstyle-label">O que não podemos esquecer</span>, 2023.
                                <br />Fotografia por Estúdio Em Obra.
                            </div>
                            <span class="fs-sub-title">A performance</span>
                            <div class="artwork | margin-top-300">
                            Quem esteve na Casa Cósmica, em São Paulo, quando os relógios marcaram 
                            cinco horas e cinquenta e cinco minutos, no dia 17 de junho de 2023, 
                            pode participar da performance <span class="fstyle-label">O que não podemos esquecer</span>, resultado 
                            de um processo colaborativo entre Isabella Nardini e Edson Pavoni. 
                            Em meio às demais obras da exposição de mesmo nome, que exploravam 
                            o trauma coletivo da pandemia do Covid-19 no Brasil, havia uma 
                            simplicidade de elementos auxiliares — a perfomance contava com uma 
                            ampulheta, suspensa pelo teto, duas cadeiras voltadas uma para a outra, 
                            e pequenas fitas vermelhas, delicadas como se fossem dar o toque final 
                            a um belo presente.
                            <div class="work-image | margin-top-400">
                                <img
                                    src="/assets/pages/naopodemos/017.webp"
                                    alt="image"
                                    srcset=""
                                />
                            </div>
                            <div class="work-image | margin-top-400">
                                <img
                                    src="/assets/pages/naopodemos/000001.webp"
                                    alt="image"
                                    srcset=""
                                />
                            </div>
                            <div class="fs-caption text-caption padding-block-caption">
                                Registros da performance <span class="fstyle-label">O que não podemos esquecer</span>, 2023. Realizada por Isabella Nardini e Edson Pavoni. 
                                <br />Fotografia por Estúdio Em Obra.
                            </div>
                            <div class="artwork | margin-top-500">
                                Nardini e Pavoni, nessa performance, elaboram um convite para 
                                que os demais participantes possam exercer a memória não só 
                                como uma ação coletiva, mas como uma responsabilidade compartilhada. 
                                A simplicidade da pergunta a que eram convidados a responder, “o que 
                                não podemos esquecer?”, carregava consigo também a profundidade de um 
                                questionamento que parece estar na base mais fundamental de qualquer 
                                decisão. Respostas que variavam desde o que não podemos esquecer ao 
                                sair de casa, até o que não podemos esquecer como humanidade, apontavam 
                                para a necessidade de refletirmos sobre as políticas de memória e 
                                esquecimento que permeiam a nossa relação com o passado, o presente e 
                                o futuro. Após Nardini e Pavoni responderem à pergunta, cada um fez um 
                                laço com a fita em um dedo um do outro. E passaram adiante duas outras 
                                fitas para que novos corpos ocupassem aquele espaço e seguissem se 
                                entrelaçando.
                                <div class="work-image | margin-top-400">
                                    <img
                                        src="/assets/pages/naopodemos/00211.webp"
                                        alt="image"
                                        srcset=""
                                    />
                                </div>
                                <div class="fs-caption text-caption padding-block-caption">
                                    Isabella Nardini durante a performance <span class="fstyle-label">O que não podemos esquecer</span>, 2023.  
                                <br />Fotografia por Estúdio Em Obra.
                                </div>
                                <div class="artwork | margin-top-500">
                                    Ao motivar os participantes para que tomassem 
                                    os assentos em meio à mostra de arte e que 
                                    compartilhassem, enquanto a ampulheta virava, 
                                    o que para eles era imprescindível relembrar, 
                                    a performance atuava de modo quase metalinguístico 
                                    ao demandar, ela mesma, que o ato de lembrar fosse 
                                    exercido. Assim, tomava os corpos do público como 
                                    protagonistas desse ato e, nesse contexto, ficava 
                                    evidente a imediata conexão que surgia, entre dois 
                                    possíveis desconhecidos que ali, na base da cara e 
                                    da coragem, se dispunham a encontrar um campo em comum.
                                    <div class="work-image | margin-top-400">
                                        <img
                                            src="/assets/pages/naopodemos/0031.webp"
                                            alt="image"
                                            srcset=""
                                        />
                                    </div>
                                    <div class="work-image | margin-top-400">
                                        <img
                                            src="/assets/pages/naopodemos/0032.webp"
                                            alt="image"
                                            srcset=""
                                        />
                                    </div>
                                    <div class="fs-caption text-caption padding-block-caption">
                                        Registros da performance <span class="fstyle-label">O que não podemos esquecer</span>, 2023. Realizada por Isabella Nardini e Edson Pavoni. 
                                <br />Fotografia por Estúdio Em Obra.
                                    </div>
                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni, artista
                    <br /><br />

                    <span class="fs-credits-bold">Curadoria</span><br>
                    Carollina Lauriano
                    <br /><br />

                    <span class="fs-credits-bold">Performance</span><br>
                    Isabella Nardini & Edson Pavoni
                    <br /><br />

                    <span class="fs-credits-bold">Speaker Convidada</span><br>
                    Ana Claudia Quintana
                    <br /><br />
                    
                    <span class="fs-credits-bold">Montagem</span><br>
                    Gabriela Veiga & Junior de Gois
                    <br /><br />

                    <span class="fs-credits-bold">Produção</span><br>
                    Clara Marques & Gabriela Veiga
                    <br /><br />

                    <span class="fs-credits-bold">Textos & Design Gráfico</span><br>
                   Clara Marques
                    <br /><br />
                    
                    <span class="fs-credits-bold">Fotografia & Video</span><br>
                    Estúdio Em Obra
                    <br /><br />

                    <span class="fs-credits-bold">Agradecimentos especiais</span><br>
                    Casa Cósmica, Felipe Corcione, Anelise Valls, Marcello Dantas & Matias Campos Abad.                    <br /><br />
                    
                    <span class="fs-credits-bold">Equipe Templo Orbital</span>
                    Pedro Kaled, João Pedro Polito, Victor Baptista, João Victor Alves, André Biagioni, VK, Jonathan Querubina, Guilherme Bullejos, Eduardo Dias, RiseNy&Partners, Roberta Savian Rosa, Clara Marques, Daphne Alves, IdeaSpace & Pearmill.

                    <br /><br /><br /><br />
                </div>
                
            </div>
        </section>
    </main>
</Layout>
