---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Over the Face of New Waters - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Sobre a Face <br>de Novas Águas
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    instalação cinética/ 2019
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">Sobre as Faces de Novas Águas</span> é uma 
                    instalação composta por seis jardins suspensos auto-irrigáveis que se movem, por meio de um mecanismo 
                    especializado, de acordo com as necessidades de suas plantas. Quando visitantes humanos se aproximam, 
                    o jardim se coloca ao nível de seus olhos.

                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/QI5VHaBMMu4?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Sobre as Faces de Novas Águas</span> vídeo introdução,
                    1 min.
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">Nossa conexão com o mundo natural</span>
                    <br><br>
                    As plantas são organismos surpreendentes: capazes de sentir e se conectar com o ambiente ao seu redor, 
                    mesmo sem cérebro ou sistema nervoso central, elas podem perceber luzes, cheiros, toques, ventos e até a gravidade, 
                    respondendo ativamente ao mundo em que crescem. Baseando-se em pesquisas inovadoras sobre neurobiologia vegetal e 
                    em uma compreensão mais ampla sobre a agência dos seres naturais, 
                    <span class="fstyle-label">Sobre as Faces de Novas Águas</span> destaca as complexidades e infinitas possibilidades 
                    por meio das quais os humanos podem se relacionar com o mundo natural.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/over-the-face/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Sobre as Faces de Novas Águas</span>, 2019.
                        <br>Foto por Ricardo Bassetti.
                    </div>
                </div>

                <div class="margin-top-500">
                    Foi o gesto de emergir da água que deu o ponto de partida para a obra 
                    <span class="fstyle-label">Sobre as Faces de Novas Águas</span>. 
                    Refletindo sobre a importância da água como nosso ancestral comum, 
                    como nosso meio de origem, Pavoni buscou mergulhar em um aspecto tão fundamental 
                    de nossa existência. Se tudo o que já existiu veio da água, e se a água é nossa 
                    fonte de vida mais elementar, como podemos nos reconectar com ela?
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/over-the-face/02.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/home/14OvertheFaceofNewWaters.webp"
                    class="video-scale margin-top-200"
                >
                    <source
                        src="/assets/home/14OvertheFaceofNewWaters.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/home/12TheWatersareBreaking.webm"
                        type="video/webm"
                    />
                </video>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">
                        Sobre as Faces de Novas Águas</span>, 2019. 
                        <br>
                        Fotografia por Ricardo Bassetti e vídeo por Gee Galvão.
                </div>

                <div class="fs-eye | margin-top-500">
                    Nesta obra, Edson Pavoni expande sua pesquisa sobre a conexão 
                    com as plantas e o meio ambiente e propõe uma reconexão com a natureza, 
                    como entidade que escuta e sente.                </div>


                <div class="margin-top-400">
                    A obra de arte é uma instalação permanente composta por seis módulos. 
                    Cada escultura tem duas partes: uma com capacidade de movimento e que abriga plantas vivas; 
                    e outra que é um recipiente escultural para água. Em estado de respiração, a parte superior 
                    da instalação é capaz de subir e descer experimentando novos ares e altitudes. Quando as plantas 
                    estão com sede e precisam de água, a instalação desce até o espelho d'água, molhando as raízes das plantas.
                    <br><br>
                    Quando um visitante se aproxima da instalação, sensores identificam sua presença e realizam um movimento 
                    de conexão, movendo os jardins para cima ou para baixo até que a escultura esteja na altura dos olhos 
                    do visitante.                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/over-the-face/05.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="margin-top-200">
                    <img
                        src="/assets/pages/over-the-face/06.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">
                        Sobre as Faces de Novas Águas</span>, 2019.
                        <br>
                        Imagens por Gee Galvão.
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni, artista
                    <br /><br />

                    <span class="fs-credits-bold">Em colaboração com</span><br>
                    Todos Arquitetura & Pax
                    <br /><br />

                    <span class="fs-credits-bold">Comissionado por</span><br>
                    Accenture
                    <br /><br />

                    <span class="fs-credits-bold">Produção</span><br>
                    Spaces&Creatures - Guilherme Bullejos, Diego Spinola, Gabriela Veiga, Junior de Gois, Lina Lopes & Maurício Veiga
                    <br /><br />
                    
                    <span class="fs-credits-bold">Arquitetura</span><br>
                    Todos Arquitetura - Fabio Mota, Camila Escobar, Rogério Gurgel, Sandra Telles & Vinícius Fernandes
                    <br /><br />

                    <span class="fs-credits-bold">Modelos em colaboração com Pax</span><br>
                    Ana Carolina, Paula Sertório & Victor Paixão
                    <br /><br />

                    <span class="fs-credits-bold">Consultoria em Botânica</span><br>
                    Gabriela Veiga
                    <br /><br />
                    
                    <span class="fs-credits-bold">Marcenaria</span><br>
                    Zeromáquina - Ana Carolina, Paula Sertório & Victor Paixão
                    <br /><br />

                    <span class="fs-credits-bold">Espaço para prototipagem</span><br>
                    Lilo.Zone
                    <br /><br />
                    
                    <span class="fs-credits-bold">Fotografia e Vídeo</span><br>
                    Triangle Studio, Gee Galvão & Ricardo Bassetti

                    <br /><br /><br /><br />
                </div>

            </div>
        </section>
    </main>
</Layout>
