---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Sacred in Flux - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Ju Freire</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Sacred in Flux
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    exposição / 2022
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">O que a IA pode nos ajudar a ver sobre o que é sagrado?
                    </span>
                    <br /><br />
                    <span class="fstyle-label">Sacred in Flux</span> (Sagrado em Fluxo) é uma coleção de pinturas digitais geradas por Inteligência Artificial (IA) que reinterpretam 
                    o que consideramos sagrado. Juntamente com a artista
                    <a href="https://www.julianafreire.com/artist"> Juliana Freire</a>
                    as obras foram co-criadas com um software que analisou mais de 14 milhões de imagens de representações multiculturais do divino.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/ZLJRrW3iuRs?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> Sacred in Flux</span> vídeo introdução,
                    1 min.
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">Humano vs. Máquina</span>
                    <br><br>
                    Definir o que pode ser entendido como “sagrado”, de forma universal, é uma tarefa complexa. 
                    A sacralidade é um conceito que envolve o âmbito da espiritualidade e exige uma profunda reflexão 
                    sobre as origens e os mistérios do universo. Intimamente relacionado a crenças religiosas e muitas 
                    vezes envolvendo uma conexão com algo maior do que nós mesmos, o que cada um de nós define como sagrado 
                    é determinado por variáveis como origens culturais, local de nascimento e experiências individuais. <br><br>
                    Para máquinas de Inteligência Artificial, que geralmente são treinadas para analisar e processar grandes 
                    conjuntos de dados, entender o significado por trás de termos como "Deus", "sagrado", "espiritual" e até "misticismo" 
                    pode ser extremamente desafiador. Alguns especialistas afirmam que a IA poderia entender essas ideias se fosse 
                    programada para aprender especificamente sobre isso. No entanto, outros sugerem que essas noções podem ser muito 
                    abstratas e subjetivas, e que um entendimento real sobre esses termos, por sistemas de IA, seria praticamente impossível.                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/sacred-in-flux/01.jpg"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Sacred in Flux</span> exposto em São Paulo, Brasil
                        <br />Foto por Filipe Berndt.
                    </div>
                </div>

                <div class="margin-top-500">
                    Em 2016, a artista Juliana Freire e Edson Pavoni se envolveram nesse debate. 
                    Eles começaram a se perguntar como as imagens geradas por IA poderiam entender, 
                    dentro de suas próprias limitações, conceitos religiosos caros (e talvez até exclusivos) à humanidade.                    <br /><br />
                    <span class="fstyle-label">Sacred in Flux</span> surgiu do desejo de co-criar com tais tecnologias, que 
                    os artistas passaram a considerar "seres interdimensionais". Este exercício tornou-se então uma tentativa 
                    de amalgamar uma dimensão cósmica ao paradoxo humano versus máquina.

                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/sacred-in-flux/01.jpg"
                    class="video-scale margin-top-400"
                >
                    <source
                        src="/assets/pages/sacred-in-flux/001.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/sacred-in-flux/001.webm"
                        type="video/webm"
                    />
                </video>

                <div class="fs-eye | margin-top-400">
                    <span class="fstyle-label">Sacred in Flux</span> é uma tentativa poética de 
                    criar novas reflexões sobre o sagrado usando o conhecimento, em sua vasta 
                    expressão, que somente uma máquina pode possuir, analisar e transformar.
                </div>


                <div class="margin-top-500">
                    <span class="fs-sub-title">Processo Criativo</span>
                    <br><br>
                    <span class="fstyle-label">Sacred in Flux</span> usou Generative Adversarial Networks (GANs),
                    uma inovação recente em aprendizado de máquina que é capaz de criar novas instâncias de dados 
                    que se assemelham visualmente às informações de treinamento que foram alimentadas em seu sistema. 
                    Nesse caso, os artistas alimentaram as redes neurais profundas com mais de 14 milhões de imagens, 
                    que incluíam símbolos místicos, ícones religiosos, representações de santos e divindades, templos, 
                    figuras mitológicas e muito mais. De diferentes épocas e locais, essas imagens buscavam fornecer uma 
                    quantidade substancial de material para o software analisar e criar padrões de reconhecimento.
                    <br><br>
                    Após essa primeira fase, os artistas passaram a desenvolver "imagens-semente": pinturas e colagens 
                    que serviriam de base para as obras finais. Essas imagens foram adicionadas ao software e combinadas 
                    com o grande conjunto de imagens com as quais ele já estava familiarizado. As imagens-semente foram então 
                    modificadas, repetidas vezes, por meio dos comandos do artista. Ao combinar termos como “Deus”, “mulher” e 
                    “sagrado”, por exemplo, eles conseguiram dialogar com a máquina usando o vocabulário que ela mesma já conhecia.
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/sacred-in-flux/02.jpg"
                    class="video-scale margin-top-400"
                >
                    <source
                        src="/assets/pages/sacred-in-flux/002.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/sacred-in-flux/002.webm"
                        type="video/webm"
                    />
                </video>

                <div class="margin-top-400">
                    Mesmo que esses processos sejam recentes e possam ser difíceis de entender, 
                    pode-se comparar o uso de imagens geradas por IA ao instrumento de músicos. 
                    Assim como um pianista precisa selecionar as notas necessárias para tocar um acorde, 
                    também os artistas precisam solicitar ao software os elementos necessários para criar 
                    as imagens desejadas.
                </div>


                <div class="margin-top-500">
                    <span class="fs-sub-title">A exposição</span>
                    <br><br>
                    Exibida pela primeira vez em São Paulo, na Galeria Pãa, a exposição consistia em 
                    reproduções em grande escala das imagens, montadas em estruturas metálicas que lembravam 
                    andaimes de construção. Objetos menores feitos de madeira continham três vidros consecutivos, 
                    cada um representando uma etapa da transformação da imagem. A mostra utilizou o mobiliário existente 
                    na galeria como dispositivo expositivo, criando fortes contrastes entre seus estilos antigos e artesanais
                    e o caráter futurista das obras expostas.
                </div>


                <div class="margin-top-300">
                    <img
                        src="/assets/pages/sacred-in-flux/03.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/sacred-in-flux/04.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/sacred-in-flux/05.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/sacred-in-flux/06.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Sacred in Flux</span> em exposição em São Paulo, Brasil.
                    <br />Foto por Filipe Berndt.
                </div>


                <div class="exhibithion | margin-top-500">
                    <span class="fs-sub-title">Exposições</span>
                    <br /><br />

                    <span class="fw-bold">2022</span><br />
                    Sacred in Flux, Galeria Paã<br />
                    São Paulo, Brasil
                    <br /><br />
                    <span class="fw-bold">2023</span><br />
                    Maranha, GPA<br />
                    Rio de Janeiro, Brasil
                    <br /><br />
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni & Juliana Freire, artistas
                    <br />
                    Filipe Berndt, fotógrafo
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
