---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="O que não podemos esquecer - Texto Curatorial">

  <main>
    <section>
      <div class="container">
        <div class="welcome-tile margin-top-900">
            <span class="fs-logo margin-top-600"
                >Carollina Lauriano</span
            >
            <h1 class="fs-display fw-bold text-positive margin-top-200">
                O que não podemos esquecer
            </h1>
        </div>

        <div class="fs-label fstyle-label margin-top-600">
            texto curatorial / 2023
        </div>
    </section>

  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        Assim como a Primeira Guerra Mundial inaugurou um marco histórico no século XX, há correntes teóricas que apontam que a pandemia de Coronavírus inaugurou o primeiro marco histórico de proporção global do século XXI. Agora, passados mais de três anos de seu início e, embora em 05 de maio de 2023 a Organização Mundial da Saúde tenha decretado o fim da pandemia, as sequelas sociais, econômicas e psíquicas proporcionadas pelas consequências catastróficas do advento ainda não possuem respostas definitivas por parte de teóricos e estudiosos do assunto. 
        <br><br>
        No ano de 1920, Sigmund Freud publicou um artigo intitulado Além do princípio do prazer, no qual problematizou pela primeira vez a neurose traumática como neurose de guerra, apontando que as ordens individual e coletiva conjugam-se intimamente na constituição da experiência de um trauma. Ou seja, para Freud, traumas dessa dimensão não poderiam ser compreendidos apenas de forma singular, mas para formular adequadamente esse trauma seria necessário uma leitura interdisciplinar, incorporando noções que vão de sociologia à psicanálise, por exemplo. 
        <br><br>
        Avançando essa noção interdisciplinar dos apontamentos de Freud sobre elaboração de traumas de ordem coletiva, incluo aqui a arte como outro campo do saber com potencial de apontar caminhos poéticos para tratar daquilo que não podemos esquecer. Tomando os atravessamentos que a pandemia impôs ao mundo, mas também apontando questões de ordem política enfrentadas pelo Brasil diante o enfrentamento do vírus, Edson Pavoni apresenta um conjunto de trabalhos que ora denunciam descasos cometidos por parte da governabilidade, ora opta por caminhos poéticos que apontam caminhos de elaboração de futuros, na tentativa de não nos deixar esquecer os quase sete milhões de vítimas fatais do vírus em todo mundo, entre elas mais de setecentos mil brasileiros.
        <br><br>

        Para isso, o artista divide a exposição em três momentos: grito, silêncio e música, compreendendo os três como etapas para elaboração de um luto. Em grito, Pavoni traz um conjunto de trabalhos que remetem aos descasos praticados pelo governo brasileiro em instância federal, como a propina de um dólar ofertada pelo diretor do Ministério da Saúde por dose de vacina, para fechar contrato com a Dafiti Medical Service. Ou mesmo a pilha de arquivos impressos em impressora matricial, que fragilmente guardam os nomes de pessoas vítimas da Covid-19. Essas impressões também podem ser compreendidas como fichas de arquivos, remetendo a algo que precisa ser, de alguma forma, preservado.
        <br><br>

        Se em grito, Pavoni se vale de sentimentos primários - como a raiva - para lidar com esse primeiro momento de ausência, o silêncio atua como etapa seguinte de recolhimento e introspecção. É aqui que o artista recria um face shield, equipamento utilizado por profissionais de saúde para reforçar a proteção contra o vírus, e que aqui ganha status de monumento a todos aqueles que lutaram para salvar vidas. 
        <br><br>

        Passados esses dois momentos de difícil assimilação dentro de uma etapa de luto, Pavoni nos traz à vida. Ou a possibilidade dela. Após longos períodos de isolamento, era comum observar o medo do toque e do contato físico  com o outro, causando um novo 
        transtorno social. Em seu conjunto de fotografias, o artista registra o primeiro momento de contato com desconhecidos, apontando que é possível reativar memórias que nos retiram do estado de isolamento e nos colocam de novo em contato com o mundo.
        <br><br>

        Fecham o conjunto de trabalhos o satélite Templo Orbital, projeto que recolhe histórias de pessoas que, de alguma forma, estavam se despedindo de alguém, e que será lançado no espaço ainda esse ano como uma espécie de memorial de lembranças que passaram a ressignificar sentimentos em outras possibilidades de existência. 
        <br><br>

        Em Um brinde aos mortos - Histórias daqueles que ficam, a filósofa e psicóloga belga Vinciane Despret apresenta a necessidade da elaboração do luto não somente como sinônimo de cura para o sofrimento de quem perdeu uma pessoa querida, mas em seu livro, ela aponta o luto como um espaço de continuidade da ligação entre quem foi e quem fica, sendo esse ato um vetor importante de vitalidade entre ambos. “Lembrar não é um simples ato da memória. É um ato de criação”, diz Despret. Lembrar é fabular. 
        <br><br>

        Em um país cujos seus principais traumas   entre os coloniais e os mais recentes, como a Ditadura Militar —  insistem em não serem discutidos socialmente enquanto exercício de elaboração, essa exposição surge como um convite a pensar metaforicamente sobre esse trauma latente, e que precisa ser pensado coletivamente quais os possíveis caminhos de ressignificação.
        
      </div>
    </div>
  </section>

  <br><br><br><br>
</main>

</Layout>