---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="O que não podemos esquecer - Texto de Ana Claudia Quintana">

  <main>
    <section>
      <div class="container">
        <div class="welcome-tile margin-top-900">
            <span class="fs-logo margin-top-600"
                >Ana Claudia Quintana</span
            >
            <h1 class="fs-display fw-bold text-positive margin-top-200">
              O que vivemos na pandemia ainda deveria estar no espaço do grito
            </h1>
        </div>

        <div class="fs-label fstyle-label margin-top-600">
            texto para exposição / 2023
        </div>
    </section>

  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
      O que vivemos na pandemia ainda deveria estar no espaço do grito. 
      <br><br>      Do choque, da indignação, da percepção da injustiça de mãos dadas com a irreversibilidade. Nenhuma morte é menos do que 100% de ausência. De silêncio abismal, profundo, total. Da voz de quem se foi ao redor da escuta de quem permaneceu. 
      <br><br>Esse silêncio ensurdecedor só se quebra pelo som da natureza. A natureza que revela a cada dia a persistência da vida. A teimosia da vida. A determinação da vida. Que no seu ritmo, incansável, persistente, amorosamente vem e nos mostra que o ritmo da vida segue adiante. 
      <br><br>A natureza é arte, a vida é música. 
<br><br>Uma música total feita de suas partes. O ritmo, melodia, som, harmonia. 
<br><br>Poesia.
<br><br>Vida de um ritmo que recompõe a estrutura de um tempo que não deveria ser esquecido. A melodia que conecta a emoção que não cessa. A saudade, 
som que traz harmonia para a dor que não fala. 
<br><br>Vida com a poesia da arte  que canta o que não se conta… Inumeráveis gritos que não silenciam, 
mas que curam, saram, em silêncio. 
<br><br>
Arte que traz o novo modo de caminhar em passos de silêncio. 
      </div><div class="artwork | margin-top-500">
        <span class="fs-sub-title">Ana Claudia Quintana </span>
        </div>
        <br /><br />
        Médica, escritora, professora e palestrante em temas sobre envelhecimento e morte – e a vida que preenche o espaço desses momentos humanos.
        <br><br>        É formada pela USP com residência em Geriatria e Gerontologia no Hospital das Clínicas da FMUSP. Fez pós-graduação em Psicologia – Intervenções em Luto pelo Instituto 4 Estações de Psicologia, especialização em Cuidados Paliativos pelo Instituto Pallium e pela Universidade de Oxford. 
        Fundadora da Casa do Cuidar, organizando e ministrando aulas nos cursos de formação multiprofissionais. Desde 2019, é presidente da instituição. No atendimento aos pacientes, atua em consultório e também na Casa Humana, onde coordena a atenção domiciliar em cuidados paliativos para pessoas portadoras de doença crônica ameaçadora da vida.
        <br><br>        Participou do TEDx FMUSP com a palestra “A Morte é um dia que vale a pena viver” e lançou um livro pela Editora Sextante com o mesmo título.
        <br><br>        Faz parte da equipe do <a href="https://inumeraveis.com.br/">Memorial Inumeráveis.</a>
    </div>
  </section>

  <br><br><br><br>
</main>

</Layout>