---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="The Love Project - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Guto Requena</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        The Love Project
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    instalação performática / 2013
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">The Love Project</span> (Projeto Amor) transforma histórias 
                    de amor em esculturas impressas em 3D. Uma instalação e uma performance na qual participantes 
                    foram conectados a vários sensores capazes de medir as variações de suas emoções por meio da 
                    atividade elétrica do cérebro, da voz e dos batimentos cardíacos.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/OkWshunCMng?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> The Love Project</span> vídeo introdução,
                    3 mins.
                </div>

                <div class="margin-top-500">
                    Individualmente, cada participante foi colocado em uma sala, sozinho. 
                    Em um ambiente calmo e tranquilo, eles foram convidados a recontar o 
                    que consideravam ser a maior ou mais significativa história de amor de suas vidas.
                    <br><br>
                    Com os dados coletados, um algoritmo desenvolvido especialmente para esta instalação 
                    os transformou em um único objeto. Esses objetos pareciam inicialmente ter funções comuns 
                    – poderiam ser usados como um vaso ou como uma lâmpada – mas eram na verdade esculturas 
                    que personificavam sentimentos, obras impressas em 3D capazes de dar forma ao intangível.                
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="margin-top-200">
                        <video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/04TheLoveProject.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/04TheLoveProject.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/04TheLoveProject.webm"
								type="video/webm"
							/>
						</video>
                    </div>
                    <img class="margin-top-200"
                        src="/assets/pages/love-project/002.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span> foi uma instalação performática.
                        <br />Imagens por Jorge Teivelis Neto.
                    </div>
                </div>

                <div class="margin-top-500">
                    O método de criação construído para este projeto envolve pensar que objetos 
                    da vida cotidiana, geralmente produzidos em massa, podem vir a ter um intrínseco valor emocional. Esse valor,
                    geralmente adquirido por meio de uma artesania exclusiva ou por técnicas tradicionais, não representa apenas 
                    uma relação única com esses objetos; em vez disso, tende a se correlacionar com a expansão de seu ciclo de vida.
                    <br><br>
                    Ao propor um objeto que pode ter um valor emocional, mas também ser replicável por meios tecnológicos, 
                    este trabalho sugere uma mudança em nossa dinâmica de consumo, uma em que a "sustentabilidade emocional" 
                    se torna uma força que nos influencia a sermos mais conscientes sobre os objetos ao nosso redor.                
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/02.webp"
                        alt="image"
                        srcset=""
                    />

                    <img class="margin-top-200"
                        src="/assets/pages/love-project/03.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span>, esculturas.
                        <br />Imagens por Otavio Pacheco & Fausto Noro.
                    </div>
                </div>

                <div class="margin-top-500">
                    Ao incluir os participantes como parte fundamental do processo de criação, as esculturas finais utilizam 
                    tecnologias e métodos digitais para reinterpretar sua própria individualidade, unindo Design, Arte e Tecnologia.
                    <br><br>
                    É também um exemplo das possibilidades que a tecnologia pode nos proporcionar ao nos ajudar a reavaliar nossas 
                    próprias experiências, criando imagens e objetos inovadores que podem dar significados únicos às nossas narrativas e vidas.
                </div>

                <div class="fs-eye | margin-top-400">
                    Idealizada em conjunto com o artista plástico Guto Requena, a performance já foi montada diversas vezes em cidades como São Paulo, Lisboa e Dubai. 
                    O projeto coletou mais de 100 histórias de amor entre 2013 e 2015.                
                </div>

                <div class="margin-top-500">
                    <img
                        src="/assets/pages/love-project/04.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span>, esculturas.
                        <br />Imagens por Otavio Pacheco & Fausto Noro.
                    </div>
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">O pendente Aura</span>
                    <br /><br />
                    Em 2018, o Love Project se expandiu para um software para dispositivos móveis chamado Aura. 
                    O aplicativo, que pode ser baixado em qualquer smartphone, capta as emoções de uma pessoa por 
                    meio da sua voz e frequência cardíaca ao contar uma história de amor, transformando essas emoções 
                    em uma joia única que pode ser impressa em metais como cobre, prata ou ouro.
                </div>

                <div class="margin-top-300">
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/pages/love-project/002.webp"
                        class="video-scale-wide margin-top-200"
                    >
                        <source
                            src="/assets/pages/love-project/002.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/pages/love-project/002.webm"
                            type="video/webm"
                        />
                    </video>
                </div>
                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/07.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">O pendente Aura</span>, processos e joias.
                    <br />Imagens por Luciana Dal Ri.
                </div>

                <div class="margin-top-300">
                    O processo é simples. Ao abrir o aplicativo, a pessoa é convidada a encontrar um lugar 
                    tranquilo e privado, onde se sinta à vontade para contar a maior história de amor que já viveu.
                    <br><br>
                    Ao fazer isso, eles devem cobrir a câmera e o flash de seus smartphones com o dedo indicador. 
                    A mudança na cor da pele é traduzida por um algoritmo na frequência cardíaca.                   
                <br><br>
                Através do microfone, são captadas as variações da voz e percebidas as suas emoções através dessa informação. 
                A interface imersiva sem botões funciona apenas com gestos e comandos de voz.                
            </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/08.webp"
                        alt="image"
                        srcset=""
                    />

                    <img class="margin-top-200"
                        src="/assets/pages/love-project/09.webp"
                        alt="image"
                        srcset=""
                    />

                    <img class="margin-top-200"
                        src="/assets/pages/love-project/10.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span>, esculturas.
                        <br />Imagens por Alexandre Nino & Gil Inoue.
                    </div>
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Prêmios</span>
                    
                    <br><br>
                    <span class="fw-bold">2018</span><br>
                    <span class="fstyle-label">The Love Project</span>
                    <br>
                    <a href="https://en.di-award.org/collections/detail/314.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - Categoria Dia Innovation
                    
                    <br><br>
                    <span class="fstyle-label">Aura</span>
                    <br>
                    <a href="https://en.di-award.org/collections/detail/314.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - Menção Honrosa
                    
                    <br><br>
                    <span class="fw-bold">2017</span><br>
                    <span class="fstyle-label">The Love Project</span>
                    <br>
                    <a href="https://ifdesign.com/en/winner-ranking/project/love-project/200752">IF Design Award</a>
                    <br><br>

                    <br><br>
                    <span class="fs-sub-title">Saiba mais</span>
                    <br><br>
                    <a href="https://www.designboom.com/design/love-project-mandalas-guto-requena-03-13-2015/">Love project by Guto Requena & D3 translates emotional data into 3D objects</a> - designboom, 2015
                    <br><br>
                    <a href="https://casavogue.globo.com/Eventos-etc/noticia/2014/08/casa-vogue-e-guto-requena-love-project.html">Casa Vogue e Guto Requena - Love Project</a> Casa Vogue, 2014 


                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br /><br>
                    <span class="fs-credits-bold">The Love Project</span>
                    <br /><br />
                    Guto Requena & Edson Pavoni, artistas
                    <br /><br />

                    <span class="fs-credits-bold">Equipe de Desenvolvimento</span><br>
                    João Marcos de Souza, Mariana Schetini, Vitor Reis and Victor Sardenberg, Diego Spinola, Luka Brajovic, Luiz Gustavo Zanotello & Pagu Senna
                    <br /><br />

                    <span class="fs-credits-bold">Consultoria em Grasshopper</span><br>
                    Victor Sardenberg
                    <br /><br />

                    <span class="fs-credits-bold">Impressão 3D e colaboração para peças finais</span><br>
                    Anacom
                    <br /><br />
                    
                    <span class="fs-credits-bold">Parceiro de impressão 3D em tempo real</span><br>
                    Akad
                    <br /><br />

                    <span class="fs-credits-bold">Fotografia</span><br>
                    Luciana Dal Ri, Jorge Teivelis Neto, Otavio Pacheco & Fausto Noro
                    <br /><br />

                    <span class="fs-credits-bold">Vídeo</span><br>
                    Raphael Fagundes & Jorge Teivelis Neto

                    <br /><br /><br>
                    <span class="fs-credits-bold">O Pendente Aura</span>
                    <br /><br />
                    Guto Requena & Edson Pavoni, artistas
                    <br /><br />
                    <span class="fs-credits-bold">Parceiros fundadores</span><br>
                    Guto Requena, Edson Pavoni, João De Souza & Eduardo Dias
                    <br /><br />

                    <span class="fs-credits-bold">Equipe de Desenvolvimento</span><br>
                    João Marcos de Souza, Kaio Medau, Pagu Senna, Jonathan Querubina, Diego Spinola, Luka Brajovic and Luiz Gustavo Zanotello, Victor Gama, Robson Coelho, Mariana Schetini & Vitor Reis
                    <br /><br />
                    
                    <span class="fs-credits-bold">Tecnologia de Impressão 3D </span><br>
                    Eduardo Dias
                    <br /><br />

                    <span class="fs-credits-bold">Fotografia</span><br>
                    Luciana Dal Ri, Alexandre Nino & Gil Inoue. 
                    <br /><br />

                    <span class="fs-credits-bold">Vídeo</span><br>
                    Filmes para Bailar

                    <br /><br /><br /><br />
                </div>

            </div>
        </section>
    </main>
</Layout>
