---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="The Waters are Breaking - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Gabriela Veiga</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Estão a <br>Rebentar as Águas
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    cenografia / 2019
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">Estão a Rebentar as Águas</span> é uma experiência imersiva na interseção entre teatro e performance. A peça, escrita e 
                    interpretada por Gabriela Veiga, usa projeções generativas e visuais para explorar temas de dor, 
                    beleza, luto e vida após a morte.

                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/x6A9BDu-AOw?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Estão a Rebentar as Águas</span> vídeo introdução,
                    1 min.
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">Quais são os efeitos de estarmos separados daqueles que amamos?
                    </span>
                    <br><br>
                    A peça é um projeto documental experimental que mostra a pesquisa da atriz sobre o tema da separação. 
                    É movido principalmente pela experiência do falecimento da avó, aliada ao estudo do filósofo e psicanalista 
                    alemão Erich Fromm, que aborda a relação entre as qualidades do amor e a consciência da separação.                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/the-waters-are-breaking/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        Gabriela Veiga interage com projeções feitas usando tecnologia generativa.
                        <br />Imagens por Rodrigo Rosa & Giorgio D'Onofrio.
                    </div>
                </div>

                <div class="fs-eye | margin-top-400">
                    Sozinha no palco, a atriz reage às projeções criadas por Pavoni quase como se fossem outras personagens.                </div>


                <div class="margin-top-400">
                    Ora puramente abstratas, ora criaturas mais encorpadas, as projeções baseadas em algoritmos interagem 
                    em tempo real com Veiga, definindo o cenário e criando diferentes universos. Capaz de explorar poeticamente
                     experiências como acelerar, flutuar, cair e ficar no chão, a dinâmica dialógica criada por essa relação 
                     é parte central da peça.
                </div>

                
                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/home/14OvertheFaceofNewWaters.webp"
                    class="video-scale margin-top-200"
                >
                    <source
                        src="/assets/home/12TheWatersareBreaking.webm"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/home/12TheWatersareBreaking.webm"
                        type="video/webm"
                    />
                </video>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/the-waters-are-breaking/03.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    Gabriela Veiga interage com projeções feitas usando tecnologia generativa.<br /> 
                    Imagens por Rodrigo Rosa & Giorgio D'Onofrio.
                </div>


                <div class="margin-top-400">
                    Desenvolvidas por meio de um método processual e numérico que utiliza o software Processing, 
                    as projeções contaram com sistemas de partículas que foram programadas para mudar de acordo com
                     os movimentos da atriz. Pavoni buscou combinar a exploração de Veiga dos contrastes entre o que
                      ela considera duas das frases mais famosas do mundo: "I love you" e "Made in China", com a capacidade
                       da tecnologia de criar uma infinidade de mundos.
                    <br /><br />
                    <span class="fstyle-label">Estão a Rebentar as Águas</span> teve a sua estreia no festival de teatro Mindelact 
                    de São Vicente, Cabo Verde e uma temporada em São Paulo, Brasil no Teatro de Contêiner.
                </div>

                <div class="margin-top-400">
                    <img
                        src="/assets/pages/the-waters-are-breaking/04.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/the-waters-are-breaking/05.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    Gabriela Veiga interage com projeções feitas usando tecnologia generativa.<br /> Imagens por Rodrigo Rosa & Giorgio
                    D'Onofrio.
                </div>

                

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />

                    <span class="fs-credits-bold">Direção</span><br>
                    Gabriela Veiga
                    <br /><br />

                    <span class="fs-credits-bold">Direção de Arte</span><br>
                    Edson Pavoni
                    <br /><br />

                    <span class="fs-credits-bold">Assistência de Direção</span><br>
                    Bruna Brignol
                    <br /><br />
                    
                    <span class="fs-credits-bold">Design</span><br>
                    Guilherme Bullejos
                    <br /><br />

                    <span class="fs-credits-bold">Dramaturgia e Performance</span><br>
                    Gabriela Veiga
                    <br /><br />

                    <span class="fs-credits-bold">Figurino</span><br>
                    Telumi Hellen
                    <br /><br />
                    
                    <span class="fs-credits-bold">Luz e estrutura técnica</span><br>
                    Thiago Capella
                    <br /><br />

                    <span class="fs-credits-bold">Cenotécnica</span><br>
                    Emerson Fernandes
                    <br /><br />
                    
                    <span class="fs-credits-bold">Fotografia</span><br>
                    Rodrigo Rosa & Giorgio D'Onofrio
                    <br /><br />

                    <span class="fs-credits-bold">Vídeo</span><br>
                    Dida Andrade & Andradina Azevedo
                    
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
