---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="The White Mirror - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        The White Mirror
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    instalação / 2017
                </div>

                <div class="artwork | margin-top-500">
                    The White Mirror (O Espelho Branco) é um mural digital 
                    interativo de 22 metros de comprimento. Ele reflete seus visitantes 
                    através de imagens semelhantes a criaturas que se expandem quando os visitantes se tocam.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/qibzX6fGoFc?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The White Mirror</span> vídeo introdução,
                        1 min.
                    </div>
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">O que deve criar o futuro? 
                    <br>A diversidade</span>
                    <br /><br />
                    Esse foi o ponto de partida para a construção da obra 
                    <span class="fstyle-label">The White Mirror</span>.
                    Encomendada pela Nubank para ser uma instalação permanente em sua sede em São Paulo, 
                    a obra teve como objetivo celebrar o poder da diferença.
                    <br /><br />
                    O painel, com 22 metros de comprimento e quase 4 metros de altura, pode parecer de longe uma parede branca simples, 
                    principalmente se não houver ninguém passando por ela. Ao dectetar, no entanto, a presença de um ser humano, 
                    o painel revela-se uma instalação digital e dinâmica.                
                </div>

                <div class="margin-top-300">
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/home/08WhiteMirror.webp"
                        class="video-scale margin-top-200"
                    >
                        <source
                            src="/assets/home/08WhiteMirror.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/home/08WhiteMirror.webm"
                            type="video/webm"
                        />
                    </video>
                 </div>

                 <div class="work-image | margin-top-300">
                    <img
                        src="/assets/pages/white-mirror/02.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">The White Mirror</span>. O painel é ativado quando visitantes passam por ele.<br />Imagens por
                    Rafael Socrates.
                </div>

                <div class="artwork | margin-top-500">
                    Cada pessoa que passa pela obra é surpreendida pelas imagens de criaturas algorítmicas que as acompanham enquanto caminham.
                <br /><br />
                Surgem diferentes formas, cores e comportamentos, de acordo com os movimentos, altura e velocidade de quem passa.                    
                <br /><br />
                Quando duas pessoas se tocam, cada uma das suas “criaturas” se expande e celebra a conexão com uma explosão de cor e movimento, 
                como se todo o espaço tivesse sido pensado para aquele único momento.
                </div>
                
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/white-mirror/03.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="work-image | margin-top-200">
                    <img
                        src="/assets/pages/white-mirror/04.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">The White Mirror</span>. O painel é ativado quando visitantes passam por ele.<br />Imagens por
                    Rafael Socrates.
                </div>

                <div class="fs-eye | margin-top-400">
                    <span class="fstyle-label">The White Mirror</span> discute o potencial transformador de reconhecer 
                    e sobrepor nossas diferenças como indivíduos para criar coletivamente um futuro que rompa com 
                    preconceitos há muito estabelecidos.
                </div>

                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/white-mirror/05.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">The White Mirror</span>. O painel é ativado quando visitantes passam por ele.<br />Imagens por
                    Rafael Socrates.
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Créditos</span>
                    <br /><br />
                    Edson Pavoni, artista
                    <br /><br />

                    <span class="fs-credits-bold">Comissionado por</span><br>
                    Nubank
                    <br /><br />

                    <span class="fs-credits-bold">Estratégia de Produção e Liderança em Design</span><br>
                    Carolina Anselmo
                    <br /><br />

                    <span class="fs-credits-bold">Design</span><br>
                    Lucas F. Artacho, Junior de Góis & Guilherme Bullejos
                    <br /><br />
                    
                    <span class="fs-credits-bold">Eletrônica</span><br>
                    André Biagioni & Dimitre Lima
                    <br /><br />

                    <span class="fs-credits-bold">Software, Conteúdo & Motion</span><br>
                    Dimitre Lima
                    <br /><br />

                    <span class="fs-credits-bold">Código Criativo</span><br>
                    Henry Perigo
                    <br /><br />
                    
                    <span class="fs-credits-bold">Liderança de Montagem</span><br>
                    Erick Maniusis
                    <br /><br />

                    <span class="fs-credits-bold">Fotografia & Video</span><br>
                    Rafael Sócrates
                    <br /><br />
                    
                    <span class="fs-credits-bold">Agradecimentos especiais para</span>
                    Pagu Senna

                    <br /><br /><br /><br />
                </div>
                
            </div>
        </section>
    </main>
</Layout>
