---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="A Place to Departure - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        A Place to <br>Departure
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    site-specific installation / 2013, 2015
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Will technology drive us further apart or bring us closer together?</span>
                    <br /><br />
                    <span class="fstyle-label">A Place to Departure</span> is an interactive installation that allows a person in one location to feel the touch of a person in another, no matter how far they may be. Originally, it connected Beijing, China, and São Paulo, Brazil. Later, it connected two districts of Dubai, UAE.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/9qk6AZvQDyg?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> A Place to Departure</span> video introduction,
                    2 mins.
                </div>

                <div class="margin-top-500">
                    Touch, one of our most immediate and powerful senses, is a multidimensional object of investigation. 
                    <br><br>
                    Philosopher Matthew Fulkerson's extensive research views it as a single, unified sensory modality that plays a central role not only in perception but in the human experience as a whole.
                </div>

                <div class="fs-eye | margin-top-400">
                    <span class="fstyle-label"> A Place to Departure</span> ventures on the human touch's symbolic aspects and technology's role in creating instruments of connection.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/01.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div>
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/home/01APlacetoDeparture.webp"
                        class="video-scale margin-top-200"
                    >
                        <source
                            src="/assets/home/01APlacetoDeparture.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/home/01APlacetoDeparture.webm"
                            type="video/webm"
                        />
                  </video>
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> in China, 2014.
                    <br /> Images by Pedrinho Fonseca & Jorge Teivelis Neto.
                </div>

                <div class="margin-top-400">
                    This site-specific installation occurs in two places simultaneously. In each location, it is composed of a wooden and a glass plate, both fitted crosswise to create a V-shaped structure. When someone touches the glass in Location A and someone else touches the glass in Location B, at the same time, the two people feel as if they are touching each other through a gentle vibration in the glass.
                    <br><br>
                    This is only possible through a series of haptic feedback systems which, invisible to the naked eye, transmit information through the internet.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/02.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> in China, 2014.
                    <br /> Images by Pedrinho Fonseca.
                </div>


                <div class="margin-top-400">
                    The wooden boards were created using an algorithm, developed by Pavoni and the team, which used the geographic coordinates of each of the installations to build their laser cut pattern.
                    <br><br>
                    The specificity of each location, represented by these patterns, aimed to also highlight their particular cultural, historical and social elements.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/03.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> in China, 2014.
                    <br /> Photo by Pedrinho Fonseca.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Beijing - São Paulo</span>
                    <br /><br />
                    Originally created in 2014, the work connected the art gallery Coletivo Amor de Madre in São Paulo, Brazil, with the Caochangdi Art District in Beijing, China.
                </div>

                <div class="fs-bigEye | margin-top-500">
                    "A window <br>on the Wall"
                </div>

                <div class="artwork | margin-top-400">
                    That is how French journalist Anne-France Berthelon described the work, referencing the combination of legislative actions and technologies known as China's Great Firewall, which monitors and controls internet access in the country. In this context, A Place to Departure acquired larger geopolitical significance. The artwork not only defied such restrictions, but managed to break through government imposed intangible frontiers.
                    <br><br>
                    Artist and activist 
                    <a href="https://www.aiweiwei.com/">Ai Weiwei</a>
                    (Beijing, 1957-) visited the work as it was being assembled in Beijing. Ai, at the time, had spent 81 days under arrest without charge, an arrest many consider an unlawful political persecution motivated by his critical stances on the Chinese government. Still under State's supervision, Ai had his movements restricted and was not able to leave the country. 
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/04.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    Artist Ai Weiwei visits the work <span class="fstyle-label">A Place to Departure</span> in China, 2014.
                    <br /> Photo by Pedrinho Fonseca.
                </div>

                <div class="fs-eye | margin-top-500">
                    "<span class="fstyle-label">A Place to Departure</span> grants an opportunity to meet the other side of the world naturally attractive for an artist deprived of a Passport by the authorities".
                </div>

                <div class="artwork | margin-top-200">
                    Anne-France Berthelon,<br> on the encounter with Ai Weiwei and <span class="fstyle-label">A Place to Departure</span> in 2014.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Al Fahid, Dubai - New District, Dubai</span>
                    <br /><br />
                    In 2015, commissioned by the Dubai Design Days, the installation A Place to Departure was assembled again. This time, it connected the historic district of Al Fahid with the New District of Dubai.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/05.webp"
                        alt="image"
                        srcset=""
                    />
                    <img
                        class="margin-top-200"
                        src="/assets/pages/a-place/06.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> photographed by Edson Pavoni in Dubai, 2015.
                </div>

                <div class="margin-top-400">
                    Connecting two places in the same city brought different dynamics than the previous installation. Instead of connecting participants with an exterior and unknown place, they were invited to look within, to reassess their own territory. This led to particularly enlightening reactions, laying bare how the act of touching, in its magnitude, exercises different roles in our lives.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/a-place/07.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">A Place to Departure</span> photographed by Edson Pavoni in Dubai, 2015.
                </div>

                <div class="margin-top-400">
                    In the United Arab Emirates, there is a common understanding that touch is a sacred and restricted action. It is a powerful symbol. Women, in this context, are generally expected to touch only their husbands or family members.
                </div>
                <div class="margin-top-300">
                    This cultural code of conduct created conflicts in some participants. During the exhibition, when some female participants understood that engaging with the work meant they'd be touching a stranger, even if remotely and symbolically, they chose not to touch the glass.
                </div>
                <div class="fs-quote margin-top-300">
                    "Witnessing such a reaction to this artwork made me think that the symbolic aspects of it were being recognized by a higher instance. The refusal to touch the work, and therefore remotely touching a stranger, was as if God himself had validated that gesture as truthful." Edson Pavoni
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">Curator</span><br>
                    Olivia Yassudo
                    <br /><br />

                    <span class="fs-credits-bold">Gallery</span><br>
                    Coletivo Amor de Madre
                    <br /><br />

                    <span class="fs-credits-bold">Executive producers</span><br>
                    João Marcos de Souza, Olimpia Pavoni & Nana Janus
                    <br /><br />
                    
                    <span class="fs-credits-bold">Production and Design</span><br>
                    Pagu Senna & Mari Ventura
                    <br /><br />

                    <span class="fs-credits-bold">Designers</span><br>
                    Felipe Minuti, Carolina Anselmo, Vitor Reis, Zeh Fernandes, Junior Magalhães & Raphael Fagundes
                    <br /><br />

                    <span class="fs-credits-bold">Electronics</span><br>
                    André Biagioni & Diego Spinola
                    <br /><br />
                    
                    <span class="fs-credits-bold">Photography & Video</span><br>
                    Pedrinho Fonseca, Ju Matos & Isabela Herig

                    <br /><br /><br /><br />
                </div>

                
            </div>
        </section>
    </main>
</Layout>
