---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Crown Shyness - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600">Edson Pavoni</span>
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Crown Shyness
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    installation/ 2022
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title"
                        >What if we could connect to a far way forest through
                        technology?</span
                    >
                    <br /><br />
                    <span class="fstyle-label">Crown Shyness</span>
                    is a kinetic 10-meter long installation with over 160 paper sculptures, co-created together with over 500 people.
                    <br /><br />
                    The work captures real-time wind movements of a protected forest and translates it into a multi-sensory immersive experience.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/oQosF_UP0u8?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Crown Shyness</span> video introduction,
                        1 min.
                    </div>
                </div>

                <div class="fs-eye | margin-top-400">
                    It aims to promote sensitive connections with the forest and
                    to raise awareness on the importance of its preservation.
                </div>

                <div class="margin-top-400">
                    The installation's title refers to a biological phenomenon
                    in which the leaves and branches of trees refrain from
                    touching each other even when they are in close proximity,
                    leading to the creation of channel-like gaps between their
                    crowns. Considered a scientific mystery, many researchers
                    hypothesize its development is related to a process of
                    convergent evolution. Even with a physiological uncertain
                    basis, "crown shyness" or "inter-crown spacing", presents us
                    with a poignant starting point for us to reassess and
                    rethink how we connect to others, to nature, and to
                    ourselves.
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/crown-shyness/01.jpg"
                    class="video-scale margin-top-200">
                    <source
                        src="/assets/pages/crown-shyness/001.mp4"
                        type="video/mp4"/>
                    <source
                        src="/assets/pages/crown-shyness/001.webm"
                        type="video/webm"/>
                </video>
                <div class="fs-caption text-caption padding-block-caption">
                    A detail of the <span class="fstyle-label"
                        >Crown Shyness</span
                    > installation.<br />Photo by Clara Marques.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Experiencing preservation</span>
                    <br /><br />
                    The installation was commissioned by the biggest Brazilian paper producer and exporter, Klabin. The essence of Klabin's activities is the exploitation of natural resources. Particularly, these are the resources at the core of the most urgent discussion in the world: the climate crisis. Trees — which is their main raw material — are the symbolic epicenter of this discussion.
                    <br /><br />
                    For decades, however, Klabin has measured no efforts to develop innovative technologies to break the plastic and mineral productive chains, heading towards sustainable paper-based materials. Ranging across three Brazilian states - São Paulo, Paraná and Santa Catarina –, the company holds over 625 thousand hectares of forest, of which 42% are native reserves. Its most renowned protected territory, the Ecological Park of the Fazenda Monte Alegre in Telêmaco Borba has become an inestimable area of high conservation value due to its significant concentration of rare, threatened or endangered ecosystems.
                    <br /><br />
                    Klabin's initiatives, perhaps at first counter-intuitively, have proven how technology can have significant impacts in nature’s conservation. It was by examining this positive relationship between Nature and Technology that our proposal was founded.
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/crown-shyness/002.jpg"
                    class="video-scale margin-top-200">
                    <source
                        src="/assets/pages/crown-shyness/002.mp4"
                        type="video/mp4"/>
                    <source
                        src="/assets/pages/crown-shyness/002.webm"
                        type="video/webm"/>
                </video>
                <div class="fs-caption text-caption padding-block-caption">
                    Protect Forest in Telêmaco Borba, Paraná - Brazil
                    <br /> Video by Felipe Abreu
                </div>
                <div class="artwork | margin-top-500">
                    After the artist experienced the protected forest first hand and studied its impact on raising the biodiversity levels of the region, "Crown Shyness" became a way to promote sensitive connections with the forest. The installation's main materials, Klabin's Eukaliner craft paper, and metal were combined with custom-built technological instruments that gather satellite generated information on the winds of the protected forest to create a large-scale kinetic panel. The paper sculptures on it behave as the crowns of trees - breathing as living beings and barely touching each other at all.
                    <br><br>
                    The installation's main materials, Klabin's Eukaliner craft paper, and metal were combined with custom-built technological instruments that gather satellite generated information on the winds of the protected forest to create a large-scale kinetic panel. The software and motion, designed by Dimitre Lima, brought the paper sculptures to life. Each of them, parameterized digitally but folded manually, uniquely created by paper artist and specialist Gabriela Castro, behaved as the crowns of trees — breathing as living beings and barely touching each other at all.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/crown-shyness/03.jpg"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/04.jpg"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/05.jpg"
                        alt="image"
                        srcset=""
                    />

                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/06.jpg"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        Making of process of building the <span class="fstyle-label">Crown Shyness </span>installation.
                        <br /> Photo by Clara Marques
                    </div>
                </div>


                <div class="artwork | margin-top-400">
                    Inaugurated at the INOVA Klabin event, hosted at the São Paulo Biennial Pavilion in São Paulo, the artwork was first assembled with the over 500 guests that were present in the event. In collaboration with Pavoni, the artist Isabella Nardini designed the experience at the event.
                    <br><br>
                    There, the participants were first divided into groups of three and given one of the paper sculptures that would later be a part of the final work. Distributed according to the abilities they most identified themselves with, the groups got familiarized with the theme of the work and were asked to connect with the materials, feeling their softness and malleability, understanding more how the paper behaves.
                    <br><br>
                    Then, they were instructed to pin the sculptures on the panel. In order to do that, however, the groups needed to learn from the trees, assuming their ability to work as one single individual.
                </div>

                <div class="image-container">
                    <img
                        class="margin-top-300"
                        src="/assets/pages/crown-shyness/07.jpg"
                        alt="image"
                        srcset=""
                    />
                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/08.jpg"
                        alt="image"
                        srcset=""
                    />
                    <img
                        class="margin-top-200"
                        src="/assets/pages/crown-shyness/09.jpg"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        Making of process of building the <span class="fstyle-label">Crown Shyness </span>installation.
                        <br /> Photo by Clara Marques
                    </div>
                </div>


                <div class="artwork | margin-top-400">
                    Once all the paper sculptures were assembled, participants were invited to drink a tea especially designed by tea sommelier and blender 
                    <a href="https://www.instagram.com/deusadocha/"> Dani Lieuthier</a>.
                    Each person was given a card in which a question was posed on their relationship to the forest. The experience ended when all participants could see the completed work in motion.
                </div>


                <div class="fs-quote margin-top-400">
                    "This is a space of connection with art and the forest. Klabin's invitation to this sustainability event is connected with the most important thing about my work as an artist, which is how we can create positive images for the future using technology."
                    <br />
                    - Edson Pavoni
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">Commissioner</span><br>
                    Klabin
                    <br /><br />

                    <span class="fs-credits-bold">Experience Design</span><br>
                    Isabella Nardini
                    <br /><br />

                    <span class="fs-credits-bold">Production</span><br>
                    Clara Marques & Junior De Gois
                    <br /><br />
                    
                    <span class="fs-credits-bold">Design</span><br>
                    Guilherme Bullejos
                    <br /><br />

                    <span class="fs-credits-bold">Paper Specialist</span><br>
                    Gabriela Castro
                    <br /><br />

                    <span class="fs-credits-bold">Software and Eletronics</span><br>
                    Dimitre Lima & Rodrigo Echer 
                    <br /><br />
                    
                    <span class="fs-credits-bold">Production Assistants</span><br>
                    Gustavo Freitas, Milena Veloso, Ligia Jeon, Ana Lopes, Raquel Diógenes, Lucia Farias, Vinícius Telles 
                    <br /><br />

                    <span class="fs-credits-bold">Events Productions</span><br>
                    Sabrina Homrich
                    <br /><br />
                    
                    <span class="fs-credits-bold">Mediators</span><br>
                    Jaqueline Cerdeiro & Rafael Americo
                    <br /><br />

                    <span class="fs-credits-bold">Costume Designer</span><br>
                    Flavia Aranha
                    <br /><br />

                    <span class="fs-credits-bold">Making of Photography</span><br>
                    Clara Marques
                    <br /><br />

                    <span class="fs-credits-bold">Photography</span><br> 
                    Matheus Matta
                    <br /><br />
                    
                    <span class="fs-credits-bold">Video</span><br>
                    Piero Davila

                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
