---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Edson Pavoni">
	<main>
		<section>
			<div class="container">
				<div class="welcome-tile margin-top-900">
					<h1 class="fs-display fw-bold text-positive margin-top-600">
						Will technology drive us apart or bring us closer
						together?
					</h1>
				</div>
				<div class="bio-text | margin-top-300">
					<span class="fw-bold">Edson Pavoni</span> is an artist and technologist
					investigating human intimacy in its intersection with technology.
				</div>
				<div class="videowrapper | margin-top-200">
					<div class="plyr | video-scale" id="player">
						<iframe
							src="https://www.youtube.com/embed/HgCzPN8iEBg?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
							allowfullscreen
							allowtransparency
							allow="autoplay"></iframe>
					</div>
				</div>
				<div class="fs-caption text-caption padding-block-caption">
					Video introduction, 3 min.
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="secundary-title">
					<h1 class="fs-display fw-bold margin-top-600">
						Selected Works
					</h1>
				</div>
				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-400">
							<a href="/en/orbital-temple">Orbital Temple</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						site specific / 2022
					</div>
					<div class="work-text | margin-top-200">
						The first satellite from the Global South with an
						artistic mission. With it, anyone will be able to send
						to heaven the name of someone that has passed away.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/orbital-temple">
							<img
								src="/assets/home/23OrbitalTemple.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">Orbital Temple</span> in space.<br
						/>3D rendering by RiseNY&Partners.
					</div>
					<div class="work-video | margin-top-200">
						<a href="/en/orbital-temple">
							<img
								src="/assets/home/22OrbitalTemple.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">Orbital Temple</span> installation
						at the Mercosul Biennial, <br />in Porto Alegre, Brazil.
						Photo by Clara Marques.
					</div>
					<div class="artwork">
						<div class="work-title">
							<h3 class="fs-title fw-bold margin-top-400">
								<a href="/en/whatwecannot">What we cannot forget</a>
							</h3>
						</div>
						<div class="fstyle-label | fs-label margin-top-100">
							exhibition + performance / 2023
						</div>
						<div class="work-text | margin-top-200">
							The exhibition was the result of three years of research by 
							the artist on topics involving loss, memory and grief, 
							with an emphasis on the Covid-19 pandemic. The exhibition 
							is a development of the <span class="fstyle-label">Inumeráveis Memorial</span> 
							project, which has gathered thousands of stories of victims of the coronavirus in Brazil since 2020.
						</div>
						<div class="work-image | margin-top-300">
							<a href="/en/whatwecannot">
								<img
									src="/assets/pages/naopodemos/gifnovo.webp"
									alt="image"
									srcset=""
								/>
							</a>
						</div>
						<div class="fs-caption text-caption padding-block-caption">
							<span class="fstyle-label">What we cannot forget</span> at Casa Cósmica, São Paulo.<br
							/>Images by Estúdio Em Obra.
						</div>
					
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/landscapes-of-the-mind"
								>Landscapes of the Mind</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						performatic installation / 2022
					</div>
					<div class="work-text | margin-top-200">
						An installation made with brain monitors capable of
						reading the neural activity of two participants as they
						look at each other. The data collected is then used to
						create a generative drawing that is projected over an
						oil painting by Lyora Pisarro.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/landscapes-of-the-mind">
							<img
								src="/assets/home/21LandscapesoftheMindQuadrado.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						Two people participate in the <span class="fstyle-label"
							>Landscapes of the Mind</span
						><br />installation, in New York, USA. Photo by the
						artist.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/sacred-in-flux">Sacred in Flux</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						exhibition / 2022
					</div>
					<div class="work-text | margin-top-200">
						A collection of AI-generated digital paintings that
						reinterpret what we consider sacred. Together with
						artist Juliana Freire, the works were co-created with
						software that analyzed over 14 million images of
						multicultural representations of what we think is holy.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/sacred-in-flux">
							<img
								src="/assets/home/20SagradoemFluxo.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label"> Sacred in Flux</span> shown in
						São Paulo, Brazil.<br />Photos by Filipe Berndt.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/crown-shyness">Crown Shyness</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						kinetic installation / 2022
					</div>
					<div class="work-text | margin-top-200">
						An installation that captures real-time wind movements
						of a protected forest in the South of Brazil and
						translates it into a kinetic 10-meter long panel with
						around 160 paper sculptures, assembled in one day by
						over 500 participants.
					</div>
					<a href="/en/crown-shyness">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/19TimidezdasCopas.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/19TimidezdasCopas.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/19TimidezdasCopas.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						The <span class="fstyle-label"
							>Crown Shyness</span
						> installation.<br />Videos by Clara Marques and Piero Davila.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/inumeraveis"
								>Inumeráveis Memorial</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						architecture and digital platform / 2020-
					</div>
					<div class="work-text | margin-top-200">
						A digital platform and a plan for a physical monument
						dedicated to telling the stories of Coronavirus' victims
						in Brazil.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/inumeraveis">
							<img
								src="/assets/home/18Inumeraveis.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="work-image | margin-top-200">
						<a href="/en/inumeraveis">
							<img
								src="/assets/home/17AInumeraveis.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/en/inumeraveis">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/17AInumeraveis.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/17AInumeraveis.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/17AInumeraveis.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						Plan for the <span class="fstyle-label"
							>Inumeráveis Monument</span
						>.<br />3D Renderings by RiseNY&Partners.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/invisible-blue">Invisible Blue</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						installation / 2020
					</div>
					<div class="work-text | margin-top-200">
						A 24-meter tall light sculpture that materializes the
						unseen connections of the Hungarian art world. Also an
						NFT collection made in collaboration with pioneer
						network scientist Albert-Laszlo Barabási.
					</div>

					<div class="work-image | margin-top-300">
						<a href="/en/invisible-blue">
							<picture>
								<source
									srcset="/assets/home/16InvisibleBlue.webp"
									type="image/webp"
								/>
								<source
									srcset="/assets/home/16InvisibleBlue.webp"
									type="image/jpeg"
								/>
								<img
									src="/assets/home/16InvisibleBlue_.webp"
									alt=""
								/>
							</picture>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">Invisible Blue</span> at the Ludwig
						Museum of Contemporary Art.<br />Photographed by Bálint
						Jaska.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/over-the-face-of-new-waters"
								>Over the Face of New Waters</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						kinetic installation / 2019
					</div>
					<div class="work-text | margin-top-200">
						An installation consisting of six self-watering hanging
						gardens that move, through a specialized mechanism,
						according to the plants' needs. When approached by human
						visitors, the garden places itself at their eye level.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/over-the-face-of-new-waters">
							<img
								src="/assets/home/15OvertheFaceofNewWaters.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>

					<a href="/en/over-the-face-of-new-waters">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/14OvertheFaceofNewWaters.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/14OvertheFaceofNewWaters.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/14OvertheFaceofNewWaters.webm"
								type="video/webm"
							/>
						</video>
					</a>

					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label"
							>Over the Face of New Waters</span
						>, images by Gee Galvão.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/the-waters-are-breaking"
								>The Waters are Breaking</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						scenography / 2019
					</div>
					<div class="work-text | margin-top-200">
						An immersive experience at the intersection between
						theater and performance. Written and starred by Gabriela
						Veiga, the play uses generative projections and visuals
						to explore themes of pain, beauty, mourning and life
						after death.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/the-waters-are-breaking">
							<img
								src="/assets/home/13TheWatersareBreaking.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/en/the-waters-are-breaking">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/12TheWatersareBreaking.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/12TheWatersareBreaking.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/12TheWatersareBreaking.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						Gabriela Veiga interacts with projections made using
						generative<br /> technology. Images by Rodrigo Rosa and Giorgio
						D'Onofrio.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/a-petal-for-three">A Petal for Three</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						site-specific installation / 2018
					</div>
					<div class="work-text | margin-top-200">
						An interactive mirrored installation that gets activated
						when three visitors stop in each of the installation's
						corners. It addresses an intense state of connection in
						which its result leads to the fragmentation of its full
						structure.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/a-petal-for-three">
							<img
								src="/assets/home/11APetalforThree.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div>
						<a href="/en/a-petal-for-three">
							<video
								autoplay
								muted
								playsinline
								loop
								poster="/assets/home/10APetalforThree.webp"
								class="video-scale margin-top-200"
							>
								<source
									src="/assets/home/10APetalforThree.mp4"
									type="video/mp4"
								/>
								<source
									src="/assets/home/10APetalforThree.webm"
									type="video/webm"
								/>
							</video>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						Participants engage with <span class="fstyle-label"
							>A Petal for Three</span
						> in São Paulo.<br />Photographed by Rafael Socrates.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/white-mirror">White Mirror</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						kinetic installation / 2017
					</div>
					<div class="work-text | margin-top-200">
						A 22 meter panel that reflects walkers passing by
						through algorithmic generated creature-like images that
						react to their movements.
					</div>

					<div class="work-image | margin-top-300">
						<a href="/en/white-mirror">
							<img
								src="/assets/home/09WhiteMirror.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div>
						<a href="/en/white-mirror">
							<video
								autoplay
								muted
								playsinline
								loop
								poster="/assets/home/08WhiteMirror.webp"
								class="video-scale margin-top-200"
							>
								<source
									src="/assets/home/08WhiteMirror.mp4"
									type="video/mp4"
								/>
								<source
									src="/assets/home/08WhiteMirror.webm"
									type="video/webm"
								/>
							</video>
						</a>
					</div>

					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">The White Mirror</span> panel
						gets activated when visitors pass by it.<br />Images by
						Rafael Socrates.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/first-sense">First Sense</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						photography series / 2015-
					</div>
					<div class="work-text | margin-top-200">
						An ongoing photographic series in which the artist
						researches human responses to touch and the quality of
						the connections that arise from this act.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/first-sense">
							<img
								src="/assets/home/07FirstSense.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="work-image | margin-top-200">
						<a href="/en/first-sense">
							<img
								src="/assets/home/06FirstSense.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">First Sense</span> is an ongoing
						photography series <br />by Edson Pavoni.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/the-love-project">The Love Project</a>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						installation / 2013
					</div>
					<div class="work-text | margin-top-200">
						A performatic installation that transforms participants’
						love stories into unique 3D printed sculptures.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/the-love-project">
							<img
								src="/assets/home/05TheLoveProject.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/en/the-love-project">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/04TheLoveProject.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/04TheLoveProject.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/04TheLoveProject.webm"
								type="video/webm"
							/>
						</video>
					</a>
					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">The Love Project</span> was a
						performatic installation.<br />Images by Jorge Teivelis
						Neto.
					</div>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-600">
							<a href="/en/a-place-to-departure"
								>A Place to Departure</a
							>
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						site-specific installation / 2013, 2015
					</div>
					<div class="work-text | margin-top-200">
						A sensory bridge first installed between China and
						Brazil. When one person touched the glass of the
						installation in Beijing and another touched the glass in
						São Paulo, the two physically felt as if they had
						touched each other. In 2015, it was also presented in
						two different districts of Dubai.
					</div>
					<div class="work-image | margin-top-300">
						<a href="/en/a-place-to-departure">
							<img
								src="/assets/home/03APlacetoDeparture.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<div class="work-image | margin-top-200">
						<a href="/en/a-place-to-departure">
							<img
								src="/assets/home/02APlacetoDeparture.webp"
								alt="image"
								srcset=""
							/>
						</a>
					</div>
					<a href="/en/a-place-to-departure">
						<video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/01APlacetoDeparture.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/01APlacetoDeparture.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/01APlacetoDeparture.webm"
								type="video/webm"
							/>
						</video>
					</a>

					<div class="fs-caption text-caption padding-block-caption">
						<span class="fstyle-label">A Place to Departure</span> in
						China, photographed by Pedrinho <br />Fonseca. Images of
						the installation in Dubai by Edson Pavoni.
					</div>
				</div>
			</div>
		</section>

		<section>
			<div class="container">
				<div class="selected-works">
					<div class="secundary-title">
						<h1 class="fs-display fw-bold margin-top-600">
							Poetry
						</h1>
					</div>

					<div class="artwork">
						<div class="work-title">
							<h3 class="fs-title fw-bold margin-top-400">
								In Honor of the Land
							</h3>
						</div>
						<div class="fstyle-label | fs-label margin-top-100">
							2022
						</div>
						<div class="work-text | margin-top-200">
							in honor of the land<br />
							I pledge my attention<br />
							to the mountains of colored minerals<br />
							that raised themselves<br />
							before there were any eyes to see<br />
							how the sky painted them with light<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the green fields that spoon<br />
							the gray line of the horizon<br />
							were the last wild horses run<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the ocean of green trees<br />
							the forest being protect by my ancestors<br />
							and the xapiripë spirits<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the rivers from below<br />
							painted in gold by the nearest star<br />
							drawing themselves<br />
							in curved unproductive lines<br />
							in no hurry to find the ocean<br />
							<br />
							in honor of the land<br />
							I also pledge my attention<br />
							to the rivers of above<br />
							swimming in the sky before being rain<br />
							<br />
							and the rain, my friend,<br />
							way before touching anything<br />
							will seduce you with its perfume<br />
							as Oxum, the Orixá of seduction does<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the best roommates on this planet<br />
							the other sentient beings<br />
							having the best time when we are not around<br />
							<br />
							in honor of the land<br />
							I pledge my attention to outer space<br />
							our environment above the sky<br />
							with the lights from the past<br />
							and the technology of the present<br />
							helping me see our world as finite as I am<br />
							<br />
							in honor of the land<br />
							I pledge my attention.<br />
						</div>

						<div class="videowrapper | margin-top-300">
							<div class="video-scale" id="player-in-honor">
								<iframe
									src="https://www.youtube.com/embed/nNmEZFtWXPs?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
									allowfullscreen
									allowtransparency
									allow="autoplay"></iframe>
							</div>
						</div>
						<div
							class="fs-caption text-caption padding-block-caption"
						>
							Video poetry, 2 min.
						</div>
					</div>

					<div class="artwork">
						<div class="work-title">
							<h3 class="fs-title fw-bold margin-top-400">
								Half Oxum
							</h3>
						</div>
						<div class="fstyle-label | fs-label margin-top-100">
							2019
						</div>
						<div class="work-text | margin-top-200">
							behind the curtain of a waterfall<br />
							standing half Oxum half mirror<br />
							a woman showing no fear of being naked<br />
							opens her eyes looking exactly into mine<br />
							and without moving anything but her arm<br />
							takes a rose crystal egg from<br />
							the place in her body that bleeds<br />
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<section>
		<div class="container-negative | f-style-negative margin-top-600">
			<div class="container padding-block-200">
				<div class="secundary-title">
					<h1 class="fs-display fw-bold margin-top-600">
						A multi-planetary idea for a non-dystopian future
					</h1>
				</div>

				<div class="artwork">
					<div class="work-title">
						<h3 class="fs-title fw-bold margin-top-400">
							A Place to Departure in Mars
						</h3>
					</div>
					<div class="fstyle-label | fs-label margin-top-100">
						2030?
					</div>
					<div class="work-text | margin-top-200">
						Sooner than we expect, humankind will become
						multi-planetary. In fact, Mars seems to be our first
						destination. If so, it means humans will be far apart
						from each other as we have never been in our history:
						that is 250 million miles apart. We will be able to see
						those in Mars, we will hear our loved one’s voices, but
						we will probably never be able to touch again.
						<br /><br />
						<span class="fstyle-label">
							Place to Departure's mission</span
						> is to make interplanetary human touch possible. It aims
						to be a long lasting bridge so that we never lose touch.
					</div>
					<div class="work-image | margin-top-300">
						<img
							src="/assets/home/00APlacetoDepartureMars.webp"
							alt="image"
							srcset=""
						/>
					</div>
					<div class="work-image | margin-top-200">
						<img
							src="/assets/home/00APlacetoDepartureMars2.webp"
							alt="image"
							srcset=""
						/>
					</div>
					<div class="work-image | margin-top-200">
						<img
							src="/assets/home/00APlacetoDepartureMars3.webp"
							alt="image"
							srcset=""
						/>
					</div>
					<div class="fs-caption text-caption padding-block-caption">
						Plans for <span class="fstyle-label"
							>A Place to Departure</span
						> in human settlements in Mars.<br /> 3D Rendering by Guilherme
						Bullejos.
					</div>
					<br /><br /><br /><br />
				</div>
			</div>
		</div>
	</section>
</Layout>