---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Landscapes of the Mind - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Lyora Pissarro</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Landscapes<br />of the mind
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    performatic installation / 2022
                </div>

                <div class="artwork | margin-top-500">
                    <br />
                    <span class="fstyle-label">Landscapes of the Mind</span> is an
                    installation made with brain monitors that are able to read the
                    neural activity of two participants as they look at each other.
                    The data collected is then used to create a generative drawing
                    that is projected over an oil painting by Lyora Pissarro.
                    <br /><br />
                    Presented live in Brooklyn, NY in the Summer of 2022, <span
                        class="fstyle-label">Landscapes of the Mind</span
                    > was envisioned together with artist
                    <a href="http://www.lyorapissarro.com/"> Lyora Pissarro</a>
                    as an experience of deep connection between people and art.
                </div>

                <div class="artwork | margin-top-300">
                    <img
                        src="/assets/pages/landscapes-of-the-mind/01.jpg"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        Participants experience <span class="fstyle-label"
                            >Landscapes of the Mind</span
                        > in New York, 2022.
                        <br />Courtesy of the artists.
                    </div>

                    <div class="fs-quote margin-top-400">
                        “In a world where the average span of attention given to
                        a painting in a museum is under five seconds, technology
                        was used not as a distracting force, but as a
                        fundamental tool to amplify our mindfulness and our
                        consciousness on the connections we can foster, not only
                        with art but with the people experiencing it with us”
                        <br />
                        - Edson Pavoni
                    </div>

                    <div class="margin-top-500">
                        The systems in place for this work was based on the
                        functionality of our neural system. "Our neurons don't
                        really touch each other. Rather, they connect through
                        electricity", said Pavoni. The two devices used in the
                        installation analyzed precisely that: they were capable
                        of measuring the electrical potential created by the
                        brain.
                        <br /><br />
                        The customized software, developed for this artwork, could
                        capture the brain's activity and recognize signs of calmness
                        and of meditation states. During the performance, the brain
                        waves of two participants were recorded for one minute. This
                        activity generated particles with gravitational forces that
                        attracted each other. The particles of user 1 were attracted
                        by the particles of user 2. The trail of those particles
                        created the generative drawing over Pissarro's painting, which
                        stood between participants.
                    </div>
                    <div class="margin-top-300">
                        <img
                            src="/assets/pages/landscapes-of-the-mind/02.jpg"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        Participants experience <span class="fstyle-label"
                            >Landscapes of the Mind</span
                        > in New York, 2022.
                        <br />Courtesy of the artists.
                    </div>


                    <div class="margin-top-500">
                        In order to understand what is being shown, one can decode how the line in blue represents how aligned the brain waves of the participants were during the capturing moment. A straight line represents great alignment.
                        <br /><br />
                        This quick concept prototype was made in six days by the artists and presented for a group of friends as an initial experiment of a bigger vision, one of a full exhibition about the connections of the human consciousness and the experience of art.
                    </div>
                    <div class="margin-top-300">
                        <img
                            src="/assets/pages/landscapes-of-the-mind/03.jpg"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div>
                        <video
                            autoplay
                            muted
                            playsinline
                            loop
                            poster="/assets/pages/landscapes-of-the-mind/02.jpg"
                            class="video-scale-wide margin-top-200"
                        >
                            <source
                                src="/assets/pages/landscapes-of-the-mind/001.mp4"
                                type="video/mp4"
                            />
                            <source
                                src="/assets/pages/landscapes-of-the-mind/001.webm"
                                type="video/webm"
                            />
                        </video>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        Participants experience <span class="fstyle-label"
                            >Landscapes of the Mind</span
                        > in New York, 2022.
                        <br />Courtesy of the artists.
                    </div>
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni & Lyora Pissarro, artists.
                    <br /><br />

                    <span class="fs-credits-bold">Software</span><br>
                    Johnatan Querubina & Edson Pavoni
                    <br /><br />

                    <span class="fs-credits-bold">Special thanks to</span>
                    our host Jony Levin, and for the special support from Chris Mewes, Alex Fraenkel, Luana Lima Fox, & Jo.Ke.
                    
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
