---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="What we cannot forget - Curatorial Text">

  <main>
    <section>
      <div class="container">
        <div class="welcome-tile margin-top-900">
            <span class="fs-logo margin-top-600"
                >Carollina Lauriano</span
            >
            <h1 class="fs-display fw-bold text-positive margin-top-200">
                What we cannot forget
            </h1>
        </div>

        <div class="fs-label fstyle-label margin-top-600">
            curatorial text / 2023
        </div>
    </section>

  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        Just as World War I inaugurated a historic milestone in the 20th century, 
        there are theoretical currents that point out that the Coronavirus pandemic 
        inaugurated the first historic milestone of global proportions in the 21st century. 
        Now, more than three years after its beginning and, although on May 5, 2023, the 
        World Health Organization declared the end of the pandemic, the social, economic 
        and psychological consequences caused by the catastrophic consequences of the advent 
        still do not have definitive answers. part of theorists and scholars of the subject. 
        <br><br>
        In 1920, Sigmund Freud published an article entitled <span class="fstyle-label">
          Beyond the Pleasure Principle</span>, in which he problematized for the first time 
          traumatic neurosis as war neurosis, pointing out that individual orders and collective ones 
          are intimately combined in the constitution of the experience of a trauma. That is, 
          for Freud, traumas of this dimension could not be understood only in a singular way, 
          but to properly formulate this trauma would require an interdisciplinary reading, 
          incorporating notions ranging from sociology to psychoanalysis, for example. 
        <br><br>
        Advancing this interdisciplinary notion of Freud's notes on the elaboration of
         traumas of a collective nature, I include art here as another field of knowledge with potential
         to point out poetic ways to deal with what we cannot forget. Taking the
         crossings that the pandemic has imposed on the world, but also pointing out issues of order
         policies faced by Brazil in the face of the virus, Edson Pavoni presents
         a set of works that sometimes denounce negligence committed by the government; 
          sometimes, he also opts for poetic paths that point to ways of elaborating futures, in an attempt to
           not to let us forget the almost seven million fatal victims of the virus worldwide,
            among them more than seven hundred thousand Brazilians.
        <br><br>

        For this, the artist divides the exhibition into three moments: scream, silence and music,
         understanding the three as stages for the elaboration of a mourning. In "scream", Pavoni brings a
         set of works that refer to the negligence practiced by the Brazilian government in
         federal instance, such as the one dollar bribe requested by the director of the Ministry of Health
          per vaccine dose, to sign the contract with Dafiti Medical Service. Another example is seen in the stack
          of files printed on a dot matrix printer, which fragilely keeps the names of
          victims of Covid-19. These impressions can also be understood as
          file tokens, referring to something that needs to be, somehow, preserved.
        <br><br>

        If in "scream", Pavoni makes use of primary feelings - such as anger - to deal with this
        first moment of absence, "silence" acts as the next stage of recollection and
        insight. It is here that the artist recreates a face shield, equipment used by
        health professionals to reinforce protection against the virus, and which here gains status
        as a monument to all those who fought to save lives.
        <br><br>

        After these two moments of difficult assimilation within a stage of mourning,
         Pavoni brings us to life. Or the possibility of it. After long periods of isolation,
         it was common to observe the fear of touching and physical contact with the other, causing a new
         social disorder. In his set of photographs, the artist registers the first
         moment of contact with strangers, pointing out that it is possible to reactivate memories
         that take us out of the state of isolation and put us back in touch with the world.
        <br><br>

        This set of works closes off with the satellite <span class="fstyle-label">Orbital Temple</span>, a project that collects stories
         of people who, somehow, were saying goodbye to someone, and which will be launche in
         space later this year as a kind of memorial of memories that
         resignify feelings in other possibilities of existence. 
        <br><br>

        In <span class="fstyle-label">A Toast to the Dead - Stories of Those Who Stay</span>,
         Belgian philosopher and psychologist Vinciane Despret presents the need to elaborate the
         mourning not only as a synonym of cure for the suffering of those who have lost a loved one,
          but in her book, she points to mourning as a space for continuity in the connection between those who
          gone and who stay, this act being an important vector of vitality between both.
          “Remembering is not a simple act of memory. It's an act of creation,” says Despret.
          Remembering is to fable.
        <br><br>

        In a country whose main traumas are between the colonial and the most recent,
         such as the Military Dictatorship — insist on not being discussed socially as an
         elaboration exercise, this exhibition appears as an invitation to think metaphorically
         about this latent trauma, and which needs to be thought collectively about the possible
         reframing paths.
        
        <div class="artwork | margin-top-500">
          <span class="fs-sub-title">Carollina Lauriano </span>
          </div>
          <br /><br />
          Carollina Lauriano has a degree in Social Communication with an emphasis on Journalism. She has an extension in Art, Design and Fashion Research at Central Saint Martins / ual, acting as an independent curator since 2017. Between 2018 and 2020 she served as curator and manager of Ateliê397, one of the main independent art spaces in São Paulo. In 2021, she coordinated the artistic residency program at Usina Luis Maluf.          <br /><br />
          In her research, she is interested in discussing the insertion, challenges and achievements of young women artists in the art market. Among the main projects carried out are the exhibitions "Body beyond the body", which discussed the queer body and female transsexuality and the search for protagonism of new bodies in society and "The night will never fall asleep in our eyes", at Galeria Baró, the first exhibition bringing together 20 racialized artists in a commercial gallery to present and discuss the production of dissident bodies within the art market. Adjunct curator of the 13th. edition of the Mercosul Biennial, show taking place in Porto Alegre in 2022 and curator of Projeto Expresso e Refúgio, which offers expanded artistic training for young teenagers who graduated from Fundação Casa.    
      </div>
    </div>
  </section>

  <br><br><br><br>
</main>

</Layout>