---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="What we cannot forget - Text by Ana Claudia Quintana">

  <main>
    <section>
      <div class="container">
        <div class="welcome-tile margin-top-900">
            <span class="fs-logo margin-top-600"
                >Ana Claudia Quintana</span
            >
            <h1 class="fs-display fw-bold text-positive margin-top-200">
              What we lived during the pandemic should still be in the space of the scream
            </h1>
        </div>

        <div class="fs-label fstyle-label margin-top-600">
            text for the exhibition "What we cannot forget" / 2023
        </div>
    </section>

  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        What we lived during the pandemic should still be in the space of the scream. 
      <br><br>      
      It is the space of the shock, the indignation, the perception of injustice that goes hand in hand with 
      irreversibility. No death is less than 100% absence. Of the abysmal, profound, total silence. 
      Of the voice of those who left around the listening ears of those who remained.
      <br><br>This deafening silence is only broken by the sound of nature. The nature that reveals the 
      persistence of life every day. The stubbornness of life. The determination of life. That at its pace, 
      tireless, persistently and lovingly comes and shows us that the pace of life moves forward.
      <br><br>Nature is art, life is music. 
<br><br>A total song made of its parts. The rhythm, melody, sound, harmony. 
<br><br>Poetry.
<br><br>Life of a rhythm that recomposes the structure of a time that should not be forgotten. The melody 
that connects the emotion that does not cease. the longing sound that brings harmony to the pain that 
does not speak. 
<br><br>Life with the poetry of art that sings what is not told... Innumerable screams that do not silence,
but that heal, heal, in silence. 
<br><br>
Art that brings the new way of walking in steps of silence.      
</div><div class="artwork | margin-top-500">
        <span class="fs-sub-title">Ana Claudia Quintana </span>
        </div>
        <br /><br />
        Physician, writer, professor and speaker on themes about aging and death – and the life that fills the space of these human moments.
        <br><br>        
        With a BA from the University of São Paulo, Quintana has done her residency in Geriatrics and Gerontology at Hospital das Clínicas of FMUSP. She did a postgraduate degree in Psychology – Interventions in Mourning at Instituto 4 Estações de Psicologia, and a specialization in Palliative Care at Instituto Pallium and the University of Oxford.
        She founded Casa do Cuidar, organizing and teaching classes in multiprofessional training courses. Since 2019, she has been president of the institution. In patient care, she works in the office and also at Casa Humana, where she coordinates home care in palliative care for people with life-threatening chronic illnesses.
        <br><br>       
        Quintana participated in TEDx FMUSP with the lecture “Death is a day worth living” and launched a book by Editora Sextante with the same title.
        <br> <br> 
        Quintana is part of the <a href="https://inumeraveis.com.br/"> Inumeráveis Memorial</a> team.
    </div>
  </section>

  <br><br><br><br>
</main>

</Layout>