---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="The Love Project - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Guto Requena</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        The Love Project
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    performatic installation / 2013
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">The Love Project</span> transforms love stories into 3D printed sculptures. It was both an installation and a performance. Participants were connected to several sensors capable of measuring the variations of their emotions through their brain's electrical activity, their voice and their heartbeat. 
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/OkWshunCMng?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> The Love Project</span> video introduction,
                    3 mins.
                </div>

                <div class="margin-top-500">
                    Individually, each participant was then put in a room, by themselves. In a calm and quiet environment, they were asked to retell what they considered to be the greatest or most significant love story of their lives.
                    <br><br>
                    With the data collected, an algorithm developed especially for this installation turned it into a single object. These objects seemed at first to have ordinary functions – could be used as a vase or as a lamp – but were in fact sculptures that embodied their feelings, 3D printed works able to give shape to the intangible.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="margin-top-200">
                        <video
							autoplay
							muted
							playsinline
							loop
							poster="/assets/home/04TheLoveProject.webp"
							class="video-scale margin-top-200"
						>
							<source
								src="/assets/home/04TheLoveProject.mp4"
								type="video/mp4"
							/>
							<source
								src="/assets/home/04TheLoveProject.webm"
								type="video/webm"
							/>
						</video>
                    </div>
                    <img class="margin-top-200"
                        src="/assets/pages/love-project/002.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span> performatic installation.
                        <br />Images by Jorge Teivelis Neto.
                    </div>
                </div>

                <div class="margin-top-500">
                    The method of creation constructed by this project entails a process in which mass produced daily life objects could have intrinsic emotional value. That value, usually acquired through unique craftsmanship or artisanal techniques, does not only represent an unique relationship to these objects; rather, it tends to correlate to the expansion of their life cycle.
                    <br><br>
                    By proposing an object that can both have an emotional value but also be replicable through technological means, the work suggests a shift in our consumer dynamics, one in which "emotional sustainability" becomes a force that influences us to be more aware of the objects around us.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/02.webp"
                        alt="image"
                        srcset=""
                    />

                    <img class="margin-top-200"
                        src="/assets/pages/love-project/03.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span> sculptures.
                        <br />Images by Otavio Pacheco & Fausto Noro.
                    </div>
                </div>

                <div class="margin-top-500">
                    By including the participants as the fundamental part of the creation process, the final sculptures use digital technologies and methods to reinterpret their own individuality, uniting Design, Art and Technology.
                    <br><br>
                    It is also an example of the possibilities technology can provide us when assisting us in reassessing our own experiences, creating innovative images and objects which can give unique meanings to our narratives and lives.
                </div>

                <div class="fs-eye | margin-top-400">
                    Conceived together with artist Guto Requena, the performance has been assembled multiple times in cities like São Paulo, Lisbon and Dubai. The project collected over 100 love stories between 2013 and 2015.
                </div>

                <div class="margin-top-500">
                    <img
                        src="/assets/pages/love-project/04.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span> sculptures.
                        <br />Images by Otavio Pacheco & Fausto Noro.
                    </div>
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">The Aura Pendant</span>
                    <br /><br />
                    In 2018, the Love Project expanded itself into a software for mobile devices called Aura. The app, which can be downloaded to any smartphone, captures a person's emotions through their voice and heart rate, transforming those emotions into a unique jewel that can be printed on precious metals such as copper, silver or gold.
                </div>

                <div class="margin-top-300">
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/pages/love-project/002.webp"
                        class="video-scale-wide margin-top-200"
                    >
                        <source
                            src="/assets/pages/love-project/002.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/pages/love-project/002.webm"
                            type="video/webm"
                        />
                    </video>
                </div>
                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/07.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Aura Pendant</span> process and jewels.
                    <br />Images by Luciana Dal Ri.
                </div>

                <div class="margin-top-300">
                    The process is simple. When opening the app, the person is invited to find a quiet and private place, where they feel free to tell the greatest love story they have experienced.
                    <br><br>
                    While doing so, they must cover the camera and flash of their smartphones with the index finger. The change in their skin's color is translated by an algorithm into their heart's rate.
                    <br><br>
                    Through the microphone, variations in the voice are collected and their emotions are perceived through that information. The immersive buttonless interface works only with gestures and voice commands.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/love-project/08.webp"
                        alt="image"
                        srcset=""
                    />

                    <img class="margin-top-200"
                        src="/assets/pages/love-project/09.webp"
                        alt="image"
                        srcset=""
                    />

                    <img class="margin-top-200"
                        src="/assets/pages/love-project/10.webp"
                        alt="image"
                        srcset=""
                    />

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The Love Project</span> sculptures.
                        <br />Images by Alexandre Nino & Gil Inoue.
                    </div>
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Awards</span>
                    
                    <br><br>
                    <span class="fw-bold">2018</span><br>
                    <span class="fstyle-label">The Love Project</span>
                    <br>
                    <a href="https://en.di-award.org/collections/detail/314.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - Dia Innovation Category
                    
                    <br><br>
                    <span class="fstyle-label">Aura</span>
                    <br>
                    <a href="https://en.di-award.org/collections/detail/314.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - Honorable Mention
                    
                    <br><br>
                    <span class="fw-bold">2017</span><br>
                    <span class="fstyle-label">The Love Project</span>
                    <br>
                    <a href="https://ifdesign.com/en/winner-ranking/project/love-project/200752">IF Design Award</a>
                    <br><br>

                    <br><br>
                    <span class="fs-sub-title">Know more</span>
                    <br><br>
                    <a href="https://www.designboom.com/design/love-project-mandalas-guto-requena-03-13-2015/">Love project by Guto Requena & D3 translates emotional data into 3D objects</a> - designboom, 2015
                    <br><br>
                    <a href="https://casavogue.globo.com/Eventos-etc/noticia/2014/08/casa-vogue-e-guto-requena-love-project.html">Casa Vogue and Guto Requena - Love Project</a> Casa Vogue, 2014 (In Portuguese only)


                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br /><br>
                    <span class="fs-credits-bold">The Love Project</span>
                    <br /><br />
                    Guto Requena & Edson Pavoni, artists
                    <br /><br />

                    <span class="fs-credits-bold">Development team</span><br>
                    João Marcos de Souza, Mariana Schetini, Vitor Reis and Victor Sardenberg, Diego Spinola, Luka Brajovic, Luiz Gustavo Zanotello & Pagu Senna
                    <br /><br />

                    <span class="fs-credits-bold">Grasshopper Consultant</span><br>
                    Victor Sardenberg
                    <br /><br />

                    <span class="fs-credits-bold">3D printing partner for final pieces</span><br>
                    Anacom
                    <br /><br />
                    
                    <span class="fs-credits-bold">Real-time 3D printing partner</span><br>
                    Akad
                    <br /><br />

                    <span class="fs-credits-bold">Photography</span><br>
                    Luciana Dal Ri & Jorge Teivelis Neto
                    <br /><br />

                    <span class="fs-credits-bold">Video</span><br>
                    Raphael Fagundes & Jorge Teivelis Neto

                    <br /><br /><br>
                    <span class="fs-credits-bold">Aura Pendant</span>
                    <br /><br />
                    Guto Requena & Edson Pavoni, artists
                    <br /><br />
                    <span class="fs-credits-bold">Founding partners</span><br>
                    Guto Requena, Edson Pavoni, João De Souza & Eduardo Dias
                    <br /><br />

                    <span class="fs-credits-bold">Development team</span><br>
                    João Marcos de Souza, Kaio Medau, Pagu Senna, Jonathan Querubina, Diego Spinola, Luka Brajovic and Luiz Gustavo Zanotello, Victor Gama, Robson Coelho, Mariana Schetini & Vitor Reis
                    <br /><br />
                    
                    <span class="fs-credits-bold">3D Printing Technology</span><br>
                    Eduardo Dias
                    <br /><br />

                    <span class="fs-credits-bold">Photography</span><br>
                    Luciana Dal Ri, Alexandre Nino & Gil Inoue.
                    <br /><br />

                    <span class="fs-credits-bold">Video</span><br>
                    Filmes para Bailar

                    <br /><br /><br /><br />
                </div>

            </div>
        </section>
    </main>
</Layout>
