---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="What we cannot forget - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        What we cannot forget
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    exhibition + performance / 2023
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">What we cannot forget</span> was
                     Edson Pavoni's first solo exhibition. Curated by Carollina Lauriano,
                     the exhibition was the result of years of research by the artist on themes involving
                     loss, memory and grief, with an emphasis on the Covid-19 pandemic. The exhibition is
                     a development of the <a href="https://inumeraveis.com.br/">Inumeráveis Memorial</a> project, which brings together thousands
                     of stories of the victims of the coronavirus in Brazil since 2020. 
                    <br /><br />
                    The exhibition was also the stage for a performance with the same title, starring
                    Pavoni and artist Isabella Nardini, on the day of its opening. In the following day, 
                    the exhibition featured a conversation with the curator, the artist,
                     and with Ana Claudia Quintana, a doctor specialized in palliative care. The
                     exhibition was on display between June 17 and 18, 2023, at Casa Cósmica,
                     in São Paulo.
            
                </div>
                <div class="work-image | margin-top-300">
                    <img
                        src="/assets/pages/naopodemos/0000.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">What we cannot forget</span>, 2023.<br />Images by
                    Estúdio Em Obra.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">The scream, the silence and the music </span>
                    <br /><br />
                    <span class="fstyle-label">“Taking the crossings that
                        the pandemic imposed on the world, but also pointing out issues
                        of a political nature faced by Brazil in the struggle against the virus, 
                        Edson Pavoni presents a
                        set of works that one on hand denounce negligence
                        committed on the part of the government, and on the other choose
                        poetic paths that point to ways of elaboration
                        of futures, in an attempt not to let us forget the
                        nearly seven million fatal victims of the virus worldwide,
                        among them more than seven hundred thousand Brazilians”</span>,
                        writes Lauriano. 
                    <br /><br />
                    The three parts of the exhibition — the scream, the silence and the music —
                     are understood by the artist as three stages for the elaboration of mourning.
                     “If in a scream, Pavoni makes use of primary feelings — such as anger — to
                     dealing with this first moment of absence, silence acts as the next step
                     of recollection and introspection”, explains the curator. 
                    <br /><br />
                    Leaving that moment, for the artist, requires a period of contemplation: silence.
                     A period of calm, of introspection. A break to process the pain.
                     According to the curator, when we can overcome these “two moments of difficult assimilation”,
                     it is possible to hear the music that opens new paths. Thus, “Pavoni brings us to life. Or the
                     possibility of it.” Given the long periods of isolation caused by the pandemic,
                     the moment of music, in this exhibition, brings references linked to touch, physical contact,
                     and the nuances of human connections. In his works, Pavoni demonstrates “that it is possible to reactivate
                     memories that take us out of the state of isolation and put us back in touch with the world”,
                     as Lauriano elaborates.  
                    <br /><br />
                    Read the curator's full text  <a href="/en/text-carollina">here.</a>               
                </div>
                 <div class="work-image | margin-top-300">
                    <img
                        src="/assets/pages/naopodemos/001.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">What we cannot forget</span>. Views of the exhibition.<br />Photograph by
                    Estúdio Em Obra.
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title"> The scream </span>
                    <br /><br />
                    According to the palliative care specialist,
                     Ana Claudia Quintana, “what we experienced in the pandemic still
                     should be in the space of the scream”. In her text on the
                     exhibition, Quintana describes this space as a place <span class="fstyle-label">
                     “of the shock, the indignation, the perception of the injustice of hands
                     given with irreversibility. No death is less than
                     one hundred percent absence. Of abysmal, profound, total silence.
                     Of the voice of those who left around the listening ears of those who remained.
                     This deafening silence is only broken by the sound of nature.
                     The nature that reveals the persistence of life every day.
                     The stubbornness of life. The determination of life. That at your pace,
                     tirelessly, persistently and lovingly comes and shows us that the
                     rhythm of life goes on.”</span>
                    <br /><br />
                    Read Ana Claudia Quintana's full text <a href="/en/text-anaclaudia">here.</a>
                    <br /><br />
                </div>
                
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/002.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Chloroquine</span>, 2023, part of the series <span class="fstyle-label">Checked Headlines.</span><br />Photograph by
                    Estúdio em Obra.
                </div>

                <div class="artwork | margin-top-500">
                    Em Grito, a série <span class="fstyle-label">Checked Headlines</span> 
                    takes as a starting point
                    the scandals that marked the peak period of the pandemic
                    of Covid-19, denouncing its effects and consequences for
                    Brazilian population. It is made of three works: <span class="fstyle-label">Chloroquine</span>, <span class="fstyle-label">Viagra</span> and <span class="fstyle-label">One Dollar</span>, all from 2023.
                    <br /><br />
                    During this period, the explosion of disinformation that promoted medication
                    proven ineffective for the disease's prevention and prophylaxis. Medical authorities,
                    religious organizations and even the head of government disseminated the promotion of pharmaceuticals 
                    such as Chloroquine and Ivermectin, directly impacting the lives of thousands of Brazilians, <a href="https://www.brasildefato.com.br/2021/10/20/leia-a-integra-do-relatorio-final-da-cpi-da-pandemia-apresentado-por-renan-calheiros-no-senado"> 
                    leading to disastrous results for the control of the virus.</a><sup>(1)</sup>
                </div>

                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/003.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">One dollar</span>, 2023, part of the series <span class="fstyle-label">Checked Headlines.</span><br />Photograph by
                    Estúdio em Obra.
                </div>
                <div class="artwork | margin-top-500">
                    And as the world engaged in a vaccine race,
                    one that was effective and safe, the Brazilian government found itself in the midst of accusations
                    which demonstrated their efforts in not securing vaccines as soon as possible.
                    Their goal was to <a href="https://www1.folha.uol.com.br/poder/2021/06/exclusivo-governo-bolsonaro-pediu-propina-de-us-1-por-dose-diz-vendedor-de-vacina.shtml">profit one dollar per dose 
                 bought with the Davati Medical Supply company.</a><sup>(2)</sup>
                <br /><br />
                As if that were not enough, reports proved that the Brazilian Armed Forces had used
                 public money to acquire more than 35 thousand units of sildenafil, a
                 medicine known by the commercial name of Viagra. Moreover, it was bought with the implausible
                 justification that it would be used in the treatment of military personnel with <a href="https://g1.globo.com/df/distrito-federal/noticia/2022/04/12/doenca-usada-como-justificativa-para-compra-de-35-mil-comprimidos-de-viagra-para-as-forcas-armadas-e-rara-e-atinge-mais-mulheres-do-que-homens.ghtml">uma 
                    rare disease called pulmonary arterial hypertension which affects more women than men</a><sup>, among other inconsistencies.(3)</sup>
                <br /><br />
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/004.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Viagra</span>, 2023, part of the series <span class="fstyle-label">Checked Headlines.</span><br />Photograph by
                    Estúdio em Obra.
                </div>
                <div class="artwork | margin-top-500">
                    Another artwork from this first moment is the installation <span class="fstyle-label">Inumeráveis</span>,
                     composed of a dot matrix printer that prints, at a constant pace,
                     at least 12,000 life stories of Covid-19 victims in Brazil,
                     gathered previously by the <span class="fstyle-label">Inumeráveis Memorial</span>, a digital platform
                     which has hundreds of volunteers since 2020. 
                    <br /><br />
                    You can read all the stories <a href="https://inumeraveis.com.br/">here.</a>
                </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/005.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis</span>, 2023. The installation is composed of a dot matrix printer <br />and 12 thousand sheets of continuous paper. Photograph by
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        Each new story that is added to the Inumeráveis platform is
                         also printed by the machine. Using objects
                         that refer to bureaucratic and administrative processes,
                         here used acidly as symbols of governmental instances
                         which were theoretically responsible for protecting the population,
                         the work creates fragile impressions that physically safeguard the memory
                         of the Covid-19 victims. 
                        <br /><br />
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/006.webp"
                            alt="image"
                            srcset=""
                        />
                    </div> 
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/007.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        Details of <span class="fstyle-label">Inumeráveis</span>, 2023. The installation is composed of a dot matrix printer <br />and 12 thousand sheets of continuous paper. Photograph by
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        These impressions, which resemble everyday reports from a public office, 
                        ready to be cataloged and shelved, however, are so large that archiving 
                        them becomes impossible. As they are linked, page by page, they are indivisible. 
                        It is necessary to understand them as a whole, united, a group of stories interrupted 
                        by the same period. From North to South, East to West, each story is unique, and 
                        holds a piece of wisdom that is not only priceless, but irreplaceable.
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/008.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Inumeráveis</span>, 2023. The installation is composed of a dot matrix printer <br />and 12 thousand sheets of continuous paper. Photograph by
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        <span class="fs-sub-title"> The silence</span>
                        <br /><br />
                        In the context of the Covid-19 pandemic, the clash between beliefs became latent. 
                        That is: the choice of what to believe, what information to take as true, determined individual,
                        family and collective paths, including at the State level.
                       <br /><br />
                       The artwork <span class="fstyle-label">Believer</span> postulates directions for understanding 
                       this scenario by transforming into ceramics one of the greatest icons of the pandemic period, 
                       the personal protective equipment called <span class="fstyle- label">"face shield"</span>, 
                       usually made of transparent plastic.
                       <br /><br />
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/009.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                </div>
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/naopodemos/010.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Believer</span>, 2023. Ceramic sculpture, produced by Felipe Corcione. <br /> Photograph by Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        By transforming it into ceramics, one of the materials through which we can learn 
                        details of civilizations that existed thousands of years ago, the artist seeks to 
                        solidify the era of the pandemic. With that, on the one hand, he immortalizes the 
                        health workers who used the accessory every day on the front line of the fight against 
                        the disease, and whose practice was based on scientific methods.                        
                        <br /><br />
                        On the other hand, the transformation into ceramics makes it impossible for the 
                        instrument to fulfill its original function, and is now a physical obstacle to vision. 
                        Like radical blinkers, the object questions the way in which faith is built within each person. 
                        It questions, more specifically, the senses we use to elaborate our conceptions about the world 
                        and about the truth.                    
                    </div>   
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/011.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                    Details of <span class="fstyle-label">Believer</span>, 2023. Ceramic sculpture, produced by Felipe Corcione. <br /> Photograph by Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        <span class="fs-sub-title">The music</span>
                        <br /><br />
                        In <span class="fstyle-label">The Music</span>, Pavoni presents two works that are related
                         with the final phase of the grieving process: <span class="fstyle-label">
                         Orbital Temple</span> and <span class="fstyle-label">First Sense</span>. 
                        <br /><br />
                        <span class="fstyle-label">Templo Orbital</span> is the first
                         orbital artistic satellite of the Global South. Its mission is to question symbolic colonization
                         of heaven as paradise; the origin of the rules that open or close your portals; and the
                         influence these beliefs have on the decisions we make every day. 
                        <br /><br />  
                    </div> 
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/012.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Orbital Temple</span>. Installation with satellite and golden sculpture.<br />Photograph by
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        Its starting point is acceptance, and it takes heaven as the ultimate place of acceptance. 
                        Most cultures and religions that conform to some idea of heaven and hell establish precise 
                        guidelines about who belongs to which destination in the afterlife. These guidelines are often 
                        strict and exclusionary. The Orbital Temple mission questions these ideas. What if we could 
                        imagine an alternate paradise in which all sentient beings could have a place? Through the website, 
                        anyone can send the name of the person they want to send to heaven, at no cost. Once the satellite 
                        is in orbit and the next alignment between it and the antenna takes place, the names will be 
                        transmitted to the device in the sky. The satellite will store it in its memory and respond with a 
                        message confirming that it is indeed registered in the temple.                        
                        <br /><br />
                    Know more about the work <a href="https://edsonpavoni.art/en/orbital-temple/">here.</a>
                    </div>
                    <div class="work-image | margin-top-400">
                        <img
                            src="/assets/pages/naopodemos/013.webp"
                            alt="image"
                            srcset=""
                        />
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Orbital Temple</span>. Installation with satellite and golden sculpture.<br />Photograph by
                        Estúdio Em Obra.
                    </div>
                    <div class="artwork | margin-top-500">
                        The artwork <span class="fstyle-label">First Sense</span>,
                         which has been developed since 2015, gained new meanings
                         in the midst of the pandemic. That is when touch, as a basic need, 
                         became increasingly evident due to the
                         its absence. During this period, touch became
                         a threat. The act of touching meant something dangerous,
                         risky, something to be feared and avoided. In this
                         increasingly acute touching crisis, its
                         consequences are yet to be estimated. That
                         extreme reduction in our ability to touch
                         others highlighted the fact that all people,
                         no matter their age, need to be touched in order to thrive.
                         The photographic series <span class="fstyle-label">First Sense</span> comes to the
                         encounter of the music by representing human responses to this once so fearsome touch. 
                        </div>
                        <div class="work-image | margin-top-400">
                            <img
                                src="/assets/pages/naopodemos/014.webp"
                                alt="image"
                                srcset=""
                            />
                        </div>
                        <div class="work-image | margin-top-400">
                            <img
                                src="/assets/pages/naopodemos/015.webp"
                                alt="image"
                                srcset=""
                            />
                        </div>
                        <div class="fs-caption text-caption padding-block-caption">
                            <span class="fstyle-label">Cabo Verde Witch</span>, 2019, and <span class="fstyle-label">The Queen</span>, 2023, part of the series <span class="fstyle-label">First Sense</span>.<br />Photograph by
                            Estúdio Em Obra.
                            </div>
                        <div class="artwork | margin-top-500">
                            Seeking to investigate the quality of the connections that arise from this act,
                             Pavoni photographically records the act of touching people for the first time,
                             some which were unknown and others that were already familiar to him. 
                             In this movement, Pavoni seeks to
                             understand the spirit of touch, our most basic communication tool.
                             Capable of conveying emotions faster than words, even the most sublte touch
                             can have profound effects on how we feel, triggering a range of emotions
                             so complex and broad that it manages to define, little by little, who we are.
                            <br /><br />
                            Know more about the series <a href="https://edsonpavoni.art/en/first-sense/">here.</a>
                            </div>
                            <div class="work-image | margin-top-400">
                                <img
                                    src="/assets/pages/naopodemos/016.webp"
                                    alt="image"
                                    srcset=""
                                />
                            </div>
                            <div class="fs-caption text-caption padding-block-caption">
                                <span class="fstyle-label">The music</span>, a part of the exhibition 
                                <span class="fstyle-label"> What we cannot forget</span>, 2023.
                                <br />Photograph by Estúdio Em Obra.
                            </div>
                            <span class="fs-sub-title">The performance</span>
                            <div class="artwork | margin-top-300">
                                Those who found themselves at Casa Cósmica, in São Paulo, when the clocks ticked
                                five hours and fifty-five minutes, on June 17, 2023,
                                could participate in the performance <span class="fstyle-label">What we cannot forget</span>, result
                                of a collaborative process between Isabella Nardini and Edson Pavoni.
                                Among the other works in the exhibition of the same name, which explored
                                the collective trauma of the Covid-19 pandemic in Brazil, there was a
                                simplicity in the auxiliary elements — the performance relied on a
                                hourglass, suspended from the ceiling, two chairs facing each other,
                                and small red ribbons, delicate as if they were going to give the final touch
                                to a nice gift.
                            <div class="work-image | margin-top-400">
                                <img
                                    src="/assets/pages/naopodemos/017.webp"
                                    alt="image"
                                    srcset=""
                                />
                            </div>
                            <div class="work-image | margin-top-400">
                                <img
                                    src="/assets/pages/naopodemos/000001.webp"
                                    alt="image"
                                    srcset=""
                                />
                            </div>
                            <div class="fs-caption text-caption padding-block-caption">
                                Photographs of the performance <span class="fstyle-label">What we cannot forget</span>, 2023. By Isabella Nardini e Edson Pavoni. 
                                <br />Images by Estúdio Em Obra.
                            </div>
                            <div class="artwork | margin-top-500">
                                Nardini and Pavoni, in this performance, elaborate an invitation so
                                 that other participants can exercise their memory not only
                                 as a collective action, but as a shared responsibility.
                                 The simplicity of the question they were invited to answer, “what
                                 can we not forget?”, also carried with it the depth of a
                                 questioning that seems to be at the most fundamental basis of any
                                 decision. Answers pointed
                                 to the need to reflect on memory policiesthat permeate our 
                                 relationship with the past, the present and
                                 the future. After Nardini and Pavoni answered the question, each of them made a
                                 loop with the ribbon on a finger of the other. And then they passed two more
                                 ribbons so that new bodies would occupy that space and follow
                                 interweaving.
                                <div class="work-image | margin-top-400">
                                    <img
                                        src="/assets/pages/naopodemos/00211.webp"
                                        alt="image"
                                        srcset=""
                                    />
                                </div>
                                <div class="fs-caption text-caption padding-block-caption">
                                    Isabella Nardini during the performance <span class="fstyle-label">What we cannot forget</span>, 2023.  
                                <br />Photograph by Estúdio Em Obra.
                                </div>
                                <div class="artwork | margin-top-500">
                                    By encouraging participants to take
                                     the seats in the middle of the art show, as the hourglass turned,
                                     and share what was essential for them to remember,
                                     the performance acted in an almost metalinguistic way
                                     by demanding, itself, that the act of remembering be
                                     exercised. Thus, it took the audience's bodies as
                                     protagonists of this act and, in this context, the immediate connection that arose, between two
                                     previously unknown to each other, was
                                     evident. Strangers who were willing to find a common ground.
                                    <div class="work-image | margin-top-400">
                                        <img
                                            src="/assets/pages/naopodemos/0031.webp"
                                            alt="image"
                                            srcset=""
                                        />
                                    </div>
                                    <div class="work-image | margin-top-400">
                                        <img
                                            src="/assets/pages/naopodemos/0032.webp"
                                            alt="image"
                                            srcset=""
                                        />
                                    </div>
                                    <div class="fs-caption text-caption padding-block-caption">
                                        Photographs of the performance <span class="fstyle-label">What we cannot forget</span>, 2023. By Isabella Nardini e Edson Pavoni. 
                                <br />Images by Estúdio Em Obra.
                                    </div>
                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">Curator</span><br>
                    Carollina Lauriano
                    <br /><br />

                    <span class="fs-credits-bold">Performance</span><br>
                    Isabella Nardini & Edson Pavoni
                    <br /><br />

                    <span class="fs-credits-bold">Guest Speaker</span><br>
                    Ana Claudia Quintana
                    <br /><br />
                    
                    <span class="fs-credits-bold">Set up</span><br>
                    Gabriela Veiga & Junior de Gois
                    <br /><br />

                    <span class="fs-credits-bold">Production</span><br>
                    Clara Marques & Gabriela Veiga
                    <br /><br />

                    <span class="fs-credits-bold">Texts & Graphic Design</span><br>
                   Clara Marques
                    <br /><br />
                    
                    <span class="fs-credits-bold">Photography & Video</span><br>
                    Estúdio Em Obra
                    <br /><br />

                    <span class="fs-credits-bold">Special thanks to</span><br>
                    Casa Cósmica, Felipe Corcione, Anelise Valls, Marcello Dantas & Matias Campos Abad.                    <br /><br />
                    
                    <span class="fs-credits-bold">Orbital Temple Team</span>
                    Pedro Kaled, João Pedro Polito, Victor Baptista, João Victor Alves, André Biagioni, VK, Jonathan Querubina, Guilherme Bullejos, Eduardo Dias, RiseNy&Partners, Roberta Savian Rosa, Clara Marques, Daphne Alves, IdeaSpace & Pearmill.

                    <br /><br /><br /><br />
                </div>
                
            </div>
        </section>
    </main>
</Layout>
