---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="The White Mirror - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        The White Mirror
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    installation / 2017
                </div>

                <div class="artwork | margin-top-500">
                    The White Mirror is a 22 meter long interactive digital mural. It reflects its visitors through creature-like images that expand when they touch each other.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/qibzX6fGoFc?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">The White Mirror</span> video introduction,
                        1 min.
                    </div>
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">What should create the future? 
                    <br>Diversity.</span>
                    <br /><br />
                    That was the starting point for building 
                    <span class="fstyle-label">The White Mirror</span>.
                    Commissioned by Nubank to be a permanent installation at their headquarters in São Paulo, the work aimed to celebrate the power of difference.
                    <br /><br />
                    The panel, with 22 meters in length and almost 4 meters in height, may seem as a plain white wall from afar, especially if there is no one passing by it. Once it detects, however, the presence of a human being, the panel reveals itself as a digital and dynamic installation. 
                </div>

                <div class="margin-top-300">
                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/home/08WhiteMirror.webp"
                        class="video-scale margin-top-200"
                    >
                        <source
                            src="/assets/home/08WhiteMirror.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/home/08WhiteMirror.webm"
                            type="video/webm"
                        />
                    </video>
                 </div>

                 <div class="work-image | margin-top-300">
                    <img
                        src="/assets/pages/white-mirror/02.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">The White Mirror</span> panel
                    gets activated when visitors pass by it.<br />Images by
                    Rafael Socrates.
                </div>

                <div class="artwork | margin-top-500">
                    Each person that passes by the work is surprised by the algorithmic generated creature-like images that follow them as they walk.
                    <br /><br />
                    Different shapes, colors and behaviors arise, according to the person's movements, height and speed. 
                    <br /><br />
                    When two people touch each other, each of their "creatures" expands and celebrates the connection with an explosion of color and movement, as if the entire space had been designed for that single moment.
                </div>
                
                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/white-mirror/03.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="work-image | margin-top-200">
                    <img
                        src="/assets/pages/white-mirror/04.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">The White Mirror</span> panel
                    gets activated when visitors pass by it.<br />Images by
                    Rafael Socrates.
                </div>

                <div class="fs-eye | margin-top-400">
                    <span class="fstyle-label">The White Mirror</span> discusses the transformative potential of recognizing and overlapping our differences as individuals to collectively create a future that breaks with prejudicial and biased traditions that have been long established.
                </div>

                <div class="work-image | margin-top-400">
                    <img
                        src="/assets/pages/white-mirror/05.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">The White Mirror</span> panel
                    gets activated when visitors pass by it.<br />Images by
                    Rafael Socrates.
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">Commissioned by</span><br>
                    Nubank
                    <br /><br />

                    <span class="fs-credits-bold">Production Strategy & Design Leader</span><br>
                    Carolina Anselmo
                    <br /><br />

                    <span class="fs-credits-bold">Designers</span><br>
                    Lucas F. Artacho, Junior de Góis & Guilherme Bullejos
                    <br /><br />
                    
                    <span class="fs-credits-bold">Electronics</span><br>
                    André Biagioni & Dimitre Lima
                    <br /><br />

                    <span class="fs-credits-bold">Software, Content & Motion</span><br>
                    Dimitre Lima
                    <br /><br />

                    <span class="fs-credits-bold">Creative Coding</span><br>
                    Henry Perigo
                    <br /><br />
                    
                    <span class="fs-credits-bold">Assembly Leader</span><br>
                    Erick Maniusis
                    <br /><br />

                    <span class="fs-credits-bold">Photography & Video</span><br>
                    Rafael Sócrates
                    <br /><br />
                    
                    <span class="fs-credits-bold">Special thanks to</span>
                    Pagu Senna

                    <br /><br /><br /><br />
                </div>
                
            </div>
        </section>
    </main>
</Layout>
