---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="A Petal for Three - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        A Petal for Three
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    site-specific installation / 2018
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">A Petal for Three</span> 
                    is an interactive installation composed of hundreds of hanging mirrors that get activated when three visitors stop in each of the installation's corners. It addresses an intense state of connection, one that leads to the fragmentation of its full structure.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/q5EyHP6vuBA?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> A Petal for Three</span> video introduction,
                    1 min.
                </div>

                <div class="margin-top-500">
                    Hanging from the ceiling are a hundred triangular mirrors which form a 12 meter wide structure. Beneath it, a space for connection and interaction is created. 
                    <br><br>
                    Through presence sensors, the triangles move according to the public's explorations of that space. When three people stand by the structure's ends, their presence is recognized. 
                    <br><br>
                    This activates an invisible system of motors, cables and pulleys that allow the mirrors on the ceiling to perform choreographed movements in response to the visitors' connection.
                </div>

                <div class="margin-top-300">

                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/home/10APetalforThree.webp"
                        class="video-scale margin-top-200"
                    >
                        <source
                            src="/assets/home/10APetalforThree.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/home/10APetalforThree.webm"
                            type="video/webm"
                        />
                    </video>

                    <img class="margin-top-200"
                        src="/assets/pages/a-petal/02.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        Visitors interact with the kinetic installation <span class="fstyle-label">A Petal for Three</span>.
                        <br />Photos by Rafael Socrates.
                    </div>
                </div>

                <div class="fs-eye | margin-top-500">
                    The amount of connections that one can make during one's life will only increase. We will never have fewer connections, our relationships will never become less complex. 
                    - Edson Pavoni
                </div>

                <div class="margin-top-500">
                    That complexity, the same present in the structure of the installation, is the driving force of meaningful and intense connections. By looking up at the mirror fragments suspended on the ceiling, each person's image is seen in constant motion but, at the same time, integrating one single, and much larger, picture.
                </div>

                <img class="margin-top-400"
                        src="/assets/pages/a-petal/04.webp"
                        alt="image"
                        srcset=""
                    />

                <img class="margin-top-200"
                    src="/assets/pages/a-petal/03.webp"
                    alt="image"
                    srcset=""
                />

                <div class="fs-caption text-caption padding-block-caption">
                    Visitors interact with the kinetic installation <span class="fstyle-label">A Petal for Three</span>.
                    <br />Photos by Rafael Socrates.
                </div>



                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">In collaboration with</span><br>
                    Lina Lopes & Muti Randolph
                    <br /><br />

                    <span class="fs-credits-bold">Commissioner</span><br>
                    Youtube
                    <br /><br />

                    <span class="fs-credits-bold">Production</span><br>
                    Spaces&Creatures - Gui Bullejos, Diego Spinola, Gabriela Veiga, Junior de Gois, Lucas Falcão Artacho, Rafael Neponuceno, Pedro Setubal, Pedro Febrônio, Mari Nagem, Mariana Lacerda & Jonathan Querubina
                    <br /><br />
                    
                    <span class="fs-credits-bold">Scenography</span><br>
                    Casa Caucaia - Eduardo Marcondes, Sarah Beglionini & Carolina Brandão
                    <br /><br />

                    <span class="fs-credits-bold">Hands Agency</span><br>
                    Marcelo Lenhard, Fernanda Tchernobilsky, Rafael Najm, André Patrício, Fernanda Peltier & Thays Barbosa
                    <br /><br />

                    <span class="fs-credits-bold">Prototyping space</span><br>
                    Lilo.Zone
                    <br /><br />
                    
                    <span class="fs-credits-bold">Photography and video</span><br>
                    Rafael Socrates

                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
