---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="First Sense - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        First Sense
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    photography series/ 2015-
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">First Sense</span> is an ongoing photographic series in which the artist researches the human responses to touch and the quality of the connections that arise from this act.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/bu5suNFf3rw?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">First Sense</span> video introduction,
                    1 min.
                </div>

                <div class="fs-quote margin-top-500">
                    "As members of human society, perhaps the most difficult task we face daily is that of touching  one another — whether the touch is physical, moral, emotional, or imaginary. Contact is crisis. As the anthropologists say, "Every  touch is a modified  blow." The difficulty presented by any instance of contact is that of violating a fixed boundary, transgressing a closed category where one does not belong."
                    <br />
                    -Anne Carson, Dirt and Desire: The Phenomenology of Female Pollution in Antiquity (1999)
                </div>

                <div class="margin-top-500">
                    <img
                        src="/assets/pages/first-sense/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">First Sense</span>, a photographic series by Edson Pavoni.
                    </div>
                </div>

                <div class="margin-top-500">
                    The "contact crisis" described by Anne Carlson only gained intensity as the coronavirus pandemic spread across the globe. 
                    <br><br />
                    Touch as a basic need became ever more evident because of its absence. Such an extreme reduction in our ability to touch others highlighted the fact that all people, no matter the age, need to be touched in order to thrive.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/02.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/03.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">First Sense</span>, a photographic series by Edson Pavoni.
                    </div>
                </div>

                <div class="margin-top-400">
                    Able to convey emotions faster than words, even the most subtle touch can have profound effects on how we feel, provoking a range of emotions so complex and wide it manages to define, little by little, who we are.
                    <br><br />
                    It is precisely that power of touch that has edged it out of our lives. An increasing hyper vigilance towards social touching has transformed it into something we must be wary and hesitant about.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/04.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/05.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/06.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">First Sense</span>, a photographic series by Edson Pavoni.
                    </div>
                </div>


                <div class="margin-top-400">
                    <span class="fstyle-label">
                        "Somewhere in adulthood what was instinctive to us as children has come to feel awkward, out of bounds"
                    </span>
                        , writes 
                            <a href="https://www.theguardian.com/society/2018/mar/07/crisis-touch-hugging-mental-health-strokes-cuddles"> 
                                The Guardian's Paula Cocozza
                            </a>. 
                        <span class="fstyle-label">
                            She asks: "When did you last touch someone outside your family or intimate relationship?"
                        </span>
                    <br><br />
                    Loneliness, a common symptom of touch deprivation, is radically changing our society. In such a touch-averse world, it is yet unclear what we will lose if we keep moving away from touching and physically connecting with one another.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/07.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/08.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/09.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">First Sense</span>, a photographic series by Edson Pavoni.
                    </div>
                </div>


                <div class="margin-top-400">
                    Breaking through this hesitation is what led Pavoni to develop the First Sense series. The project started as the artist was walking in the LGBTQIIA+ Parade in São Paulo. The feeling of loneliness, even whilst walking among millions of people, vanished as he looked at the eyes of a complete stranger.
                    <br><br />
                    When asked to take his portrait, the artist was moved by a sudden desire to touch the man's face. With that gesture, Pavoni aimed to capture the potential that physical touch has in affecting us. Moreover, it aimed to push us towards remembering its social power.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/first-sense/10.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/11.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/first-sense/12.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">First Sense</span>, a photographic series by Edson Pavoni.
                    </div>
                </div>

                <div class="margin-top-400">
                    The portraits that are a part of this series were made by registering the artist's first touch on strangers' and friends' faces.
                    <br><br />
                    As a part of his investigation on connection, it is a tale of slippage between worlds, imagining a different reality with porous boundaries and rules.
                </div>

                <div class="fs-eye | margin-top-400">
                    Touch is the first sense we develop in our mother's womb, and I feel it is our most primary connection tool.
                    - Edson Pavoni
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">Special thanks to</span>
                    all the people that allowed me to expand their boundaries and photograph them.
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>