---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Invisible Blue - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & László Barabási</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Invisible Blue
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    installation/ 2020
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">Invisible Blue</span> Invisible Blue is a light sculpture about the unseen connections of the art world, made in collaboration with pioneer network scientist Albert-László Barabási.
                    <br><br>
                    The 24-meter tall installation was a part of the 2020-2021 exhibition BarabásiLab: Hidden Patterns, at the Ludwig Museum of Contemporary Art in Budapest. Curated by József Készman, the show presented the last 25 years of research done by the BarabásiLab. 
                    The NFTs that resulted from this research are 
                    <a href="https://foundation.app/@edsonpavoni"> available on Foundation.</a>
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/Q2KK2PR8M0Q?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> Invisible Blue</span> video introduction,
                    2:45 min.
                </div>

                <div class="fs-quote margin-top-500">
                    "By spending time with László I learned a simple and profound lesson: If you want to understand something, it's better to study the connection around that thing, than the thing itself."
                    - Edson Pavoni
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">The true nature of connections</span>
                </div>
                <div class="margin-top-300">
                    <span class="fstyle-label"> Invisible Blue</span> was born at the intersection of art and science. It lights the connections between the top 100 living artists in Hungary - László's home country. Each node represents an artist. A light connection is made when two artists have frequently exhibited their work together.
                </div>
                    

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/invisible-blue/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Invisible Blue</span> at the Ludwig Museum of Contemporary Art.
                        <br />Photographed by Bálint Jaska.
                    </div>
                </div>


                <div class="margin-top-300">
                    It took more than six months of scientific and technological research and almost a hundred hours to build the sculpture at the Ludwig Museum of Contemporary Art in Budapest.
                </div>

                <div class="fs-eye | margin-top-400">
                    ”Walking around this 24-meter tall sculpture is a way to experience with your body how connections are our real structure.” - Edson Pavoni
                </div>


                <div class="margin-top-500">
                    <img class="margin-top-200"
                        src="/assets/pages/invisible-blue/02.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/invisible-blue/03.webp"
                        alt="image"
                        srcset=""
                    />
                    <img class="margin-top-200"
                        src="/assets/pages/invisible-blue/04.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Invisible Blue</span> at the Ludwig Museum of Contemporary Art.
                        <br />Photographed by Bálint Jaska.
                    </div>
                </div>


                <div class="margin-top-500">
                    <span class="fs-sub-title">NFTs</span>
                </div>
                <div class="margin-top-300">
                    <span class="fstyle-label"> Invisible Blue</span> has a limited collection of 101 artworks 
                    <a href="https://foundation.app/@edsonpavoni"> that you can own as NFTs.</a>
                    <br><br>
                    Collectors have the option of receiving the physical node of the sculpture, framed, signed, and shipped anywhere in the world.
                    <br><br>
                    It's a new way to connect with our work and foster our continuous research on Art and Network Science. All proceeds will be reinvested on our upcoming art installations and the mapping of new art networks by the BarabásiLab.
                </div>

                <div class="margin-top-300">
                    <div class="sqr-image-gallery">
                        <video autoplay muted playsinline loop
                        poster="/assets/pages/invisible-blue/nft_01.png"
                        class="sqr-image-size">
                            <source
                                src="/assets/pages/invisible-blue/nft_001.mp4" type="video/mp4"/>
                            <source
                                src="/assets/pages/invisible-blue/nft_001.webm" type="video/webm"/>
                        </video>
                    </div>
                    <div class="sqr-image-gallery">
                        <video autoplay muted playsinline loop
                        poster="/assets/pages/invisible-blue/nft_02.png"
                        class="sqr-image-size">
                            <source
                                src="/assets/pages/invisible-blue/nft_002.mp4" type="video/mp4"/>
                            <source
                                src="/assets/pages/invisible-blue/nft_002.webm" type="video/webm"/>
                        </video>
                    </div>
                </div>

                <div>
                    <div class="sqr-image-gallery">
                        <video autoplay muted playsinline loop
                        poster="/assets/pages/invisible-blue/nft_03.png"
                        class="sqr-image-size">
                            <source
                                src="/assets/pages/invisible-blue/nft_003.mp4" type="video/mp4"/>
                            <source
                                src="/assets/pages/invisible-blue/nft_003.webm" type="video/webm"/>
                        </video>
                    </div>
                    <div class="sqr-image-gallery">
                        <video autoplay muted playsinline loop
                        poster="/assets/pages/invisible-blue/nft_04.png"
                        class="sqr-image-size">
                            <source
                                src="/assets/pages/invisible-blue/nft_004.mp4" type="video/mp4"/>
                            <source
                                src="/assets/pages/invisible-blue/nft_004.webm" type="video/webm"/>
                        </video>
                    </div>
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Invisible Blue</span> NFTs. Courtesy of the artist.
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">Revealing the links is science revealing the culture that binds us together.</span>
                    <br><br>
                    The artists spent about six months trying to map all the exhibitions that happened in the last 30 years in Hungary. They used that data to reconstruct the career of 2.300 Hungarian artists and find the hidden connections between them.
                    <br><br>
                    These hidden connections are shown by co-exhibition frequency. The more often two artists co-exhibit the more the spirit of their work is alike, at least in the eyes of the community.
                    <br><br>
                    <span class="fstyle-label"> Invisible Blue</span> has the top hundred artists that are still alive and producing work within Hungary. The choice to focus only on active artists was seen as a gesture towards the community.
                </div>
                

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/invisible-blue/07.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Invisible Blue</span> at the Ludwig Museum of Contemporary Art.
                        <br />Photographed by Bálint Jaska.
                    </div>
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">Artists featured</span>
                    <br><br>
                        Asztalos Zsolt<br>
                        Bak Imre<br>
                        Batyko Robert<br>
                        Benczur Emese<br>
                        Beothy Balazs<br>
                        Bukta Imre<br>
                        Csakany Istvan<br>
                        Cseke Szilard<br>
                        Csiszer Zsuzsi<br>
                        Csonto Lajos<br>
                        Csorgo Attila<br>
                        Denes Agnes<br>
                        El-Hassan Roza<br>
                        Ember Sari<br>
                        Eperjesi Agnes<br>
                        Erdelyi Gabor<br>
                        Erhardt Miklos<br>
                        Esterhazy Marcell<br>
                        Feher Laszlo<br>
                        Fischer Judit<br>
                        Fodor Daniel Janos<br>
                        Gaal Jozsef<br>
                        Galantai Gyorgy<br>
                        Gayor Tibor<br>
                        Gerber Pal<br>
                        Gerhes Gabor<br>
                        Gyenis Tibor<br>
                        Gyorffy Laszlo<br>
                        Haasz Istvan<br>
                        Horvath Tibor<br>
                        Ilona Keseru Ilona<br>
                        Iski Kocsis Tibor<br>
                        Jovanovics Gyorgy<br>
                        Karolyi Zsigmond<br>
                        Kaszas Tamas<br>
                        Kelemen Karoly<br>
                        Keseru Karoly<br>
                        Keserue Zsolt<br>
                        Kicsiny Balazs<br>
                        Kiraly Andras<br>
                        Kokesch Adam<br>
                        Komoroczky Tamas<br>
                        Koronczi Endre<br>
                        Kudasz Gabor Arion<br>
                        Lakner Antal<br>
                        Lakner Laszlo<br>
                        Lovas Ilona<br>
                        Matrai Erik<br>
                        Maurer Dora<br>
                        Megyik Janos<br>
                        Nadler Istvan<br>
                        Nagy Kriszta<br>
                        Nemes Csaba<br>
                        Nemeth Hajnal<br>
                        Nemeth Ilona<br>
                        Pinczehelyi Sandor<br>
                        Puklus Peter<br>
                        Rosko Gabor<br>
                        Sugar Janos<br>
                        Szabo Dezso<br>
                        Szabo Eva Eszter<br>
                        Szegedy-Maszak Zoltan<br>
                        Szij Kamilla<br>
                        Szilagyi Lenke<br>
                        Szirtes Janos<br>
                        Szotyory Laszlo<br>
                        Szucs Attila<br>
                        Tarr Hajnalka<br>
                        Tibor Zsolt<br>
                        Tot Endre<br>
                        Ujhazi Peter<br>
                        Varnai Gyula<br>
                        Vecsei Julia<br>
                        feLugossy Laszlo<br>
                        Borocz Andras<br>
                        Gal Andras<br>
                        Hamos Gusztav<br>
                        Haraszty Istvan<br>
                        Juraj Bartusz Gyorgy<br>
                        Koncz Andras<br>
                        Konkoly Gyula<br>
                        Konok Tamas<br>
                        Ladik Katalin<br>
                        Mengyan Andras<br>
                        Osz Gabor<br>
                        Perneczky Geza<br>
                        Racmolnar Sandor<br>
                        Reigl Judit<br>
                        Saxon Szasz Janos<br>
                        St. Auby Tamas<br>
                        Szepfalvi Agnes<br>
                        Szurcsik Jozsef<br>
                        Vera Molnar<br>
                        franyo aatoth<br>
                        Rita Ackermann<br>
                        Veto Orsolya Lia<br>
                        Elekes Karoly<br>
                        Herman Levente<br>
                        Koroknai Zsolt<br>
                        Pal Csaba<br>
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni and Albert-László Barabási, artists
                    <br /><br />

                    <span class="fs-credits-bold">Curator</span><br>
                    József Készman
                    <br /><br />

                    <span class="fs-credits-bold">Commissioned by</span><br>
                    Ludwig Museum Budapest - Borbála Kálmán, Béla Bodor, István Bódi
                    <br /><br />

                    <span class="fs-credits-bold">Research and network design</span><br>
                    BarabásiLab: Albert-László Barabási, Csaba Both & Alice Grishchenko
                    <br /><br />

                    <span class="fs-credits-bold">Art production and installation</span><br>
                    Spaces&Creatures - Guilherme Bullejos, Gabriela Veiga & Edson Pavoni
                    <br /><br />
                    
                    <span class="fs-credits-bold">Paper Specialist</span><br>
                    Gabriela Castro
                    <br /><br />

                    <span class="fs-credits-bold">Prototyping space</span><br>
                    FabLab Budapest
                    <br /><br />
                    
                    <span class="fs-credits-bold">3D Printing</span><br>
                    Eduardo Dias
                    <br /><br />

                    <span class="fs-credits-bold">Video</span><br>
                    Kristóf Kovács
                    <br /><br />
                    
                    <span class="fs-credits-bold">Special thanks to</span>
                    Antônio Curti, Felipe Sztutman, Eduardo Dias, Mentor Neto, Marcos Felipe, Mungunzá, David Pap, Barbara Soalheiro, Marcello Dantas and to the volunteers Gábor Hortobágyi, Garry Roszoly, Kata Hegyes, Melinda Sipos & Sándor Fovenyi
                    <br /><br />

                    <span class="fs-credits-bold">NFT Team</span>
                    <br /><br />

                    <span class="fs-credits-bold">Binaural sound design in 432Hz</span><br>
                    Gabriel Martini
                    <br /><br />

                    <span class="fs-credits-bold">Light and 3D Animation</span><br> 
                    Thais Mancini
                    <br /><br />
                    
                    <span class="fs-credits-bold">Special thanks to</span> Paulo Perez

                    <br /><br /><br /><br />
                </div>

            </div>
        </section>
    </main>
</Layout>
