---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Orbital Temple - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600">Edson Pavoni</span>
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Orbital<br />Temple
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    site specific / 2022
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">Who shall ascend to heaven?</span><br
                    /><br />
                    <span class="fstyle-label"> Orbital Temple</span> is the first artistic orbital satellite from the Global South.
                    Its mission is to question the symbolic colonization of heaven
                    as paradise; the origin of the rules that open or close its gateways;
                    and the influence those beliefs have on the decisions we make every day.
                </div>
                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/xf-Fj_YaRik?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> Orbital Temple</span> video introduction, 1 min.
                </div>
                <div class="artwork | margin-top-200">
                    The artwork has three co-dependent elements: a satellite
                    especially designed to store billions of names; a public
                    space sculpture on Earth that is capable of exchanging
                    information with the satellite; and a website through which
                    participants can send the name of someone that has passed
                    away — to heaven.
                    <br /><br />
                    As a multidisciplinary endeavor, <span class="fstyle-label"> Orbital Temple</span> can be considered
                    a site-specific installation in outer space, a public space sculpture
                    and also an ArtSat project.
                    <br /><br />
                    In 2022 the satellite was exhibited at the 13th Mercosul Biennial
                    in Porto Alegre, at the IX International Biennale of Contemporary
                    Art in Tashkent, and at the NTU Global Digital Art Prize exhibition
                    in Singapore.
                    <br /><br />

                    <video
                        autoplay
                        muted
                        playsinline
                        loop
                        poster="/assets/pages/orbital-temple/01.jpg"
                        class="video-scale margin-top-400"
                    >
                        <source
                            src="/assets/pages/orbital-temple/001.mp4"
                            type="video/mp4"
                        />
                        <source
                            src="/assets/pages/orbital-temple/001.webm"
                            type="video/webm"
                        />
                    </video>

                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Orbital Temple</span> in space.<br
                        />3D rendering by RiseNY&Partners.
                    </div>
                </div>
                <div class="margin-top-400">
                    <span class="fs-sub-title">How does it work?</span>
                    <br /><br />
                    Through the 
                    <a href="https://orbitaltemple.art"> website</a>, anyone can submit the name of the person
                    they wish to send to heaven, at no cost.
                    <br /><br />
                    Once the satellite is in orbit and then the next alignment between
                    it and the antenna occurs, the names will be transmitted.
                    <br /><br />
                    The satellite will store it in its memory and it will respond
                    with a message confirming that they are registered in the temple.
                    Whoever submitted the name will receive an email with a message
                    such as the following:
                    <br /><br />
                    <span class="fstyle-label">
                        Today, September 28, 2022, at 11:56pm <br />the name
                        Kalpana Chawla ascended to heaven and there it remains.</span
                    >
                </div>

                <div class="fs-eye | margin-top-400">
                    And why? <br /> For two reasons.<br />One symbolic — another
                    political.
                </div>

                <img
                    class="margin-top-300"
                    src="/assets/pages/orbital-temple/02.jpg"
                    alt="image"
                    srcset=""
                />
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Orbital Temple</span> in space.<br
                    />3D rendering by RiseNY&Partners.
                </div>

                <div class="margin-top-400">
                    How does the idea of heaven interfere with our perceptions
                    about sex, abortion, euthanasia, State, family, mental
                    health, and human rights?
                    <br /><br />
                    What if technology made it possible for us to experiment with
                    an inclusive imaginary of heaven?
                    <br /><br />
                    Most cultures and religions that abide by some idea of heaven
                    and hell set precise guidelines about who belongs to each afterlife
                    destiny. These guidelines can often be strict and exclusionary.
                    <br /><br />
                    The <span class="fstyle-label"> Orbital Temple</span> mission questions those ideas. What if we
                    could imagine an alternative paradise in which all sentient beings
                    could have a place?
                    <br /><br />
                    Participants of this project are given the chance — and the power
                    — to use technology as a means to bring those that may not conventionally
                    be set to rest in a "higher place" to inhabit a temple in Earth's
                    orbit.
                </div>

                <img
                    class="margin-top-300"
                    src="/assets/pages/orbital-temple/03.jpg"
                    alt="image"
                    srcset=""
                />
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Orbital Temple</span> installation
                    at the Mercosul Biennial,
                    <br />in Porto Alegre, Brazil. Photo by Clara Marques.
                </div>

                <div class="margin-top-400">
                    At the same time, <span class="fstyle-label"> Orbital Temple</span> is also an artistic attempt
                    to bridge a long established unequal access to space
                    technology. Space has been notoriously restricted to
                    industrialized countries, which not only control but profit
                    from monopolizing its access. By holding valuable and
                    privileged information from developing countries,
                    industrialized nations gain political, economic and military
                    advantages.
                    <br /><br />
                    As the first orbital artistic satellite from the Global South,
                    <span class="fstyle-label"> Orbital Temple</span> hopes to further discussions on 
                    <a href="https://scholarworks.bgsu.edu/irj/vol5/iss1/2/"> how this access gap relates to the perpetuation of poverty</a>
                    <sup>(1)</sup>
                    in developing countries and to the global climate crisis, challenging oppressive
                    space regimes established and reproduced by the developed world.
                </div>
                <img
                    class="margin-top-300"
                    src="/assets/pages/orbital-temple/04.jpg"
                    alt="image"
                    srcset=""
                />
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Orbital Temple</span> in space.<br
                    />3D rendering by RiseNY&Partners.
                </div>

                <div class="fs-eye | margin-top-400">
                    As a key element of our geopolitical dynamics, outer space
                    has a fundamental role in shaping our 21st century everyday
                    lives.
                </div>

                <div class="margin-top-400">
                    Satellites are used to help us navigate around the globe, be
                    it in our cars, boats or planes, they provide us with
                    essential information about forest fires and other natural
                    phenomena, and they help nations develop more precise
                    agricultural systems through high quality data on the
                    weather.
                    <br /><br />
                    Present at military, economic, political and social levels, space
                    technology, however, can go mostly unnoticed.
                </div>

                <div class="fs-quote margin-top-400">
                    "Understanding and questioning power structures that
                    regulate space exploration, both literally and
                    metaphorically, is crucial for those committed to
                    constructing a more just and sustainable tomorrow. Orbital
                    Temple seeks not only to participate in the symbolic
                    discussion about our collective understanding of life, and
                    life after death, but to expand the debate on how space
                    technologies can be tools for boosting economies, improving
                    people's quality of life and preserving the world that we do
                    have. It is also a reminder that technology will alter not
                    only how we live but also how we die."
                    <br />
                    - Edson Pavoni
                </div>

                <div class="margin-top-400">
                    <span class="fs-sub-title"
                        >Open source technology for future generations from the
                        Global South</span
                    >
                    <br /><br />
                    All technology developed for the <span class="fstyle-label"> Orbital Temple</span> mission will
                    be open source and available online, fostering the advancement
                    of space exploration in the Global South. New missions and projects
                    can use <span class="fstyle-label"> Orbital Temple</span> as a foundation for their own artistic
                    or scientific experiments.
                    <br /><br />
                    A DIY Satellite workshop will accompany the mission. Directed
                    at Global South teens, being offered in Portuguese, Spanish and
                    English, it will be a hands-on opportunity to learn about satellite
                    technology and put it into practice. Anyone above the age of
                    16 will be able to build their own satellite, learning about
                    the history of art in space, fundamental concepts of electronics,
                    mechanics and space science, including how to finance the projects
                    and how to build an antenna to communicate with the satellite
                    in orbit.
                </div>

                <div class="fs-eye | margin-top-400">
                    Want to be a part of this mission? Become our sponsor
                    through a
                    <a
                        href="https://app.thefield.org/profile/Edson-Pavoni---Greg-Hardes/632877"
                    >
                        tax-deductible donation
                    </a>
                    and bring it to life.
                </div>

                <div class="margin-top-600">
                    <span class="fs-sub-title">Sustainability and space debris</span>
                    <br /><br />
                    All carbon emissions will be neutralized, including the launch
                    and fabrication of the satellite.
                    <br /><br />
                    The satellite has a reentry plan of 10 years, leaving no debris
                    in outer space.
                </div>

                <img
                    class="margin-top-300"
                    src="/assets/pages/orbital-temple/05.jpg"
                    alt="image"
                    srcset=""
                />

                <img
                    class="margin-top-200"
                    src="/assets/pages/orbital-temple/06.jpg"
                    alt="image"
                    srcset=""
                />

                <img
                    class="margin-top-200"
                    src="/assets/pages/orbital-temple/07.jpg"
                    alt="image"
                    srcset=""
                />

                <div class="fs-caption text-caption padding-block-caption">
                    Details of the <span class="fstyle-label"
                        >Orbital Temple</span
                    > satellite.
                    <br />Photo by Clara Marques.
                </div>

                <img
                    class="margin-top-300"
                    src="/assets/pages/orbital-temple/08.jpg"
                    alt="image"
                    srcset=""
                />

                <img
                    class="margin-top-200"
                    src="/assets/pages/orbital-temple/09.jpg"
                    alt="image"
                    srcset=""
                />
                <div class="fs-caption text-caption padding-block-caption">
                    Details of the <span class="fstyle-label"
                        >Orbital Temple</span
                    > satellite.
                    <br />3D rendering by RiseNY&Partners.
                </div>

                <div class="exhibithion | margin-top-500">
                    <span class="fs-sub-title">Exhibitions</span>
                    <br /><br />

                    <span class="fw-bold">2022</span><br />
                    <a href="https://www.bienalmercosul.art.br/farolsantander"> 13th Mercosul Biennial</a>
                    <br />
                    Porto Alegre, Brazil
                    <br /><br />
                    <a href="https://www.uzdaily.uz/en/post/76567">
                    IX International Biennale of Contemporary Art
                    </a>
                    <br />Tashkent,
                    Uzbekistan
                    <br /><br />
                    <a href="https://ebook.ntu.edu.sg/ntu-gdap-2022.html">
                    NTU Global Digital Art Prize
                    </a>
                    <br />Singapore, Singapore
                </div>

                <div class="Awards | margin-top-500">
                    <span class="fs-sub-title">Awards</span>
                    <br /><br />
                    <span class="fw-bold">2022</span><br />
                    <a href="https://www.lumenprize.com/2022-futures-award-longlist/orbital-temple">Lumen Prize</a>
                    - Longlist Futures Award<br />
                    <a href="https://ebook.ntu.edu.sg/ntu-gdap-2022.html">NTU Global Digital Art Prize</a>
                    - Finalist
                    <br /><br />
                    <span class="fw-bold">2021</span><br />
                    CubeDesign Prize, promoted by INPE - Winner ArtSat Category
                </div>

                <div class="Further-reading | margin-top-500">
                    <span class="fs-sub-title">Further reading</span>
                    <br /><br />
                    Tyler A. Way. 
                    <a href="https://scholarworks.bgsu.edu/irj/vol5/iss1/2/">
                    Space Gap, Unequal Access to Technology, and the Perpetuation of Poverty.</a>
                    International Research Scape Journal,
                    2018.
                    <br /><br />
                    Global Future Council. 
                    <a href="https://www3.weforum.org/docs/WEF_GFC_Six_ways_space_technologies_2020.pdf">
                    Six ways space technologies benefit life on Earth.</a>
                    Briefing Papers, September 2020.
                    <br /><br />
                    Eduardo Kac. 
                    <a href="https://www.ekac.org/artesatelite.1986.html">
                    The Satellite and the Work of Art in the Telecommunications Age.</a>
                    1986.
                    <br /><br />
                    Maria Popova. 
                    <a href="https://www.themarginalian.org/2021/08/14/analogia-george-dyson/">
                    Trees, Whales, and Our Digital Future: George Dyson on Nature, Human Nature, and the Relationship Between Our Minds and Our Machines.</a>
                    2021.
                    <br /><br />
                    United Nations Conference on Trade and Development. 
                    <a href="https://unctad.org/publication/exploring-space-technologies-sustainable-development">
                    Exploring
                    space technologies for sustainable development.</a>
                    September, 2021.
                </div>

                <div class="Technical-information | fs-credits margin-top-500">
                    <span class="fs-sub-title">Technical information</span>
                    <br /><br />
                    Satellite<br />
                    Dimensions: 50x58x64 mm<br />
                    1P PocketQube<br />
                    Weight: 245 gr<br />
                    Materials: aluminum, gold, fiberglass, and electronic components.<br
                    />
                    Orbit: Altitude 525 ± 25 km; inclination: SSO 97.6 ± 0.1°<br
                    />
                    <br />
                    Antenna/Sculpture<br />
                    Dimensions: 6 m (diameter) e 1.2m (height)<br />
                    Weight: 46 kg<br />
                    Materials: aluminum, epoxy mirrored board, golden aluminum dome
                    suspended through a scaffolding structure.<br />
                    <br />
                    Radio Specs NASA-Catalog: <br />TBD Downlink: 437 MHzCall: <br
                    />TBD Status: SCHEDULE FOR 2023
                </div>

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">Aerospace & Systems Engineering</span><br>
                    Pedro Kaled, João Pedro Polito, Victor Baptista & João Victor Alves
                    <br /><br />

                    <span class="fs-credits-bold">Electronic Engineering</span><br>
                    André Biagioni, João Pedro Polito & VK
                    <br /><br />

                    <span class="fs-credits-bold">Software</span><br>
                    Jonathan Querubina
                    <br /><br />
                    
                    <span class="fs-credits-bold">Design and Architecture</span><br>
                    Guilherme Bullejos
                    <br /><br />

                    <span class="fs-credits-bold">3D Printing</span><br>
                    Solid Concepts, under the leadership of Eduardo Dias
                    <br /><br />

                    <span class="fs-credits-bold">3D Rendering</span><br>
                    Guilherme Bullejos & RiseNy&Partners
                    <br /><br />
                    
                    <span class="fs-credits-bold">Research</span><br>
                    Roberta Savian Rosa & Clara Marques
                    <br /><br />

                    <span class="fs-credits-bold">Exhibition Production, Photography & Content Creation</span><br>
                    Clara Marques
                    <br /><br />
                    
                    <span class="fs-credits-bold">Exhibition's Silk Screening</span><br>
                    Daphne Alves
                    <br /><br />

                    <span class="fs-credits-bold">Educational Project</span><br>
                    IdeaSpace
                    <br /><br />

                    <span class="fs-credits-bold">Sponsors</span><br>
                    Pearmill

                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
