---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Over the Face of New Waters - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Over the Face <br>of New Waters
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    kinetic installation/ 2019
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">Over the Face of New Waters</span> is an installation consisting of six self-watering hanging gardens that move, through a specialized mechanism, according to its plants' needs. When approached by human visitors, the garden places itself at their eye level.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/QI5VHaBMMu4?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Over the Face of New Waters</span> video introduction,
                    1 min.
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">Our connection to the natural world</span>
                    <br><br>
                    Plants are surprising organisms: able to feel and connect to the environment around them, even without brains or central nervous systems, they can perceive light, scent, touch, wind, and even gravity, actively responding to the world in which they grow. 
                    Drawing from innovative research on plant neurobiology, and from a broader understanding on the agency of natural beings, 
                    <span class="fstyle-label">Over the Face of New Waters</span> highlights the complexities and infinite possibilities through which humans can relate to the natural world.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/over-the-face/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Over the Face of New Waters</span>, 2019.
                        <br>Photographed by Ricardo Bassetti.
                    </div>
                </div>

                <div class="margin-top-500">
                    It was the gesture of emerging from water that set the starting point for the work 
                    <span class="fstyle-label">Over the Face of New Waters</span>. 
                    Reflecting upon the importance of water as our common ancestor, as our original environment, 
                    Pavoni aimed to delve into such a fundamental aspect of our existence. If everything that has ever lived has come from the water, and if water is our most elemental source of life, how can we reconnect ourselves with it?
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/over-the-face/02.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/home/14OvertheFaceofNewWaters.webp"
                    class="video-scale margin-top-200"
                >
                    <source
                        src="/assets/home/14OvertheFaceofNewWaters.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/home/12TheWatersareBreaking.webm"
                        type="video/webm"
                    />
                </video>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">
                        Over the Face of New Waters</span>, 
                        <br>
                        photography by Ricardo Bassetti and video by Gee Galvão.
                </div>

                <div class="fs-eye | margin-top-500">
                    In this work, Edson Pavoni expands his research on connection towards plants and the environment and proposes a reconnection with nature, as a listening and feeling entity.
                </div>


                <div class="margin-top-400">
                    The artwork is a permanent installation made of six modules. Each sculpture has two parts: one with the ability to move and which houses living plants; and one that is a sculptural container for water. In its breathing state, the upper part of the installation is able to move up and down experiencing new airs and altitudes. When the plants are thirsty and need water, the installation goes down to the water mirror, getting the plants' roots wet.
                    <br><br>
                    When a visitor approaches the installation, sensors identify their presence and perform a connection movement, moving the gardens either up or down until the sculpture is at the height of the visitor's eyes.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/over-the-face/05.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="margin-top-200">
                    <img
                        src="/assets/pages/over-the-face/06.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">
                        Over the Face of New Waters</span>, 
                        <br>
                        images by Gee Galvão.
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni, artist
                    <br /><br />

                    <span class="fs-credits-bold">In collaboration with</span><br>
                    Todos Arquitetura & Pax
                    <br /><br />

                    <span class="fs-credits-bold">Commissioner</span><br>
                    Accenture
                    <br /><br />

                    <span class="fs-credits-bold">Production</span><br>
                    Spaces&Creatures - Guilherme Bullejos, Diego Spinola, Gabriela Veiga, Junior de Gois, Lina Lopes & Maurício Veiga
                    <br /><br />
                    
                    <span class="fs-credits-bold">Architecture</span><br>
                    Todos Arquitetura - Fabio Mota, Camila Escobar, Rogério Gurgel, Sandra Telles & Vinícius Fernandes
                    <br /><br />

                    <span class="fs-credits-bold">Modeling in collaboration with Pax</span><br>
                    Ana Carolina, Paula Sertório & Victor Paixão
                    <br /><br />

                    <span class="fs-credits-bold">Botanist</span><br>
                    Gabriela Veiga
                    <br /><br />
                    
                    <span class="fs-credits-bold">Carpentry</span><br>
                    Zeromáquina - Ana Carolina, Paula Sertório & Victor Paixão
                    <br /><br />

                    <span class="fs-credits-bold">Prototyping space</span><br>
                    Lilo.Zone
                    <br /><br />
                    
                    <span class="fs-credits-bold">Photography and video</span><br>
                    Triangle Studio & Ricardo Bassetti

                    <br /><br /><br /><br />
                </div>

            </div>
        </section>
    </main>
</Layout>
