---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Sacred in Flux - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Ju Freire</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        Sacred in Flux
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    exhibition / 2022
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fs-sub-title">What AI can help us see about what is sacred?</span>
                    <br /><br />
                    <span class="fstyle-label">Sacred in Flux</span> is a collection of AI-generated digital paintings that reinterpret what we consider sacred. Together with artist
                    <a href="https://www.julianafreire.com/artist"> Juliana Freire</a>
                    the works were co-created with software that analyzed over 14 million images of multicultural representations of the divine.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/ZLJRrW3iuRs?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label"> Sacred in Flux</span> video introduction,
                    1 min.
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">Man vs. Machine</span>
                    <br><br>
                    Defining what can be understood as "sacred", in a universal form, is a complex task. Sacredness is a concept that involves the realm of spirituality, and demands a deep reflection on the origins and mysteries of the universe. Closely related to religious beliefs, and often involving a connection to something greater than oneself, what each of us defines as holy is determined by variables such as cultural backgrounds, place of birth, and individual experiences.
                    <br><br>
                    For Artificial Intelligence machines, which are usually trained to analyze and process large sets of data, grasping the meaning behind terms such as "God", "holy", "spiritual" and even "mysticism", can be extremely challenging. Some experts claim that AI could potentially understand these ideas if it was programmed to learn about it. However, others suggest that these notions may be too abstract and subjective, and that a real understanding about them, by AI systems, is virtually impossible.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/sacred-in-flux/01.jpg"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        <span class="fstyle-label">Sacred in Flux</span> shown in
                        São Paulo, Brazil.
                        <br />Photo by Filipe Berndt.
                    </div>
                </div>

                <div class="margin-top-500">
                    In 2016, artist Juliana Freire and Edson Pavoni were caught up in this debate. They started to wonder how AI generated images could understand, within their own limitations, religious concepts dear (and maybe even exclusive) to humanity.
                    <br /><br />
                    <span class="fstyle-label">Sacred in Flux</span> flourished out of a desire to co-create with such technologies, which the artists have come to consider "interdimensional beings". This exercise then became an attempt to amalgamate a cosmic dimension to the man vs. machine paradox.
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/sacred-in-flux/01.jpg"
                    class="video-scale margin-top-400"
                >
                    <source
                        src="/assets/pages/sacred-in-flux/001.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/sacred-in-flux/001.webm"
                        type="video/webm"
                    />
                </video>

                <div class="fs-eye | margin-top-400">
                    <span class="fstyle-label">Sacred in Flux</span> is a poetic
                    attempt to create new reflections on holiness by using knowledge on
                    its vast expression throughout humanity that only a machine can
                    possess, analyze and transform.
                </div>


                <div class="margin-top-500">
                    <span class="fs-sub-title">Creative Process</span>
                    <br><br>
                    <span class="fstyle-label">Sacred in Flux</span> used Generative Adversarial Networks (GANs), a recent innovation in machine learning which is capable of creating new data instances that visually resemble the training information which has been fed into its system. In this case, the artists fed into the deep neural networks over 14 millions images, which included mystical symbols, religious icons, representations of saints and deities, temples, mythological figures, and more. From different time periods and locations, these images aimed to give a substantial amount of material for the software to analyze and create patterns of recognition.
                    <br><br>
                    After that first phase, the artists went on to develop "seed images": paintings and collages which would be the basis for the works. These images were added to the software, and combined with the large set of images that it had already been familiar with. The seed images were then modified, over and over again, through the artist's commands. By combining terms such as "God", "woman" and "sacred", for example, they were able to create a dialogue with the machine using the vocabulary it already knew.
                </div>

                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/pages/sacred-in-flux/02.jpg"
                    class="video-scale margin-top-400"
                >
                    <source
                        src="/assets/pages/sacred-in-flux/002.mp4"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/pages/sacred-in-flux/002.webm"
                        type="video/webm"
                    />
                </video>

                <div class="margin-top-400">
                    Even though these processes are recent, and can be difficult to understand, one could compare the use of AI generated images to the instrument of musicians. Just like a piano player needs to select the notes necessary to sound a chord, so do the artists that need to ask the software for the elements required to create the desired images.
                </div>


                <div class="margin-top-500">
                    <span class="fs-sub-title">The exhibition</span>
                    <br><br>
                    First showcased in São Paulo, at the Pãa Gallery, the exhibition consisted of large scale reproductions of the images, set up in metallic structures that resembled construction's scaffoldings. Smaller objects made of wood held three consecutive glasses, each representing a step of the image's transformation. The show used the existing furniture of the gallery as exhibition devices, creating sharp contrasts between their antique, artisanal styles and the futuristic characteristic of the artworks in display.
                </div>


                <div class="margin-top-300">
                    <img
                        src="/assets/pages/sacred-in-flux/03.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/sacred-in-flux/04.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/sacred-in-flux/05.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/sacred-in-flux/06.jpg"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">Sacred in Flux</span> shown in São
                    Paulo, Brazil.
                    <br />Photo by Filipe Berndt.
                </div>


                <div class="exhibithion | margin-top-500">
                    <span class="fs-sub-title">Exhibitions</span>
                    <br /><br />

                    <span class="fw-bold">2022</span><br />
                    Sacred in Flux, Paã Gallery<br />
                    São Paulo, Brazil
                    <br /><br />
                    <span class="fw-bold">2023</span><br />
                    Maranha, GPA<br />
                    Rio de Janeiro, Brazil
                    <br /><br />
                </div>


                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />
                    Edson Pavoni and Juliana Freire, artists
                    <br />
                    Filipe Berndt, exhibition photographer
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
