---
import Layout from "../layouts/Layout.astro";
import "../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="The Waters are Breaking - Edson Pavoni">
    <main>
        <section>
            <div class="container">
                <div class="welcome-tile margin-top-900">
                    <span class="fs-logo margin-top-600"
                        >Edson Pavoni & Gabriela Veiga</span
                    >
                    <h1 class="fs-display fw-bold text-positive margin-top-200">
                        The Waters <br>are Breaking
                    </h1>
                </div>

                <div class="fs-label fstyle-label margin-top-600">
                    scenography/ 2019
                </div>

                <div class="artwork | margin-top-500">
                    <span class="fstyle-label">The Waters Are Breaking</span> is an immersive experience at the intersection between theater and performance. The play, written and performed by Gabriela Veiga, uses generative projections and visuals to explore themes of pain, beauty, mourning and life after death.
                </div>

                <div class="videowrapper | margin-top-300">
                    <div class="plyr | video-scale" id="player">
                        <iframe
                            src="https://www.youtube.com/embed/x6A9BDu-AOw?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
                            allowfullscreen
                            allowtransparency
                            allow="autoplay"></iframe>
                    </div>
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    <span class="fstyle-label">The Waters Are Breaking</span> video introduction,
                    1 min.
                </div>

                <div class="margin-top-500">
                    <span class="fs-sub-title">What are the effects of being separated from those we love?</span>
                    <br><br>
                    The play is an experimental documentary project showcasing the actress' research on the theme of separation. It is primarily moved by the experience of her grandmother's passing, combined with the study of German philosopher and psychoanalyst Erich Fromm, who addresses the relationship between the qualities of love and the awareness of being separated.
                </div>

                <div class="margin-top-300">
                    <img
                        src="/assets/pages/the-waters-are-breaking/01.webp"
                        alt="image"
                        srcset=""
                    />
                    <div class="fs-caption text-caption padding-block-caption">
                        Gabriela Veiga interacts with projections made using generative technology.
                        <br />Images by Rodrigo Rosa and Giorgio D'Onofrio.
                    </div>
                </div>

                <div class="margin-top-500">
                    In 2016, artist Juliana Freire and Edson Pavoni were caught up in this debate. They started to wonder how AI generated images could understand, within their own limitations, religious concepts dear (and maybe even exclusive) to humanity.
                    <br /><br />
                    <span class="fstyle-label">Sacred in Flux</span> flourished out of a desire to co-create with such technologies, which the artists have come to consider "interdimensional beings". This exercise then became an attempt to amalgamate a cosmic dimension to the man vs. machine paradox.
                </div>

                <div class="fs-eye | margin-top-400">
                    Alone on the stage, the actress reacts to the projections created by Pavoni almost as if they were other characters themselves.
                </div>


                <div class="margin-top-400">
                    At times purely abstract and at others creature-like, the algorithm-based projections interact in real time with Veiga, setting the scene and creating different universes. Able to poetically explore experiences such as speeding, floating, falling, and of being grounded, the dialogical dynamic created by this relationship is a central part of the play.
                </div>

                
                <video
                    autoplay
                    muted
                    playsinline
                    loop
                    poster="/assets/home/14OvertheFaceofNewWaters.webp"
                    class="video-scale margin-top-200"
                >
                    <source
                        src="/assets/home/12TheWatersareBreaking.webm"
                        type="video/mp4"
                    />
                    <source
                        src="/assets/home/12TheWatersareBreaking.webm"
                        type="video/webm"
                    />
                </video>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/the-waters-are-breaking/03.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="fs-caption text-caption padding-block-caption">
                    Gabriela Veiga interacts with projections made using
                    generative<br /> technology. Images by Rodrigo Rosa and Giorgio
                    D'Onofrio.
                </div>


                <div class="margin-top-400">
                    Developed through a procedural and numerical method that uses the Processing software, the projections relied on particle systems that were programmed to change according to the actress' movements. Pavoni aimed to combine Veiga's exploration of the contrasts between what she considers as two of the most famous phrases in the world: "I love you" and "Made in China", with technology's ability to create a multitude of worlds.
                    <br /><br />
                    <span class="fstyle-label">The Waters are Breaking</span> had its premiere at the Mindelact theater festival of São Vicente, Cape Green and a season in São Paulo, Brazil at the Teatro de Contêiner.
                </div>

                <div class="margin-top-400">
                    <img
                        src="/assets/pages/the-waters-are-breaking/04.webp"
                        alt="image"
                        srcset=""
                    />
                </div>

                <div class="margin-top-200">
                    <img
                        src="/assets/pages/the-waters-are-breaking/05.webp"
                        alt="image"
                        srcset=""
                    />
                </div>
                <div class="fs-caption text-caption padding-block-caption">
                    Gabriela Veiga interacts with projections made using
                    generative<br /> technology. Images by Rodrigo Rosa and Giorgio
                    D'Onofrio.
                </div>

                

                <div class="fs-credits | margin-top-500">
                    <span class="fs-sub-title">Credits</span>
                    <br /><br />

                    <span class="fs-credits-bold">Direction</span><br>
                    Gabriela Veiga
                    <br /><br />

                    <span class="fs-credits-bold">Visual Direction</span><br>
                    Edson Pavoni
                    <br /><br />

                    <span class="fs-credits-bold">Assistant Director</span><br>
                    Bruna Brignol
                    <br /><br />
                    
                    <span class="fs-credits-bold">Design</span><br>
                    Guilherme Bullejos
                    <br /><br />

                    <span class="fs-credits-bold">Dramaturgy and performance:</span><br>
                    Gabriela Veiga
                    <br /><br />

                    <span class="fs-credits-bold">Costume Designer</span><br>
                    Telumi Hellen
                    <br /><br />
                    
                    <span class="fs-credits-bold">Light and technological structure</span><br>
                    Thiago Capella
                    <br /><br />

                    <span class="fs-credits-bold">Scenotechnic</span><br>
                    Emerson Fernandes
                    <br /><br />
                    
                    <span class="fs-credits-bold">Photography</span><br>
                    Rodrigo Rosa & Giorgio D'Onofrio
                    <br /><br />

                    <span class="fs-credits-bold">Video</span><br>
                    Dida Andrade & Andradina Azevedo
                    
                    <br /><br /><br /><br />
                </div>
            </div>
        </section>
    </main>
</Layout>
