---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="保持联系 - Edson Pavoni">


  <main>
    <section>
      <div class="container">
        <div class="welcome-tile margin-top-900">
          <h1 class="fs-display fw-bold text-positive margin-top-600">
            保持联系
          </h1>
        </div>
      </div>
    </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-900 ">
        <span class="fw-bold">佣金和一般查询</span>
        <br>
        <a href="mailto:edson@spacesandcreatures.com">edson@spacesandcreatures.com</a>
        <br><br>
        <span class="fw-bold">社交媒体</span>
        <br>
        instagram: <a href="https://instagram.com/edsonpavoni/">@edsonpavoni</a>
        <br>
        twitter: <a href="https://twitter.com/edsonpavoni">edsonpavoni</a>
      </div>
    </div>
  </section>

  </main>
</Layout>
