---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Edson Pavoni">
	<main>
		<section> 
			<div class="container"> 
			 <div class="welcome-tile margin-top-900"> 
			  <h1 class="fs-display fw-bold text-positive margin-top-600"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">技术会把我们分开还是让我们更亲近？</font></font></h1> 
			 </div> 
			 <div class="bio-text | margin-top-300"> <span class="fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">埃德森·帕沃尼 (Edson Pavoni)</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是一位艺术家和技术专家，致力于研究人类与技术交叉领域的亲密关系。 
			 </font></font></div> 
			 <div class="videowrapper | margin-top-200"> 
			  <div class="plyr | video-scale" id="player"> <iframe src="https://www.youtube.com/embed/HgCzPN8iEBg?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen="" allowtransparency="" allow="autoplay" data-gtm-yt-inspected-6="true" id="402807732"></iframe> 
			  </div> 
			 </div> 
			 <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			   视频介绍，3 分钟 
			 </font></font></div> 
			</div> 
		   </section>

		   <section> 
			<div class="container"> 
			 <div class="secundary-title"> 
			  <h1 class="fs-display fw-bold margin-top-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">选集</font></font></h1> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-400"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">眼眶寺</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				特定地点 / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				来自全球南方的第一颗具有艺术使命的卫星。</font><font style="vertical-align: inherit;">有了它，任何人都可以将死者的名字送上天堂。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/23OrbitalTemple.webp" alt="图像" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">太空中的轨道神殿</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">。
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RiseNY&amp;Partners 的 3D 渲染。 
			  </font></font></div> 
			  <div class="work-video | margin-top-200">  <img src="/assets/home/22OrbitalTemple.webp" alt="视频" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"></font></span><font style="vertical-align: inherit;"></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">巴西阿雷格里港</font><font style="vertical-align: inherit;">双年展上的 
			   </font><span class="fstyle-label"><font style="vertical-align: inherit;">轨道神庙装置。</font></span><font style="vertical-align: inherit;">Clara Marques 和 Piero Davila 的视频。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">心灵的风景</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				行为装置 / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个用大脑监视器制作的装置，能够在两个参与者互相注视时读取他们的神经活动。</font><font style="vertical-align: inherit;">收集到的数据随后用于创建生成图，该图被投射在 Lyora Pisarro 的油画上。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/21LandscapesoftheMindQuadrado.webp" alt="图像" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				两人参与了</font><font style="vertical-align: inherit;">美国纽约的</font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Landscapes of the Mind装置作品。</font></font></span>
			   <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">艺术家的照片。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">神圣的流动</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				展览 / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一组人工智能生成的数字绘画，重新诠释了我们认为神圣的东西。</font><font style="vertical-align: inherit;">这些作品是与艺术家 Juliana Freire 一起使用软件共同创作的，该软件分析了超过 1400 万张代表我们认为神圣事物的多元文化图像。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/20SagradoemFluxo.webp" alt="图像" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sacred in Flux</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">在巴西圣保罗展出。
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Filipe Berndt 拍摄的照片。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">皇冠害羞</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				动力装置 / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个捕捉巴西南部受保护森林实时风力运动的装置，并将其转化为一个 10 米长的动态面板，其中包含约 160 件纸雕塑，由 500 多名参与者在一天内组装完成。 
			  </font></font></div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/19TimidezdasCopas.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/19TimidezdasCopas.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/19TimidezdasCopas.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Crown Shyness</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">装置
				的细节</font><font style="vertical-align: inherit;">。
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">克拉拉·马克斯摄。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inumeráveis纪念馆</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				建筑与数字平台 / 2020- 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个数字平台和一个物理纪念碑的计划，致力于讲述巴西冠状病毒受害者的故事。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/18Inumeraveis.webp" alt="图像" srcset="">  
			  </div> 
			  <div class="work-image | margin-top-200">  <img src="/assets/home/17AInumeraveis.webp" alt="图像" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/17AInumeraveis.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/17AInumeraveis.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/17AInumeraveis.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Inumeráveis 纪念碑</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				的规划</font><font style="vertical-align: inherit;">。
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">RiseNY&amp;Partners 的 3D 渲染图。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">隐形蓝</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				装置 / 2020 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一座 24 米高的轻型雕塑，体现了匈牙利艺术世界中看不见的联系。</font><font style="vertical-align: inherit;">也是与先驱网络科学家 Albert-Laszlo Barabási 合作制作的 NFT 系列。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  
				<picture> 
				 <source srcset="https://edsonpavoni-art.translate.goog/assets/home/16InvisibleBlue.webp?_x_tr_sl=auto&amp;_x_tr_tl=zh-CN&amp;_x_tr_hl=pt-BR&amp;_x_tr_pto=wapp" type="image/webp"> 
				 <source srcset="https://edsonpavoni-art.translate.goog/assets/home/16InvisibleBlue.webp?_x_tr_sl=auto&amp;_x_tr_tl=zh-CN&amp;_x_tr_hl=pt-BR&amp;_x_tr_pto=wapp" type="image/jpeg"> 
				 <img src="/assets/home/16InvisibleBlue_.webp" alt=""> 
				</picture>  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">路德维希当代艺术博物馆的
			   </font><span class="fstyle-label"><font style="vertical-align: inherit;">Invisible Blue 。</font></span></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">由 Bálint Jaska 拍摄。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">面对新水域</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				动力装置 / 2019 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个由六个自动浇水空中花园组成的装置，它们根据植物的需要通过专门的机制移动。</font><font style="vertical-align: inherit;">当人类游客接近时，花园将自己置于他们的视线水平。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/15OvertheFaceofNewWaters.webp" alt="图像" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/14OvertheFaceofNewWaters.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/14OvertheFaceofNewWaters.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/14OvertheFaceofNewWaters.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">跨越新水域</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">，由 Gee Galvão 拍摄。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">水域正在破裂</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				布景 / 2019 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				在剧院和表演的交汇处获得身临其境的体验。</font><font style="vertical-align: inherit;">该剧由加布里埃拉·维加 (Gabriela Veiga) 编剧和主演，使用生成投影和视觉效果来探索痛苦、美丽、哀悼和死后生活的主题。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/13TheWatersareBreaking.webp" alt="图像" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/12TheWatersareBreaking.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/12TheWatersareBreaking.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/12TheWatersareBreaking.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Gabriela Veiga 与使用生成技术制作的投影互动
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">。</font><font style="vertical-align: inherit;">图片由 Rodrigo Rosa 和 Giorgio D'Onofrio 提供。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">三人花瓣</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				现场特定装置 / 2018 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个交互式镜像装置，当三位参观者在装置的每个角落停下来时，它就会被激活。</font><font style="vertical-align: inherit;">它解决了一种强烈的连接状态，其结果导致其整个结构的碎片化。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/11APetalforThree.webp" alt="图像" srcset="">  
			  </div> 
			  <div>  
				<video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/10APetalforThree.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/10APetalforThree.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/10APetalforThree.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				</video>  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				参与者参与了</font><font style="vertical-align: inherit;">圣保罗的
			   </font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">三人花瓣活动。</font></font></span><font style="vertical-align: inherit;"></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">由拉斐尔·苏格拉底拍摄。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">白镜</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				动力装置 / 2017 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个 22 米的面板，通过算法生成的类似生物的图像反映路过的步行者，这些图像会对他们的动作做出反应。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/09WhiteMirror.webp" alt="图像" srcset="">  
			  </div> 
			  <div>  
				<video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/08WhiteMirror.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/08WhiteMirror.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/08WhiteMirror.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				</video>  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">当访客经过时，
			   </font><span class="fstyle-label"><font style="vertical-align: inherit;">白镜面板会被激活。</font></span></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">拉斐尔苏格拉底的图像。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第一感觉</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				摄影系列 / 2015- 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个正在进行的摄影系列，艺术家在其中研究人类对触摸的反应以及由此行为产生的联系的质量。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/07FirstSense.webp" alt="图像" srcset="">  
			  </div> 
			  <div class="work-image | margin-top-200">  <img src="/assets/home/06FirstSense.webp" alt="图像" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">First Sense</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是 Edson Pavoni 正在进行的摄影系列 
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">爱情计划</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				装置 / 2013 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				一个表演装置，将参与者的爱情故事转化为独特的 3D 打印雕塑。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/05TheLoveProject.webp" alt="图像" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/04TheLoveProject.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/04TheLoveProject.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/04TheLoveProject.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">爱情计划</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是一个表演装置。
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">图片由 Jorge Teivelis Neto 提供。 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">出发地</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				特定场地装置 / 2013, 2015 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				中国和巴西之间首次架设的感官桥梁。</font><font style="vertical-align: inherit;">当一个人触摸北京装置的玻璃，另一个人触摸圣保罗装置的玻璃时，两人的身体感觉就像触碰了彼此。</font><font style="vertical-align: inherit;">2015 年，它还在迪拜的两个不同地区展出。 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/03APlacetoDeparture.webp" alt="图像" srcset="">  
			  </div> 
			  <div class="work-image | margin-top-200">  <img src="/assets/home/02APlacetoDeparture.webp" alt="图像" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/01APlacetoDeparture.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/01APlacetoDeparture.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/01APlacetoDeparture.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">中国 
			   </font><span class="fstyle-label"><font style="vertical-align: inherit;">的出发地</font></span></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">，由 Pedrinho Fonseca 拍摄。</font><font style="vertical-align: inherit;">埃德森·帕沃尼 (Edson Pavoni) 在迪拜的装置图片。 
			  </font></font></div> 
			 </div> 
			</div> 
		   </section>

		<section>
			<div class="container">
				<div class="selected-works">
					<div class="secundary-title">
						<h1 class="fs-display fw-bold margin-top-600">
							诗歌
						</h1>
					</div>

					<div class="artwork">
						<div class="work-title">
							<h3 class="fs-title fw-bold margin-top-400">
								In Honor of the Land
							</h3>
						</div>
						<div class="fstyle-label | fs-label margin-top-100">
							2022
						</div>
						<div class="work-text | margin-top-200">
							in honor of the land<br />
							I pledge my attention<br />
							to the mountains of colored minerals<br />
							that raised themselves<br />
							before there were any eyes to see<br />
							how the sky painted them with light<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the green fields that spoon<br />
							the gray line of the horizon<br />
							were the last wild horses run<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the ocean of green trees<br />
							the forest being protect by my ancestors<br />
							and the xapiripë spirits<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the rivers from below<br />
							painted in gold by the nearest star<br />
							drawing themselves<br />
							in curved unproductive lines<br />
							in no hurry to find the ocean<br />
							<br />
							in honor of the land<br />
							I also pledge my attention<br />
							to the rivers of above<br />
							swimming in the sky before being rain<br />
							<br />
							and the rain, my friend,<br />
							way before touching anything<br />
							will seduce you with its perfume<br />
							as Oxum, the Orixá of seduction does<br />
							<br />
							in honor of the land<br />
							I pledge my attention<br />
							to the best roommates on this planet<br />
							the other sentient beings<br />
							having the best time when we are not around<br />
							<br />
							in honor of the land<br />
							I pledge my attention to outer space<br />
							our environment above the sky<br />
							with the lights from the past<br />
							and the technology of the present<br />
							helping me see our world as finite as I am<br />
							<br />
							in honor of the land<br />
							I pledge my attention.<br />
						</div>

						<div class="videowrapper | margin-top-300">
							<div class="video-scale" id="player-in-honor">
								<iframe
									src="https://www.youtube.com/embed/nNmEZFtWXPs?origin=https://plyr.io&iv_load_policy=3&modestbranding=1&playsinline=1&showinfo=0&rel=0&enablejsapi=1"
									allowfullscreen
									allowtransparency
									allow="autoplay"></iframe>
							</div>
						</div>
						<div
							class="fs-caption text-caption padding-block-caption"
						>
							Video poetry, 2 min.
						</div>
					</div>

					<div class="artwork">
						<div class="work-title">
							<h3 class="fs-title fw-bold margin-top-400">
								Half Oxum
							</h3>
						</div>
						<div class="fstyle-label | fs-label margin-top-100">
							2019
						</div>
						<div class="work-text | margin-top-200">
							behind the curtain of a waterfall<br />
							standing half Oxum half mirror<br />
							a woman showing no fear of being naked<br />
							opens her eyes looking exactly into mine<br />
							and without moving anything but her arm<br />
							takes a rose crystal egg from<br />
							the place in her body that bleeds<br />
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<section> 
		<div class="container-negative | f-style-negative margin-top-600"> 
		 <div class="container padding-block-200"> 
		  <div class="secundary-title"> 
		   <h1 class="fs-display fw-bold margin-top-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">一个非反乌托邦未来的多行星构想</font></font></h1> 
		  </div> 
		  <div class="artwork"> 
		   <div class="work-title"> 
			<h3 class="fs-title fw-bold margin-top-400"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">火星出发地</font></font></h3> 
		   </div> 
		   <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			 2030？ 
		   </font></font></div> 
		   <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			 比我们预期的更快，人类将成为多行星的。</font><font style="vertical-align: inherit;">事实上，火星似乎是我们的第一目的地。</font><font style="vertical-align: inherit;">如果是这样，这意味着人类将彼此相距甚远，这是我们历史上从未有过的：相距 2.5 亿英里。</font><font style="vertical-align: inherit;">我们将能够在火星上看到他们，我们将听到我们所爱之人的声音，但我们可能再也无法触及。 
			</font></font><br>
			<br> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Place to Departure 的使命</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">是让行星际人类接触成为可能。</font><font style="vertical-align: inherit;">它旨在成为一座持久的桥梁，使我们永远不会失去联系。 
		   </font></font></div> 
		   <div class="work-image | margin-top-300"> 
			<img src="/assets/home/00APlacetoDepartureMars.webp" alt="图像" srcset=""> 
		   </div> 
		   <div class="work-image | margin-top-200"> 
			<img src="/assets/home/00APlacetoDepartureMars2.webp" alt="图像" srcset=""> 
		   </div> 
		   <div class="work-image | margin-top-200"> 
			<img src="/assets/home/00APlacetoDepartureMars3.webp" alt="图像" srcset=""> 
		   </div> 
		   <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">火星人类住区
			的</font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">出发地</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			 计划。</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Guilherme Bullejos 的 3D 渲染。 
		   </font></font></div> 
		   <br>
		   <br>
		   <br>
		   <br> 
		  </div> 
		 </div> 
		</div> 
	   </section>
</Layout>