---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Acerca - Edson Pavoni">

  <main>
    <section>
      <div class="container">
        <div class="welcome-tile margin-top-900">
          <h1 class="fs-display fw-bold text-positive margin-top-600">
            Acerca
          </h1>
        </div>
      </div>
    </section>

    <section> 
      <div class="container"> 
       <div class="work-text | margin-top-600 "> <span class="fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edson Pavoni</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> (São Paulo, 1984) es un artista y tecnólogo que propone imaginarios sensibles para nuestras ideas compartidas de conexión. 
        </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Su práctica, que incluye instalaciones a escala arquitectónica, algoritmos y fabricaciones digitales, imágenes generadas por IA, poesía, fotografía, plataformas digitales e incluso tecnología satelital, tiene como objetivo investigar la intimidad humana en su intersección con la tecnología. 
        </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">A través de métodos colaborativos, las obras de Pavoni crean experiencias interactivas que tienen como núcleo la participación del público. </font><font style="vertical-align: inherit;">Como es el caso del "Memorial Inumeráveis", una plataforma de voluntariado que contribuye a la humanización de la cobertura mediática sobre la pandemia en Brasil, sus obras logran involucrar a miles de personas y han aparecido en importantes boletines y canales como CNN, Al Jazeera, Estadio, Globo, El País y más. 
        </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Su trabajo también se ha desarrollado en cursos educativos y conferencias, como "Construyendo la memoria a través de la escritura - el Método Inumeráveis", impartido por el artista y los voluntarios del proyecto y promovido por la UNICAMP, en Brasil.&nbsp; 
        </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">En los últimos años, la producción de Pavoni ha podido alcanzar una estimación de 1 de cada 34 brasileños. </font><font style="vertical-align: inherit;">Ha expuesto en Bienales como la 13ª Bienal del Mercosur en Porto Alegre, Brasil, y la IX Bienal Internacional de Arte Contemporáneo en Tashkent, Uzbekistán. 
        </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sus obras han sido expuestas en Nueva York, Beijing, Singapur, Dubai, Lisboa y Río de Janeiro, entre otras ciudades, y han sido presentadas en instituciones como el Museo Ludwig de Arte Contemporáneo de Budapest, Hungría; </font><font style="vertical-align: inherit;">Instituto Inhotim, Brasil; </font><font style="vertical-align: inherit;">y en el Museo del Diseño y la Moda de Lisboa, Portugal. </font><font style="vertical-align: inherit;">Sus obras de arte han sido encargadas por empresas como Google, Klabin, NuBank y Accenture. 
        </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Con más de 20 años de experiencia ayudando a creadores a usar nuevas tecnologías para propuestas en arte, comunicación y arquitectura, Pavoni ha sido parte de equipos creativos que lideraron proyectos encargados por empresas como los Juegos Olímpicos de Río 2016 y el Banco Interamericano de Desarrollo (BID) . 
        </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pavoni fue reconocido como uno de los 50 profesionales brasileños más innovadores por la revista Proxxima en 2016 y recibió dos premios IF Design Awards consecutivos en 2017 y 2018. Todavía contribuye a proyectos seleccionados y tecnológicamente innovadores a través del estudio Spaces&amp;Creatures, que fundó en 2010. 
         </font></font><br>
        <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Vive y trabaja en São Paulo. 
       </font></font></div> 
      </div> 
     </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">CV</span><br><br>
        <span class="fw-bold">Individual Exhibitions</span>
        <br><br>
        <span class="fw-bold">2022</span>
        <br>
        Sacred in Flux, 
        together with Juliana Freire, 
        Paã Architecture, São Paulo, Brazil
        <br><br>
        Landscapes of the Mind, 
        in collaboration with Lyora Pisarro, 
        New York, USA
        <br><br><br>
        <span class="fw-bold">Collective Exhibitions</span>
        <br><br>
        <span class="fw-bold">2022</span>
        <br>
        13th Mercosul Biennial
        Porto Alegre, Brazil
        <br><br>
        IX International Biennale 
        of Contemporary Art,
        Tashkent, Uzbekistan
        <br><br>
        NTU Global Digital Art Prize 
        Singapore, Singapore
        <br><br>
        Maranha, GPA, 
        Rio de Janeiro, Brazil
        <br><br>
        INOVA Klabin, 
        São Paulo, Brazil
        <br><br>
        <span class="fw-bold">2020</span>
        <br>
        Ludwig Museum of Contemporary Art, Budapest, Hungary
        <br><br>
        <span class="fw-bold">2018</span>
        <br>
        Baró Gallery, São Paulo, Brazil
        <br><br>
        Coletivo Amor de Madre, 
        stand at SP Arte, 
        São Paulo, Brazil
        <br><br>
        <span class="fw-bold">2017</span>
        <br>
        Como se Pronuncia Design 
        em Português: Brasil hoje, 
        Design and Fashion Museum of Lisbon, 
        Lisbon, Portugal
        <br><br>
        Meca Festival, Inhotim, 
        Brumadinho, Brazil
        <br><br>
        <span class="fw-bold">2016</span>
        <br>
        Dubai Design District, Dubai, UAE
        <br><br>
        <span class="fw-bold">2015</span>
        <br>
        The Love Project: Love Stories Sculpting Objects of Design, Baró Gallery, 
        São Paulo, Brazil
        <br><br>
        Dubai Design Days, Dubai, UAE
        <br><br>
        <span class="fw-bold">2014</span>
        <br>
        A Place to Departure, Simultaneously 
        at Galeria Coletivo Amor de Madre, 
        São Paulo, Brazil; and Caochangdi Art District, Beijing, China.
        <br><br><br>
        <span class="fw-bold margin-top-300">Permanent Exhibition</span>
        <br><br>
        <span class="fw-bold">2019</span>
        <br>
        Over the Face of New Waters, 
        Accenture, São Paulo, Brazil.
        <br><br>
        <span class="fw-bold">2017</span>
        <br>
        The White Mirror, 
        Nubank, São Paulo, Brazil.
      </div>
    </div>
  </section>



  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Awards</span><br><br>
        <span class="fw-bold">2022</span><br>
        <span class="fstyle-label">Orbital Temple</span>
        <br>
        <a href="https://www.lumenprize.com/2022-futures-award-longlist/orbital-temple">Lumen Prize </a> - Longlist Futures Award
        <br>
        <a href="https://ebook.ntu.edu.sg/ntu-gdap-2022.html">NTU Global Digital Art Prize</a> - Finalist
        
        <br><br>
        <span class="fw-bold">2021</span><br>
        <span class="fstyle-label">Orbital Temple</span>
        <br>
        CubeDesign Prize, promoted by INPE - Winner ArtSat Category

        <br><br>
        <span class="fw-bold">2018</span><br>
        <span class="fstyle-label">Aura</span>
        <br>
        <a href="https://en.di-award.org/collections/detail/314.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - Honorable Mention
        <br><br>

        <span class="fstyle-label">The Love Project</span>
        <br>
        <a href="https://en.di-award.org/collections/detail/314.html?page_size%3D1000%26page%3D1%26year%3D%26award_type%3D%26award_group%3D%26category_id%3D">Dia Awards</a> - Dia Innovation Category
        <br><br>

        <span class="fstyle-label">The Dancing Pavilion</span>
        <br>
        <a href="https://ifdesign.com/en/winner-ranking/project/the-dancing-pavilion/229598">IF Design Award</a> - Gold Award
        <br><br>

        <span class="fstyle-label">The Love Project</span>
        <br>
        <a href="https://ifdesign.com/en/winner-ranking/project/love-project/200752">IF Design Award</a>
        <br><br>

        <span class="fstyle-label">The Dancing Pavilion</span>
        <br>
        <a href="https://www.whatdesigncando.com/stories/coda-award-guto-requenas-dancing-pavilion/">CODAwards</a>
        <br><br>
        <br>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Watch</span><br><br>
        <span class="fw-bold">In Portuguese</span>
        <br><br>
        Art in outer space
        <a href="https://www.youtube.com/watch?v=_8EwJmg8ASQ&t=319s ">Fork Podcast #57</a>
        <br><br>
        
        
        <a href="https://www.youtube.com/watch?v=u-2XlN2wdEM">Babu Santana "Dá o Papo" with artist Edson Pavoni on "Inumeráveis Memorial"</a>
        <br><br>

        
        <a href="https://www.instagram.com/p/CAaVkJ9nDd5/">Behind each number, there is a story</a> - GloboNews
        <br><br>
        
        
        <a href="https://www.youtube.com/watch?v=PB_MGbwxgBo&t=39s">Interview with Edson Pavoni, from "Inumeráveis Memorial"</a> - El País TV
        <br><br>
        
        
        <a href="https://www.youtube.com/watch?v=c24DUTdGLcg&ab_channel=CanalArte1">Art in Technology - Ep. 5 with Edson Pavoni</a> - Canal Arte1
        <br><br>

        
        <a href="https://www.youtube.com/watch?v=6oGZQZV6R_M">Art and Technology, great allies. An interview with artist Edson Pavoni</a> - Casa Tegra 
        <br><br>
        
        
        <a href="https://www.instagram.com/p/Cdy3M1SJfm5/">Can art heal us?</a>
        <br><br>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Know more</span><br><br>
        <span class="fw-bold">In Portuguese</span>
        <br><br>
        <a href="https://www.estadao.com.br/link/cultura-digital/satelite-brasileiro-lancado-pela-spacex-vai-homenagear-pessoas-que-ja-morreram/ ">Brazilian satellite to be launched by SpaceX will pay homage to the deceased </a>- O Estado de São Paulo, 2022 
        <br><br>
        <a href="https://gauchazh.clicrbs.com.br/colunistas/juliana-bublitz/noticia/2022/09/satelite-em-exposicao-na-bienal-do-mercosul-ja-tem-27-mil-nomes-para-levar-ao-espaco-cl8kg6ii3001f016rqzags48i.html">Satellite at the Mercorsul Biennial has received over 2,7 thousand names to send to space</a> - Zero Hora , 2022 
        <br><br>
        <a href="https://gq.globo.com/Noticias/noticia/2020/05/conheca-historia-do-memorial-online-que-relembra-vitimas-da-pandemia.html">Know the story behind the memorial that tells the stories of Covid-19 victims in Brazil </a> - GQ Brasil, 2020
        <br><br>
        <a href="https://www.cnnbrasil.com.br/saude/as-vidas-por-tras-dos-numeros-da-covid-19-projetos-reunem-historias-da-pandemia/">The lives behind the Covid's numbers: two projects bring stories of the pandemic</a> - CNN Brasil, 2020
        <br><br>
        <a href="https://www.projetodraft.com/entenda-por-que-precisamos-erguer-ja-um-memorial-dedicado-as-vitimas-da-pandemia/">To not look out for memory is a horrible idea. Understand why we urgently need a memorial for Covid victims</a> - DRAFT, 2022
        <br><br>
        <a href="https://guia.folha.uol.com.br/exposicoes/2014/10/1525315-designers-paulistanos-criam-obra-interativa-que-conecta-sao-paulo-a-china.shtml">Designers from São Paulo create an interactive artwork that connects their city to China</a> - Folha de São Paulo, 2014
        <br><br>
        <br><br>
        <span class="fw-bold">In English</span>
        <br><br>
        <a href="https://www.archdaily.com/793754/rio-2016-olympic-the-dancing-pavilion-estudio-guto-requena">Rio 2016 Olympics The Dancing Pavilion</a> - ArchDaily, 2016

        <br><br>
        <a href="http://www.lindahollier.com/blog/2015/11/2/a-place-to-departure.html">A Place to Departure</a> - Linda Hollier, 2015

        <br><br>
        <a href="https://www.damnmagazine.net/wordpress/2015/11/12/learning-from-dubai/">Learning from Dubai…</a> - Damn Magazine, 2015

        <br><br>
        <a href="https://www.designboom.com/design/love-project-mandalas-guto-requena-03-13-2015/">Love project by Guto Requena & D3 translates emotional data into 3D objects</a> - designboom, 2015 

        <br><br>
        <a href="https://www.creativeapplications.net/js/circle-of-trust-javascript/">Circle of Trust</a> - Creative Applications, 2011
        <br><br>
      </div>
    </div>
  </section>


  <section>
    <div class="container">
      <div class="work-text | margin-top-600 ">
        <span class="fs-sub-title">Lectures and courses</span><br><br>
      </div>
      <a href="https://www.unicamp.br/unicamp/noticias/2022/07/28/unicamp-abre-inscricoes-para-curso-sobre-escrita-de-textos-memoriais">Building Memory Through Writing the Inumeráveis Method</a> - Unicamp, Campinas, Brazil, 2022
      <br><br>
      <a href="https://www.youtube.com/watch?v=hDQnQWLzDiw&t=884s">Art and Technology to Create the Business of the Future </a> - Epicentro
      <br><br>
      <a href="https://www.youtube.com/watch?v=s39qObwm5PA">Art and Technology</a> - TEDx Mauá
    </div>
  </section>

  <br><br><br><br>
</main>

</Layout>