---
import Layout from "../../layouts/Layout.astro";
import "../../styles/style.css";
import "plyr/dist/plyr.css";
---

<Layout title="Edson Pavoni">
	<main> 
		<section> 
			<div class="container"> 
			 <div class="welcome-tile margin-top-900"> 
			  <h1 class="fs-display fw-bold text-positive margin-top-600"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">¿La tecnología nos separará o nos acercará?</font></font></h1> 
			 </div> 
			 <div class="bio-text | margin-top-300"> <span class="fw-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Edson Pavoni</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> es un artista y tecnólogo que investiga la intimidad humana en su intersección con la tecnología. 
			 </font></font></div> 
			 <div class="videowrapper | margin-top-200"> 
			  <div class="plyr | video-scale" id="player"> <iframe src="https://www.youtube.com/embed/HgCzPN8iEBg?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen="" allowtransparency="" allow="autoplay" data-gtm-yt-inspected-6="true" id="913504486"></iframe> 
			  </div> 
			 </div> 
			 <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			   Vídeo de introducción, 3 min. 
			 </font></font></div> 
			</div> 
		   </section>
		   <section> 
			<div class="container"> 
			 <div class="secundary-title"> 
			  <h1 class="fs-display fw-bold margin-top-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trabajos seleccionados</font></font></h1> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-400"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">templo orbital</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				sitio específico / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				El primer satélite del Sur Global con una misión artística. </font><font style="vertical-align: inherit;">Con ella, cualquiera podrá enviar al cielo el nombre de alguien que ha fallecido. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/23OrbitalTemple.webp" alt="imagen" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Templo orbital</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> en el espacio.
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Representación 3D por RiseNY&amp;Partners. 
			  </font></font></div> 
			  <div class="work-video | margin-top-200">  <img src="/assets/home/22OrbitalTemple.webp" alt="video" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Instalación del Templo Orbital</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> en la Bienal del Mercosur, 
				</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">en Porto Alegre, Brasil. </font><font style="vertical-align: inherit;">Vídeos de Clara Marques y Piero Davila. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paisajes de la Mente</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación performática / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una instalación realizada con monitores cerebrales capaces de leer la actividad neuronal de dos participantes mientras se miran. </font><font style="vertical-align: inherit;">Los datos recopilados luego se utilizan para crear un dibujo generativo que se proyecta sobre una pintura al óleo de Lyora Pisarro. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/21LandscapesoftheMindQuadrado.webp" alt="imagen" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Dos personas participan en la instalación </font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Paisajes de la Mente</font></font></span>
			   <br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , en Nueva York, Estados Unidos. </font><font style="vertical-align: inherit;">Foto del artista. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sagrado en flujo</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				exposición / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una colección de pinturas digitales generadas por IA que reinterpretan lo que consideramos sagrado. </font><font style="vertical-align: inherit;">Junto con la artista Juliana Freire, las obras fueron co-creadas con un software que analizó más de 14 millones de imágenes de representaciones multiculturales de lo que creemos que es sagrado. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/20SagradoemFluxo.webp" alt="imagen" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;">Sacred in Flux</font></font></span><font style="vertical-align: inherit;"><font class="" style="vertical-align: inherit;"> mostrado en São Paulo, Brasil.
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fotos de Filipe Berndt. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">corona timidez</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación cinética / 2022 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una instalación que captura los movimientos del viento en tiempo real de un bosque protegido en el sur de Brasil y lo traduce en un panel cinético de 10 metros de largo con alrededor de 160 esculturas de papel, ensambladas en un día por más de 500 participantes. 
			  </font></font></div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/19TimidezdasCopas.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/19TimidezdasCopas.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/19TimidezdasCopas.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Un detalle de la instalación </font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Crown Shyness</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Foto de Clara Marqués. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Memorial Inumeráveis</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				arquitectura y plataforma digital / 2020- 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una plataforma digital y un plan para un monumento físico dedicado a contar las historias de las víctimas del Coronavirus en Brasil. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/18Inumeraveis.webp" alt="imagen" srcset="">  
			  </div> 
			  <div class="work-image | margin-top-200">  <img src="/assets/home/17AInumeraveis.webp" alt="imagen" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/17AInumeraveis.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/17AInumeraveis.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/17AInumeraveis.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Plano del </font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Monumento a los Inumeráveis</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> .
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Representaciones 3D de RiseNY&amp;Partners. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">azul invisible</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación / 2020 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una escultura de luz de 24 metros de altura que materializa las conexiones invisibles del mundo del arte húngaro. </font><font style="vertical-align: inherit;">También una colección de NFT realizada en colaboración con el científico pionero en redes Albert-Laszlo Barabási. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  
				<picture> 
				 <source srcset="https://edsonpavoni-art.translate.goog/assets/home/16InvisibleBlue.webp?_x_tr_sl=auto&amp;_x_tr_tl=es&amp;_x_tr_hl=en&amp;_x_tr_pto=wapp" type="image/webp"> 
				 <source srcset="https://edsonpavoni-art.translate.goog/assets/home/16InvisibleBlue.webp?_x_tr_sl=auto&amp;_x_tr_tl=es&amp;_x_tr_hl=en&amp;_x_tr_pto=wapp" type="image/jpeg"> 
				 <img src="/assets/home/16InvisibleBlue_.webp" alt=""> 
				</picture>  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Azul Invisible</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> en el Museo Ludwig de Arte Contemporáneo.
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fotografiado por Bálint Jaska. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre la Faz de Aguas Nuevas</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación cinética / 2019 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una instalación compuesta por seis jardines colgantes con autorriego que se desplazan, mediante un mecanismo especializado, según las necesidades de las plantas. </font><font style="vertical-align: inherit;">Cuando los visitantes humanos se acercan, el jardín se coloca a la altura de sus ojos. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/15OvertheFaceofNewWaters.webp" alt="imagen" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/14OvertheFaceofNewWaters.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/14OvertheFaceofNewWaters.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/14OvertheFaceofNewWaters.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sobre la Faz de Aguas Nuevas</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> , fotografiado por Gee Galvão. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Las aguas se están rompiendo</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				escenografía / 2019 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una experiencia inmersiva en la intersección entre teatro y performance. </font><font style="vertical-align: inherit;">Escrita y protagonizada por Gabriela Veiga, la obra utiliza proyecciones generativas y visuales para explorar temas de dolor, belleza, luto y vida después de la muerte. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/13TheWatersareBreaking.webp" alt="imagen" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/12TheWatersareBreaking.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/12TheWatersareBreaking.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/12TheWatersareBreaking.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Gabriela Veiga interactúa con proyecciones realizadas con
				</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tecnología generativa. </font><font style="vertical-align: inherit;">Imágenes de Rodrigo Rosa y Giorgio D'Onofrio. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un pétalo para tres</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación específica del sitio / 2018 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una instalación de espejo interactivo que se activa cuando tres visitantes se detienen en cada uno de los rincones de la instalación. </font><font style="vertical-align: inherit;">Aborda un intenso estado de conexión en el que su resultado conduce a la fragmentación de su estructura completa. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/11APetalforThree.webp" alt="imagen" srcset="">  
			  </div> 
			  <div>  
				<video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/10APetalforThree.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/10APetalforThree.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/10APetalforThree.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				</video>  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Los participantes interactúan con </font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un pétalo para tres</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> en São Paulo.
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fotografiado por Rafael Sócrates. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Espejo blanco</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación cinética / 2017 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Un panel de 22 metros que refleja a los caminantes que pasan a través de imágenes parecidas a criaturas generadas algorítmicamente que reaccionan a sus movimientos. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/09WhiteMirror.webp" alt="imagen" srcset="">  
			  </div> 
			  <div>  
				<video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/08WhiteMirror.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/08WhiteMirror.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				 <source src="/assets/home/08WhiteMirror.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				</video>  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> panel White Mirror se activa cuando los visitantes pasan por él.
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Imágenes de Rafael Sócrates. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">primer sentido</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				serie de fotografía / 2015- 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una serie fotográfica en curso en la que el artista investiga las respuestas humanas al tacto y la calidad de las conexiones que surgen de este acto. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/07FirstSense.webp" alt="imagen" srcset="">  
			  </div> 
			  <div class="work-image | margin-top-200">  <img src="/assets/home/06FirstSense.webp" alt="imagen" srcset="">  
			  </div> 
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">First Sense</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> es una serie de fotografías en curso 
				</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">de Edson Pavoni. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">El proyecto de amor</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación / 2013 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Una instalación performática que transforma las historias de amor de los participantes en esculturas impresas en 3D únicas. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/05TheLoveProject.webp" alt="imagen" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/04TheLoveProject.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/04TheLoveProject.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/04TheLoveProject.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The Love Project</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> fue una instalación performática.
			   </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Imágenes de Jorge Teivelis Neto. 
			  </font></font></div> 
			 </div> 
			 <div class="artwork"> 
			  <div class="work-title"> 
			   <h3 class="fs-title fw-bold margin-top-600"> <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un lugar para partir</font></font> </h3> 
			  </div> 
			  <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				instalación específica del sitio / 2013, 2015 
			  </font></font></div> 
			  <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
				Un puente sensorial instalado por primera vez entre China y Brasil. </font><font style="vertical-align: inherit;">Cuando una persona tocó el vidrio de la instalación en Beijing y otra tocó el vidrio en São Paulo, los dos sintieron físicamente como si se hubieran tocado. </font><font style="vertical-align: inherit;">En 2015, también se presentó en dos distritos diferentes de Dubái. 
			  </font></font></div> 
			  <div class="work-image | margin-top-300">  <img src="/assets/home/03APlacetoDeparture.webp" alt="imagen" srcset="">  
			  </div> 
			  <div class="work-image | margin-top-200">  <img src="/assets/home/02APlacetoDeparture.webp" alt="imagen" srcset="">  
			  </div>  
			   <video autoplay="" muted="" playsinline="" loop="" poster="/assets/home/01APlacetoDeparture.webp" class="video-scale margin-top-200 md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/01APlacetoDeparture.mp4" type="video/mp4" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
				<source src="/assets/home/01APlacetoDeparture.webm" type="video/webm" class="md-opjjpmhoiojifppkkcdabiobhakljdgm"> 
			   </video>  
			  <div class="fs-caption text-caption padding-block-caption"> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un lugar de partida</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> en China, fotografiado por Pedrinho 
				</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fonseca. </font><font style="vertical-align: inherit;">Imágenes de la instalación en Dubai por Edson Pavoni. 
			  </font></font></div> 
			 </div> 
			</div> 
		   </section> 
		<section> 
		 <div class="container"> 
		  <div class="selected-works"> 
		   <div class="secundary-title"> 
			<h1 class="fs-display fw-bold margin-top-600"> Poesía </h1> 
		   </div> 
		   <div class="artwork"> 
			<div class="work-title"> 
			 <h3 class="fs-title fw-bold margin-top-400"> In Honor of the Land </h3> 
			</div> 
			<div class="fstyle-label | fs-label margin-top-100">
			  2022 
			</div> 
			<div class="work-text | margin-top-200">
			  in honor of the land
			 <br> I pledge my attention
			 <br> to the mountains of colored minerals
			 <br> that raised themselves
			 <br> before there were any eyes to see
			 <br> how the sky painted them with light
			 <br> 
			 <br> in honor of the land
			 <br> I pledge my attention
			 <br> to the green fields that spoon
			 <br> the gray line of the horizon
			 <br> were the last wild horses run
			 <br> 
			 <br> in honor of the land
			 <br> I pledge my attention
			 <br> to the ocean of green trees
			 <br> the forest being protect by my ancestors
			 <br> and the xapiripë spirits
			 <br> 
			 <br> in honor of the land
			 <br> I pledge my attention
			 <br> to the rivers from below
			 <br> painted in gold by the nearest star
			 <br> drawing themselves
			 <br> in curved unproductive lines
			 <br> in no hurry to find the ocean
			 <br> 
			 <br> in honor of the land
			 <br> I also pledge my attention
			 <br> to the rivers of above
			 <br> swimming in the sky before being rain
			 <br> 
			 <br> and the rain, my friend,
			 <br> way before touching anything
			 <br> will seduce you with its perfume
			 <br> as Oxum, the Orixá of seduction does
			 <br> 
			 <br> in honor of the land
			 <br> I pledge my attention
			 <br> to the best roommates on this planet
			 <br> the other sentient beings
			 <br> having the best time when we are not around
			 <br> 
			 <br> in honor of the land
			 <br> I pledge my attention to outer space
			 <br> our environment above the sky
			 <br> with the lights from the past
			 <br> and the technology of the present
			 <br> helping me see our world as finite as I am
			 <br> 
			 <br> in honor of the land
			 <br> I pledge my attention.
			 <br> 
			</div> 
			<div class="videowrapper | margin-top-300"> 
			 <div class="video-scale" id="player-in-honor"> <iframe src="https://www.youtube.com/embed/nNmEZFtWXPs?origin=https://plyr.io&amp;iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1" allowfullscreen="" allowtransparency="" allow="autoplay" data-gtm-yt-inspected-6="true" id="871921842"></iframe> 
			 </div> 
			</div> 
			<div class="fs-caption text-caption padding-block-caption">
			  Video poetry, 2 min. 
			</div> 
		   </div> 
		   <div class="artwork"> 
			<div class="work-title"> 
			 <h3 class="fs-title fw-bold margin-top-400"> Half Oxum </h3> 
			</div> 
			<div class="fstyle-label | fs-label margin-top-100">
			  2019 
			</div> 
			<div class="work-text | margin-top-200">
			  behind the curtain of a waterfall
			 <br> standing half Oxum half mirror
			 <br> a woman showing no fear of being naked
			 <br> opens her eyes looking exactly into mine
			 <br> and without moving anything but her arm
			 <br> takes a rose crystal egg from
			 <br> the place in her body that bleeds
			 <br> 
			</div> 
		   </div> 
		  </div> 
		 </div> 
		</section> 
	   </main>

	   <section> 
		<div class="container-negative | f-style-negative margin-top-600"> 
		 <div class="container padding-block-200"> 
		  <div class="secundary-title"> 
		   <h1 class="fs-display fw-bold margin-top-600"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Una idea multiplanetaria para un futuro no distópico</font></font></h1> 
		  </div> 
		  <div class="artwork"> 
		   <div class="work-title"> 
			<h3 class="fs-title fw-bold margin-top-400"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un lugar de partida en Marte</font></font></h3> 
		   </div> 
		   <div class="fstyle-label | fs-label margin-top-100"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			 2030? 
		   </font></font></div> 
		   <div class="work-text | margin-top-200"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			 Más pronto de lo que esperamos, la humanidad se volverá multiplanetaria. </font><font style="vertical-align: inherit;">De hecho, Marte parece ser nuestro primer destino. </font><font style="vertical-align: inherit;">Si es así, significa que los humanos estarán muy separados unos de otros como nunca lo hemos estado en nuestra historia: eso es 250 millones de millas de distancia. </font><font style="vertical-align: inherit;">Podremos ver a los de Marte, escucharemos las voces de nuestros seres queridos, pero probablemente nunca podremos volver a tocarnos. 
			</font></font><br>
			<br> <span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">La misión de Place to Departure</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> es hacer posible el contacto humano interplanetario. </font><font style="vertical-align: inherit;">Pretende ser un puente duradero para que nunca perdamos el contacto. 
		   </font></font></div> 
		   <div class="work-image | margin-top-300"> 
			<img src="/assets/home/00APlacetoDepartureMars.webp" alt="imagen" srcset=""> 
		   </div> 
		   <div class="work-image | margin-top-200"> 
			<img src="/assets/home/00APlacetoDepartureMars2.webp" alt="imagen" srcset=""> 
		   </div> 
		   <div class="work-image | margin-top-200"> 
			<img src="/assets/home/00APlacetoDepartureMars3.webp" alt="imagen" srcset=""> 
		   </div> 
		   <div class="fs-caption text-caption padding-block-caption"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">
			 Planes de </font></font><span class="fstyle-label"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Un lugar de partida</font></font></span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> en asentamientos humanos en Marte.
			</font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Renderizado 3D por Guilherme Bullejos. 
		   </font></font></div> 
		   <br>
		   <br>
		   <br>
		   <br> 
		  </div> 
		 </div> 
		</div> 
	   </section>
</Layout>