---
import { GoogleAnalytics } from 'astro-google-analytics';
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google Analytics -->
  <GoogleAnalytics id="G-39CDTWZLJ4" />

  <meta charset="UTF-8" />
  <!-- OG -->
  <meta property="og:site_name" content="Edson Pavoni">
  <meta property="og:description" content="Will technology drive us apart or bring us closer together?" />
  <meta property="og:url" content="https://edsonpavoni.art/" />
  <meta property="og:image" content="/og-image.jpg" />
  <meta property="og:type" content="website" />

  <link rel="icon" href="https://edsonpavoni.art/favicon.svg" type="image/svg+xml">

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  
  <!-- preventing flash of unstyled content FOUC -->
  <style type="text/css">
    .hidden {display:none;}
  </style>
  <script src="https://code.jquery.com/jquery-3.6.4.slim.min.js" integrity="sha256-a2yjHM4jnF9f54xUQakjZGaqYs/V1CYvWpoqZzC2/Bw=" crossorigin="anonymous"></script>
  <script type="text/javascript">
    $('html').addClass('hidden');
    $(document).ready(function() {
      $('html').show();
     });  
   </script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Literata:ital,opsz,wght@0,7..72,300;0,7..72,700;1,7..72,400&family=Rufina:wght@700&display=swap"
      rel="stylesheet">
    </head>

<body>
  <header>
    <div class="container">
      <nav>
          <ul class="top-navigation flex">
            <li>
              <button class="language-nav-btn img-btns" aria-controls="lang-nav">
                  <img class="lang-icon-menu" src="/assets/_language.svg">
              </button>
            <li>
              <button class="primary-nav-btn img-btns" aria-controls="pri-nav">
                <img class="icon-lang" src="/assets/_menu.svg">
              </button>
          </ul>
      </nav>
    </div>

    
      <nav>
        <div class="primary-nav" data-visible="false">
          <div class="container">
          <button class="close-menu img-btns top-navigation flex">
            <img class="menu-icon-close" src="/assets/_close.svg">
          </button>
        </div>
            <div class="menu-wrapper">
              
              <div class="menu-navigation-en">
                <a href="/en/">works</a> <br>
                <a href="/en/about">about</a> <br>
                <a href="http://eepurl.com/irTtbU" target="_blank">newsletter</a> <br>
                <a href="/en/getintouch">contact</a>
              </div>

              <div class="menu-navigation-br">
                <a href="/br/">trabalhos</a> <br>
                <a href="/br/about">sobre</a> <br>
                <a href="http://eepurl.com/irTtbU" target="_blank">newsletter</a> <br>
                <a href="/br/getintouch">contato</a>
              </div>

              <div class="menu-navigation-es">
                <a href="/es/">obras</a> <br>
                <a href="/es/about">acerca</a> <br>
                <a href="http://eepurl.com/irTtbU" target="_blank">newsletter</a> <br>
                <a href="/es/getintouch">contacto</a>
              </div>

              <div class="menu-navigation-cn">
                <a href="/cn/">艺术品</a> <br>
                <a href="/cn/about">关于</a> <br>
                <a href="http://eepurl.com/irTtbU" target="_blank">通讯</a> <br>
                <a href="/cn/getintouch">接触</a>
              </div>

            </div>
        </div>
      </nav>
    </div>

      <nav>
        <div class="language-nav f-style-negative" data-visible="false">
          <div class="container">
            <button class="close-lang img-btns top-navigation flex">
              <img class="lang-icon-close" src="/assets/_closeNegative.svg">
            </button>
          </div>
              <div class="menu-wrapper f-style-negative">
                <div class="lang-navigation-en">
                  english <br>
                  <a href="/br">brasileiro</a> <br>
                  <a href="/es">español</a> <br>
                  <a href="/cn">中国人</a> <br>
                </div>

                <div class="lang-navigation-br">
                  <a href="/en">english</a> <br>
                  brasileiro<br>
                  <a href="/es">español</a> <br>
                  <a href="/cn">中国人</a> <br>
                </div>

                <div class="lang-navigation-es">
                  <a href="/en">english</a> <br>
                  <a href="/br">brasileiro</a> <br>
                  español<br>
                  <a href="/cn">中国人</a> <br>
                </div>

                <div class="lang-navigation-cn">
                  <a href="/en">english</a> <br>
                  <a href="/br">brasileiro</a> <br>
                  <a href="/es">español</a> <br>
                  中国人<br>
                </div>

              </div>
          </div>
        </nav>
      </div>
      
    </div>
  </header>

  <slot></slot>

  <script> import "../scripts/main.js"; </script>  
</body>

</html>
